<%= simple_form_for([:admin, worker], url: { action: :add_worker } ) do |f| %>
  <%= f.association :user, collection: User.all_firstname %>
  <% if group %>
    <div class="headline">
      <h4><%= Worker.human_attribute_name(:competition) %></h4>
    </div>
    <%= f.input :competition, as: :boolean, label: I18n.t('cafe_work.compete_battle') %>
    <%= f.association :groups, collection: group, as: :check_boxes %>
  <% end %>
  <%= f.button :submit, value: t('cafe_work.button_worker') %>
<% end %>

