<% provide(:title, t('cafe.title')) %>
<div class="headline">
  <h1><%= t('cafe.title') %></h1>
</div>

<div class="col-md-3 col-xs-12">
  <ul class="list">
    <li><%= link_to(t('cafe_shift.clear_search'), admin_cafe_shifts_path) %></li>
    <li><%= link_to(t('cafe_shift.setup_weeks'), setup_admin_cafe_shifts_path) %></li>
    <li><%= link_to(t('cafe_shift.setup_single'), new_admin_cafe_shift_path) %></li>
    <li><%= link_to(t('cafe_shift.ladybug'), ladybug_cafe_path) %></li>
    <li><%= link_to(t('cafe_shift.overview'), overview_admin_cafe_shifts_path) %></li>
  </ul>
</div>

<div class="col-md-9 col-xs-12 cafe">
  <%= grid(@cafe_shift_grid) do |g|
    g.row_attributes do |cwork|
      { id: dom_id(cwork) }
      if cwork.user.present?
        { class: 'with_worker' }
      end
    end
    g.column name: CafeShift.human_attribute_name(:start), attribute: 'start' do |shift|
      l(shift.start, format: :weekday)
    end
    g.column name: CafeShift.human_attribute_name(:lv), attribute: 'lv'
    g.column name: CafeShift.human_attribute_name(:lp), attribute: 'lp'
    g.column name: CafeShift.human_attribute_name(:pass), attribute: 'pass'
    g.column name: model_name(CafeWorker), assoc: :user, attribute: 'id', filter: false do |shift|
      if shift.user.present?
        t(:yes)
      else
        t(:no)
      end
    end
    g.column name: t(:show) do |shift|
      link_to(t('show'), admin_cafe_shift_path(shift))
    end
    g.column name: t('remove') do |shift|
      if shift.user.nil?
        link_to(t('remove'), admin_cafe_shift_path(shift), remote: true,
                method: :delete, html: { id: dom_id(shift) })
      end
    end
  end -%>
<span id="status"></span>
</div>
