<% provide(:title, t('cafe.title')) %>
<div class="col-md-8 col-md-offset-2 col-xs-12 reg-page">
  <div class="headline">
    <h1><%= t('cafe_shift.setup_weeks') %></h1>
  </div>

  <%= simple_format(t('cafe_shift.admin.setup_fill_date_preview')) %>
  <%= simple_format(t('cafe_shift.admin.setup_single')) %>
  <%= link_to(t('cafe_shift.single'), new_admin_cafe_shift_path, class: 'btn secondary') %>
  <hr>
  <%= render 'setup_form' %>
  <hr>
</div>
