<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>

  <%= render 'form', page: @page %>
  <hr>
  <%= link_to(t('.show'),
              page_path(@page),
              class: 'btn secondary') %>

  <%= link_to(t('.administrate_pages'),
              admin_pages_path,
              class: 'btn secondary') %>
  <hr>
  <%= link_to(t('.new_page_element'),
              new_admin_page_page_element_path(@page),
              class: 'btn primary') %>
  <%= link_to(t('.all_page_elements'),
              admin_page_page_elements_path(@page),
              class: 'btn secondary') %>
  <hr>

  <%= render '/admin/page_elements/image_preview', page: @page %>
</div>
