<% provide(:title, t('cafe.title')) %>
<div class="headline">
  <h1><%= t('cafe.title') %></h1>
</div>

<div class="col-md-2 col-xs-12">
      <%= link_to(t('cafe.competition'), competition_cafe_path, class: 'btn secondary') %>
    <% if can?(:manage, CafeShift) %>
      <%= link_to(t(:admin), admin_cafe_shifts_path, class: 'btn secondary') %>
    <% end %>
    <% if can?(:ladybug, CafeShift) %>
      <%= link_to(t('cafe.ladybug'), ladybug_cafe_path, class: 'btn secondary') %>
    <% end %>
  </ul>
</div>

<div class="col-md-10 col-xs-12">
  <div id='cafe-calendar'></div>
  <ul class="list center">
    <li><%= t('cafe.white_color') %></li>
    <li><%= t('cafe.orange_color') %></li>
    <li><%= t('cafe.green_color') %></li>
    </ul>
</div>
