<% description(t('.description')) %>
<% keywords(t('.keywords')) %>

<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-2 col-xs-12">
  <%= link_to(t('.competition'), competition_cafe_path, class: 'btn primary') %>

  <% if can_administrate?(:index, CafeShift) %>
    <%= link_to(t('.admin'), admin_cafe_shifts_path, class: 'btn secondary') %>
  <% end %>

  <% if can_administrate?(:ladybug, CafeShift) %>
    <%= link_to(t('.ladybug'), ladybug_cafe_path, class: 'btn secondary') %>
  <% end %>
</div>

<div class="col-md-10 col-xs-12">
  <div id='cafe-calendar'></div>
  <ul class="list center">
    <li><%= t('.white_shift') %></li>
    <li><%= t('.orange_shift') %></li>
    <li><%= t('.green_shift') %></li>
  </ul>
</div>
