<div class='col-md-8 col-md-offset-2 col-sm-12 reg-page'>
  <div class="headline">
    <h2><%= t('.contact_information') %></h2>
  </div>
  <%= simple_format(t('.instruction')) %>
  <div class='margin-bottom-20'>
    <%= simple_form_for(:ladybug, { url: ladybug_cafe_path, method: :get }) do |f| %>
      <%= f.input :date, as: :date_picker, input_html: { value: @date.iso8601 },
                         label: t('.choose_date') %>
      <%= f.button :submit, t('.submit') %>
    <% end %>
  </div>
  <div class='margin-bottom-20'>
    <% if @cafe_shifts %>
      <table class='table-striped table-bordered table'>
        <thead>
          <tr>
            <th><%= CafeShift.human_attribute_name(:id) %></th>
            <th><%= CafeShift.human_attribute_name(:pass) %></th>
            <th><%= model_name(CafeWorker) %></th>
            <th><%= User.human_attribute_name(:phone) %></th>
          </tr>
        </thead>
        <tbody>
          <% @cafe_shifts.each do |shift| %>
            <tr>
              <td><%= link_to(shift.id, shift) %></td>
              <td><%= shift.pass %></td>
                <td><%= user_link(shift.user) %> </td>
                <td><%= shift.user.try(:phone) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <%= link_to(t('.to_hilbert'), cafe_path, class: 'btn secondary') %>
</div>
