<% provide(:title, 'Verktyg') %>
<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h2><%= 'Nytt verktyg' %></h2>
  </div>
  <%= simple_form_for(@tool) do |f|%>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.button :submit %>
  <% end %>
</div>
