<% title(t('.title')) %>
<div class="col-md-8 col-md-offset-2 col-sm-12">
  <div class="headline">
    <h1><%= @tool.title %></h1>
  </div>

  <%= simple_format(@tool.description) %>
  <p>
    <b><%= Tool.human_attribute_name(:total) %>: </b>
    <%= @tool.total %>
  </p>
  <p><b><%= t('.free') %>: </b><%= @tool.free %></p>

  <div class="headline">
    <h3><%= t('.rented') %></h3>
  </div>

  <ul class="list-group">
    <% @rent.each do |rent| %>
      <%= link_to(edit_admin_tool_tool_renting_path(rent.tool, rent), class: 'list-group-item') do %>
        <p class="list-group-item-text">
          <i><%= ToolRenting.human_attribute_name(:lend_date) %>:</i>
          <%= rent.created_at.strftime(("%Y-%m-%d")) %>
          <i><%= ToolRenting.human_attribute_name(:return_date) %>:</i>
          <%= rent.return_date %>
        </p>
      <% end %>
    <% end %>
  </ul>
</div>
