<div class="row">
  <h2 class="headline headline-md">
    <%= @event.title %>
  </h2>
  <div class="col-md-8">
    <div class="col-md-9 col-xs-12">
      <div class="col-md-12">
        <span class="time">
          <%= @event.p_date %>
        </span>
        <span class="location">
          <%= @event.location %>
        </span>
        <%= simple_format(@event.description) %>
      </div>
      <div class="col-md-12">
        <%= render 'admin/events/info', event: @event %>
      </div>
      <div class="col-md-12">
      <h3>Anmälda</h3>
        <ol class="registrations-list">
          <% @event.event_registrations.each do |reg| %>
            <li><%= link_to(reg.user, user_path(reg.user)) %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <% if @event.image? %>
      <%= image_tag(@event.image.url, class: "img-responsive event-image") %>
    <% end %>
  </div>
</div>

<% if can_administrate?(:edit, @event) %>
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <%= link_to(t(:edit, attr: nil), edit_admin_event_path(@event), class: "btn btn-default") %>
    <%= link_to(t(:index, attr: nil), admin_events_path, class: "btn btn-default") %>
  </div>
<% end %>
