<div class="headline">
  <h1><%= title(@event.title) %></h1>
</div>

<div class="col-md-3 col-sm-12">
  <%= link_to(t('.edit_event'), edit_admin_event_path(@event),
                                class: 'btn primary') %>
  <%= link_to(t('.all_events'), admin_events_path,
                                class: 'btn secondary') %>

  <%= food_preferences_button(params, @event) %>
  <%= answers_button(params, @event) %>

  <hr>

  <button class="wg-external-submit-button btn primary" data-grid-name="grid">
    <%= t('wice_grid.filter') %>
  </button>

  <button class="wg-external-reset-button btn secondary" data-grid-name="grid">
    <%= t('wice_grid.reset_filter') %>
  </button>
</div>

<div class="col-md-9 col-sm-12">
  <div class="col-md-12">
    <span class="time">
      <%= time_range(@event.starts_at, @event.ends_at, format: :long) %>
    </span>
    <span class="location">
      <%= @event.location %>
    </span>
    <%= markdown(@event.description) %>
  </div>
  <div class="col-md-12">
    <%= render '/events/info', event: @event %>
  </div>
</div>
<div class="col-md-12 col-sm-12">
  <div class="headline">
    <h2><%= t('.registered') %></h2>
  </div>

  <%= render('/admin/event_registrations/attending_grid',
             registration_grid: @attending_grid,
             event: @event) %>
  <hr>
  <div class="headline">
    <h2><%= t('.reserves') %></h2>
  </div>

  <%= render('/admin/event_registrations/attending_grid',
             registration_grid: @reserve_grid,
             event: @event) %>


</div>

