<% provide(:title, 'Val') %>
<% if @election.view_status != 1 %>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3 reg-page">
          <div class="headline headline-md"><h1>Nominering till<br><%=@election.title %></h1></div>
          <div id="status">
          </div>
          <div id="nomination-form">
            <div class="margin-bottom-20">
              <h4>Nominera någon som du tror skulle passa bra på en post.</h4>
              <h4>Ett mejl skickas till den nominerade personen.</h4>
              <%= simple_format(@election.nomination_status) %>
            </div>
            <div class="margin-bottom-20">
              <%= render 'form', election: @election, nomination: @nomination%>
            </div>
          </div>
          <%= link_to 'Tillbaka', elections_path, class: "btn-u btn-u-small" %>
        </div>
      </div>
    </div>
<% else %>
    <div class="coming-soon">
      <h2><%= label_tag 'Nomineringar:', nil, :class => 'reg-header' %></h2>
      <%= render 'elections/countdown' %>
      <%= link_to image_tag("layout/f.svg", class: "val-logo"), elections_path %>
    </div>
<% end %>
