<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<%if attachments.inline['hilbert.jpg']%>
  		<%= image_tag attachments['hilbert.jpg'].url %>
  	<%end%>  	
  	<h3> Hej <%=@cafe_work.name %></h3>
			<p>Du har skrivit upp dig för att arbeta i Hilbert Café med följande uppgifter (ID: <%=@cafe_work.id%>).</p>
			<table class="table">
			  <tbody>			   
			      <tr>
			      	<td>Namn:</td>
			      	<td><%=@cafe_work.name + ' ' + @cafe_work.lastname%></td>
			      </tr>
			      <tr>
			      	<td>Epost:</td>
			      	<td><%=@cafe_work.email%></td>
			      </tr>
			      <tr>
			      	<td>Telefon:</td>
			      	<td><%=@cafe_work.phone%></td>
			      </tr>
			      <tr>
			      	<td>Datum:</td>
			      	<td><%=@cafe_work.p_date%></td>
			      </tr>			      
			      <tr>
			      	<td>Länk:</td>
			      	<td><%=link_to(@cafe_work.p_url,@cafe_work.p_url)%></td>
			      </tr>
			      <%if !@cafe_work.access_code.nil?%>
			      	<tr>
				      	<td>Kod:</td>
				      	<td><%= @cafe_work.access_code%></td>
				      </tr>
			      <%end%>		        
			  </tbody>
			</table>
	    	<br>	    	
	    	<p>För att redigera dina uppgifter eller hoppa av så följer du länken.</p>
    		<p>Har du några frågor så svarar du enklast direkt på detta mejl.</p>
    		
	    	<p>Mvh,<br>
	    	Cafemästarna</p>   
  </body>
</html>