<div class="ads">
  <%# <!-- %>
  <div class="main-partner box ">
    <div class="headline">
      <h3><%= link_to(t('.main_partner'), 'https://www.ericsson.se/', :target => '_blank') %></h3>
    </div>
    <%= link_to 'https://www.ericsson.se/', :target => '_blank' do %>
      <%= image_tag('partner1.png') %>
    <% end %>
  <%# --> %>
  <div id="adCarou" class="carousel slide carousel-fade" data-ride="carou" data-interval="8000">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= link_to cafe_path do %>
          <%= image_tag('carousel/hilbert.jpg', class: 'ad-image') %>
        <% end %>
      </div>

      <div class="item">
        <%= link_to company_about_path do %>
          <%= image_tag('carousel/biz.jpg', class: 'ad-image') %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="weektorn box">
    <div class="headline">
      <h3><%= link_to(t('.weektorn'), weektorn_archive, target: '_blank') %></h3>
    </div>

    <%= simple_format(t('.weektorn_subscribe')) %>
    <%= link_to(t('.subscribe'), weektorn_signup, class: 'btn primary', target: '_blank')%>
    <p>
      <%= t('.weektorn_send_in') %>
      <%= contact_from_slug(slug: 'sanningsminister') %>
      <%= t('.weektorn_before_deadline') %>
    </p>
    <p>
      <%= link_to(t('.weektorn_read_online'), weektorn_archive) %>
    </p>
  </div>

  <div class="influence-container">
    <%= link_to influence_path do %>
      <%= image_tag('influence_poster.jpg') %>
    <% end %>
  </div>

  <div class="podcast box">
    <div class="headline">
      <h3><%= link_to(t('.podcast'), 'https://open.spotify.com/show/3jP2S2KKdgBUugBTgoB0B8?si=OXW59TL-SQGLyFWhVGXyWw', :target => '_blank') %></h3>
    </div>
    <p>
      <%= t('.podcast_listen') %>
      <%= contact_from_slug(slug: 'sanningsminister') %>
    </p>
    <p>
      <%= link_to(t('.podcast_spotify'), 'https://open.spotify.com/show/3jP2S2KKdgBUugBTgoB0B8?si=OXW59TL-SQGLyFWhVGXyWw', :target => '_blank') %>
    </p>
    <iframe src="https://open.spotify.com/embed-podcast/show/3jP2S2KKdgBUugBTgoB0B8" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>

  <div class="box">
    <div class="headline">
      <h3><%= link_to(t('.contact'), contacts_path) %></h3>
    </div>
    <p>
      <%= t('.contact_info') %>
      <%= link_to(t('.contact_info2'), contacts_path) %>
      <%= t('.contact_info3') %>
    </p>

    <b><%= t('.visit_address') %></b>
    <p>
      Matematikhuset<br>
      Sölvegatan 18, 223 62 Lund
    </p>

    <b><%= t('.post_address') %></b>
    <p>
      F-sektionen inom TLTH<br>
      Box 118, 221 00 Lund
    </p>
  </div>
</div>
