<% description(t('.description')) %>
<% keywords(t('.keywords')) %>
<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-10 col-xs-12">
  <%= simple_format(t('.first_paragraph'))%>
  <%= simple_format(t('.second_paragraph'))%>
  <%= simple_format(t('.third_paragraph'))%>
  <%= simple_format(t('.fourth_paragraph'))%>
</div>
