<% provide(:title, t('company.offer.title')) %>
<div class="col-md-12">
  <div class="headline">
    <h1>Vad vi erbjuder er</h1>
  </div>
  <%= simple_format(t('company.offer.first')) %>
  <%= simple_format(t('company.offer.second')) %>
  <%= simple_format(t('company.offer.third')) %>
  <%= contact_from_slug(slug: 'naringsliv') %>
</div>
<div class="col-md-12">
  <div class="tab-v1">
    <div class="headline">
      <%= simple_format(t('company.offer.our_offers')) %>
    </div>

    <ul class="nav nav-tabs">
      <li class="active">
        <%= link_to(t('company.offer.evening'), '#kvall', data: {toggle: 'tab'}) %>
      </li>
      <li>
        <%= link_to(t('company.offer.lunch'), '#lunch', data: {toggle: 'tab'}) %>
      </li>
      <li>
        <%= link_to(t('company.offer.marketing'), '#marknad', data: {toggle: 'tab'}) %>
      </li>
      <li>
        <%= link_to(t('company.offer.visits'), '#studie', data: {toggle: 'tab'}) %>
      </li>
      <li>
        <%= link_to(t('company.offer.nollning'), '#nollning', data: {toggle: 'tab'}) %>
      </li>
      <li>
        <%= link_to(t('company.offer.sponsoring'), '#spons', data: {toggle: 'tab'}) %>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane  fade in active" id="kvall">
        <div class="col-md-12">
          <%= simple_format(t('company.offer.evening_first')) %>

          <p><%= t('company.offer.evening_may_contain') %>:</p>
          <ul class="list">
            <li>Caselösning eller Workshop</li>
            <li>Pub</li>
            <li>Sittning</li>
            <li>Sportevent</li>
            <li>Föreläsning</li>
          </ul>

          <%= simple_format(t('company.offer.evening_last')) %>
        </div>
      </div>
      <div class="tab-pane fade in" id="lunch">
        <div class="col-md-12">
          <%= simple_format(t('company.offer.lunch_description')) %>
        </div>
      </div>
      <div class='tab-pane fade in' id='marknad'>
        <div class="col-md-12">
          <%= simple_format(t('company.offer.marketing_description')) %>
        </div>
      </div>
      <div class='tab-pane fade in' id='studie'>
        <div class="col-md-12">
          <%= simple_format(t('company.offer.visits_description')) %>
        </div>
      </div>
      <div class='tab-pane fade in' id='nollning'>
        <div class="col-md-12">
          <%= simple_format(t('company.offer.nollning_description')) %>
        </div>
      </div>
      <div class='tab-pane fade in' id='spons'>
        <div class="col-md-12">
          <%= simple_format(t('company.offer.sponsoring_description')) %>
        </div>
      </div>
    </div>
  </div>
</div>
