<% description(t('.description')) %>
<% keywords(t('.keywords')) %>

<div class="col-md-12">
  <div class="headline">
    <h1><%= title(t('.headline')) %></h1>
  </div>

  <%= simple_format(t('.first')) %>
  <%= simple_format(t('.second')) %>
  <%= simple_format(t('.third')) %>
  <%= simple_format(t('.fourth')) %>
  <%= simple_format(t('.contact_if_interested')) %>

  <p>
    <%= contact_from_slug(slug: 'naringsliv') %>
  </p>

  <%= simple_format(t('.offer')) %>
  <%= link_to(t('.we_offer'), company_offer_path, class: 'btn secondary') %>
</div>

<%= render 'company_programs' %>
