<div class="col-md-12">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>
  <div id="compCarou" class="carousel slide carousel-fade" data-ride="carou" data-interval="6000", style="float: right">
      <div class="carousel-inner" role="listbox">

        <div class="item active comppic">
            <%= image_tag('case1.jpg') %> 
        </div>

        <div class="item comppic">
            <%= image_tag('Lunchf.jpg') %>
        </div>

        <div class="item comppic">
            <%= image_tag('farad3.jpg') %> 
        </div>

        <div class="item comppic">
            <%= image_tag('case2.jpg') %>
        </div>

        <div class="item comppic">
            <%= image_tag('farad4.jpg') %> 
        </div>
      </div>
    </div>
  <b><%= simple_format(t('.more_information')) %></b>
  <%= simple_format(t('.third')) %>
  <%= simple_format(t('.first')) %>
  <%= simple_format(t('.contact_info')) %>
  <%= link_to(t('.contact_us'), href="/kontakter/56", class: 'btn secondary') %>
</div>
<div class="col-md-12">
  <div class="tab-v1">
    <div class="headline">
      <h2><%= t('.proposals') %></h2>
    </div>

    <b><%= simple_format(t('.second')) %></b>

    <div> <!-- Dessa är osynliga ifall stor skärm -->
          <ul class="nav nav-tabs mobileButton">
            <li>
              <%= link_to(t('.lunch'), '#lunch') %>
            </li>
            <li>
              <%= link_to(t('.marketing'), '#marknad') %>
            </li>
            <li>
              <%= link_to(t('.evening'), '#kvall') %>
            </li>
            <li>
              <%= link_to(t('.stand'), '#monter') %>
            </li>
          </ul>
    </div>

    <div class="box block3" id="lunch">
      <div class="headline">
        <h3><%= link_to(t('.lunch')) %></h3>
        <%= simple_format(t('.lunch_description')) %>
      </div>
    </div>
    
    <div class="box block3" id="marknad">
      <div class="headline">
        <h3><%= link_to(t('.marketing')) %></h3>
        <%= simple_format(t('.marketing_description')) %>
      </div>
    </div>

    <div class="box block3" id="kvall">
      <div class="headline">
        <h3><%= link_to(t('.evening')) %></h3>
        <%= simple_format(t('.evening_first')) %>
      </div>
    </div>

    <div class="box block3" id="monter">
      <div class="headline">
        <h3><%= link_to(t('.stand')) %></h3>
        <%= simple_format(t('.stand_description')) %>
      </div>
    </div>

    </div>
  </div>
</div>
