<% description(t('.description')) %>
<% keywords(t('.keywords')) %>
<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<%= simple_format(t('.what_a_cookie_is')) %>
<%= simple_format(t('.what_a_cookie_is_for')) %>
<%= simple_format(t('.not_used_to_identify_user')) %>

<p>
  <%= t('.you_may_block') %>
  <%= link_to('Mina Cookies', 'http://www.minacookies.se') %>.
</p>
