<div class="headline">
  <h1><%= t('cookies.title') %></h1>
</div>
<%= simple_format(t('cookies.general.first')) %>
<%= simple_format(t('cookies.general.second')) %>
<%= simple_format(t('cookies.general.third')) %>
<p>
<%= t('cookies.general.fourth') %> <%= link_to('Mina Cookies', 'http://www.minacookies.se') %>.
</p>
