<%= content_for :pre_content do %>
  <div class="carousel slide carousel-v1 margin-bottom-20 margin-top-20" id="myCarousel-1">
    <div class="carousel-inner">
      <div class="item active">
        <div class="start-background">
          <div class="container">
            <h1><%= t('front.welcome') %></h1>
            <p><%= t('front.below_welcome') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="col-md-7 col-sm-12">
  <%= render @start_page.notices %>
</div>

<div class="col-md-5 col-sm-12">
  <%= render '/events/stream', events: @start_page.events %>
  <div class="headline headline-md">
    <h3><%= models_name(News) %></h3>
  </div>
  <%= render @start_page.news%>
  <%= link_to news_index_path do%>
    <%= fa_icon('plus') %> <%= t('news.more') %>
  <% end %>
</div>
