<% description(t('.description')) %>
<% keywords(t('.keywords')) %>
<%= content_for :pre_content do %>
  <div class="carousel slide carousel-v1 margin-bottom-20 margin-top-20" id="myCarousel-1">
    <div class="carousel-inner">
      <div class="item active">
        <div class="start-background">
          <div class="container">
            <h1><%= t('.welcome') %></h1>
            <p><%= t('.description') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @start_page.countdown > Time.zone.now %>
  <div class="col-md-12 col-sm-12 col-xs-12 introduction countdown">
    <div class="col-xs-3">
      <%= image_tag('round-table/trumpet_flag_right.svg', class: 'img-responsive') %>
    </div>
    <div class="col-xs-6 text">
      <h1>
        <%= t('.introduction_countdown') %>
      </h1>
      <div class="timer"></div>
    </div>
    <div class="col-xs-3">
      <%= image_tag('round-table/trumpet_flag_left.svg', class: 'img-responsive') %>
    </div>
  </div>
<% end %>

<div class="col-md-7 col-sm-12 col-xs-12 start-page notices">

  <% cache_unless(can_administrate?(:manage, Notice),
                  [@start_page.notices, I18n.locale]) do %>
    <%= render @start_page.notices %>
  <% end %>
</div>

<div class="col-md-5 col-sm-12 col-xs-12">
  <% cache([@start_page.events, I18n.locale]) do %>
    <%= render '/events/stream', events: @start_page.events %>
  <% end %>

  <div class="headline">
    <h3><%= models_name(News) %></h3>
  </div>
  <% cache_unless(can_administrate?(:manage, News),
                  [@start_page.news, I18n.locale]) do %>
    <%= render @start_page.news %>
    <%= link_to news_index_path do%>
      <%= fa_icon('plus') %> <%= t('.more_news') %>
    <% end %>
  <% end %>
</div>

<%= javascript_tag do %>
  $(document).ready(
    $(".timer").countdown('<%= l(@start_page.countdown, format: '%Y/%m/%d %H:%M:%S %z') %>',
                          function(event) {
      $(this).html(event.strftime('%-d <%= t('.days') %> %H:%M:%S'));
    })
  );
<% end %>
