<%= content_for :pre_content do %>
  <div class="carousel slide carousel-v1 margin-bottom-20 margin-top-20" id="myCarousel-1">
    <div class="carousel-inner">
      <div class="item active">
        <div class="start-background">
          <div class="container">
            <h1>Välkommen till F-sektionen!</h1>
            <p><%=phrase('startsida')%></p>
          </div>
        </div>
      </div>                    
    </div>
  </div>	
<% end %>


<!--Mini News-->
<div class="col-md-4">
  <div class="search-blocks-top-orange">
    <h3>Nyheter</h3>
    <hr>                		
  </div>                	
  <div class="news-read-more">
    <i class="fa fa-plus"></i>
    <%= link_to 'Fler nyheter','/nyhet'%>
  </div>
</div>




<div class="col-md-8">
  <div class="search-blocks search-blocks-top-orange">
      <div class="row">
          <div class="col-md-4 search-img">
            <%= image_tag "http://www.riksdagen.se/ImageVaultFiles/id_185/cf_45/Kammaren_-_riksdagens_hj-rta.jpg", class: "img-responsive", image_link: "http://www.riksdagen.se/" %>
              <ul class="list-unstyled">
                 <li><i class="fa fa-briefcase"></i> Styrelsen</li>
                 <li><i class="fa fa-map-marker"></i> MH:A</li>
              </ul>
            </div>
          <div class="col-md-8">
              <h2><a href="#">F-sektionens vårterminsmöte</a></h2>
              <p>
                F-sektionens vårterminsmöte kommer att äga rum den 8 april kl 17:59 samt, vid behov, 
                den 10 april kl 17:59. Under vårterminsmötet kommer verksamhets- och revisionsberättelser samt frågan om den 
                avgångna styrelsens ansvarsfrihet behandlas. Funktionärer kommer även att väljas. Eventuella motioner och 
                propositioner rörande sektionens verksamhet behandlas också.
              </p>
          </div>
      </div>                            
  </div>
  <div class="search-blocks search-blocks-top-orange">
      <div class="row">
          <div class="col-md-4 search-img">
            <%= image_tag "http://4.bp.blogspot.com/-TdaR3oz88aU/TpI-_y03VJI/AAAAAAAAAJM/auwkL4cHq40/s1600/www.BancodeImagenesGratuitas.com-Cafe-11.jpg", class: "img-responsive", image_link: "http://www.tlth.se/kaffe" %>
              <ul class="list-unstyled">
                 <li><i class="fa fa-briefcase"></i> Cafét</li>
                 <li><i class="fa fa-map-marker"></i> Hilbert Café</li>
              </ul>
          </div>
          <div class="col-md-8">
              <h2><a href="#">Utskottskampen</a></h2>
              <p>
                Ställningen efter vecka 1 är:<br>
                1. Kulturministeriet - 39 poäng<br>
                2. Föset - 36 poäng<br>
                3. Sexmästeriet - 34 poäng<br>
                4. Styrelsen - 19 poäng<br>
                5. Caféet - 10 poäng<br>
                6. Studierådet - 9 poäng<br>
                7. FNU - 7 poäng<br>
                8. Staben - 6 poäng<br>
                9. Prylmästeriet - 4 poäng<br>
                10. Sanningsministeriet - 3 poäng<br>
                11. Valberedningen - 1 poäng<br>
                11. E-sektionens Förvaltningsutskott - 1 poäng<br>
                11. Revisionen - 1 poäng
              </p>
          </div>
      </div>                            
  </div>
</div>
