<%= title("Kontakt")%>
<div class="container">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<div class="search-blocks blocks-top-orange" style='text-aling:center'>
				<h2><a href="mailto:ordf@fsektionen.se"><%= fa_icon('envelope') %>Sektionens ordförande</a></h2>
				<h2><a href="mailto:styrelsen@fsektionen.se"><%= fa_icon('envelope') %>Styrelsen</a></h2>
				<h2><a href="mailto:spindelman@fsektionen.se"><%= fa_icon('envelope') %>Spindelman/Webmaster</a></h2>
				<h2><a href="mailto:libo@fsektionen.se"><%= fa_icon('envelope') %>Likabehandlingsombud</a></h2>
	       </div>
       </div>
	</div>
</div>
