<%= title("Kontakt")%>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="kontakt-choose">
					<%= form_tag kontakt_path, method: 'post' do %>
					<%= label_tag "Vem vill du kontakta?"%><br>
					<%= select_tag :id, options_from_collection_for_select(@kontaktlista,:id,:name,@id )%>
					<%= submit_tag 'Visa', name: nil%>
				<% end %>				
			</div>			
				<% if @kontakt != nil %>
				<%= phrase('kontakt'+@kontakt.name)%>
				<div class ="kontakt-form">								
					<%= form_tag kontakt_path, method: 'post' %>
					<%= label_tag 'Kontakta '+@kontakt.name%>					
						<div class="field">
							<%= label_tag "Namn"%></br>				
							<%= text_field_tag :name,'Fyll i namn', :required => true %></br>						
						</div>
						<div class="field">
							<%= label_tag "E-post"%></br>
							<%= text_field_tag :email, 'Epost', :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %></br>					
						</div>
						<div class="field">
							<%= label_tag "Meddelande"%></br>
							<%= text_area_tag :msg,'Meddelande', :required => true %></br>						
						</div>					
						<div class="field">																							
							<%= submit_tag "Skicka"%>
						</div>
					<% end %>
				</div>
		</div>		
	</div>
</div>
