<%= title("Kontakt")%>
<%= render 'phrasing/initializer'%>
<div class="container content">
	<div class="row margin-bottom-30">
		<div class="col-md-6 col-md-offset-3 mb-margin-bottom-30">
			<div class="input-group margin-bottom-20">
					<%= form_tag kontakt_path, method: 'post' do %>
						<%= label_tag "Vem vill du kontakta?"%><br>
						<%= select_tag :id, options_from_collection_for_select(@kontaktlista,:id,:name,@id ),:class => 'form-control'%>
						<%= submit_tag 'Visa', name: nil,:class => 'btn-u btn-u-orange'%>
			</div>
					<% if @kontakt %>
					<div class="tag-box tag-box-v2">											
							<%= phrase('kontakt'+@kontakt.name)%>
					</div>						
					<% end %>			
		<% if @kontakt %>
			<div class="col-md-12  reg-page">	
				<div class ="kontakt-form">								
					<%= form_tag kontakt_path, method: 'post' %>									
						<div class="input-group margin-bottom-20">
							<%= label_tag "Namn"%></br>				
							<%= text_field_tag :name,nil, :required => true , :class=> 'form-control'%></br>						
						</div>						
						<div class="input-group margin-bottom-20">
							<%= label_tag "E-post"%></br>
							<%= text_field_tag :email, nil, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}',:class => 'form-control' %></br>					
						</div>
						<div class="input-group margin-bottom-20">
							<%= label_tag "Meddelande"%></br>
							<%= text_area_tag :msg,nil, :required => true , :class => 'form-control', :size => '100x10'%></br>						
						</div>					
						<div class="input-group">																							
							<%= submit_tag "Skicka", :class => 'form-control btn-u btn-u-orange'%>
						</div>
					<% end %>
				</div>
			</div>
			<% end %>
		</div>		
	</div>
</div>
