<% provide(:title, t(:about)) %>
<h1><%= t(:about) %></h1>
<div class="search-blocks search-blocks-top-orange">
  <div class="col-md-8 col-xs-12">
    <%= simple_format(t(:about_us_first))%>
    <%= simple_format(t(:about_us_second))%>
    <%= simple_format(t(:about_us_third))%>
  </div>
  <div class="col-md-4 col-xs-12">
    <%= render Menu.where(location: 'guild') %>
  </div>
</div>
