<%= render 'phrasing/initializer'%>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Kärnstyrelsen</h1>
			<div class="search-blocks search-blocks-top-orange">
				<div class="col-md-12">
					<div class="row">
						<!-- <div class="col-md-0">
							<%=phrase('styrelse1')%>
						</div> <!-- col-md-3 -->
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6">
									<div class="headline headline-md"><h4>Ordförande: <br><b>Johan Andersson</b> <a href="mailto:ordf@fsektionen.se"><i class="fa fa-envelope"></i></a></h4></div>
									<%=phrase('styrelseordf')%>
									<%= image_tag'profpics/Johan.png', :class => "profile_img"%>
									<hr>						
								</div>
								<div class="col-md-6">
									<div class="headline headline-md"><h4>Vice-ordförande <br><b>Fabian Ågren</b> <a href="mailto:viceordf@fsektionen.se"><i class="fa fa-envelope"></i></a></h4></div>
									<%=phrase('styrelseviceordf')%>
									<%= image_tag'profpics/Fabian.png', :class => "profile_img"%>
									<hr>
								</div>
							</div><!--row -->
							<div class="row">
								<div class="col-md-6">
									<div class="headline headline-md"><h4>Kassör: <br><b>Malin Petersén </b> <a href="mailto:kass@fsektionen.se"><i class="fa fa-envelope"></i></a></h4></div>
									<%=phrase('styrelsekassör')%>
									<%= image_tag'profpics/Malin.png', :class => "profile_img"%>
									<hr>
								</div>
								<div class="col-md-6">
									<div class="headline headline-md"><h4>Sekreterare: <br><b>Daniel Damberg</b> <a href="mailto:sekreterare@fsektionen.se"><i class="fa fa-envelope"></i></a></h4></div>
									<%=phrase('styrelsesekr')%>
									<%= image_tag'profpics/Daniel.png', :class => "profile_img"%>
									<hr>
								</div>
							</div><!--row -->
						</div><!--col-md-6 -->		
					</div> <!-- row -->
				</div> <!-- col md-12 -->
			</div> <!-- Search-blocks -->
		</div> <!-- col-md-9 -->
	</div> <!-- row -->
</div> <!-- container -->