<h1>Sektionens utskott</h1>
<div>	
		<ul>
			<li><%=link_to "Cafémästeriet",:cafe %></li>
			<li><%=link_to "Föset",:fos %></li>
			<li><%=link_to "Kultuminsteriet",:km %></li>
			<li><%=link_to "Näringslivsutskottet",:fnu %></li>
			<li><%=link_to "Prylmästeriet",:pryl %></li>
			<li><%=link_to "Sanningsministeriet",:sanning %></li>
			<li><%=link_to "Sexmästeriet",:sexmasteri %></li>
			<li><%=link_to "Styrelsen",:styrelse %></li>
			<li><%=link_to "Utbildningsministeriet",:utbildning %></li>
		</ul>
</div>