<div class="col-md-12 reg-page">
  <p>Mejl vid kandidatur av styrelsepost som intervjuas av valberedning</p>
  <h3><%= t('election_mailer.hello', name: 'Hilbert') %></h3>
  <p><%= t('election_mailer.candidate_email.you_have_candidated') %> Prylmästare.</p>

  <%= markdown(election.candidate_mail) %>
  <%= link_to(election.board_mail_link, election.board_mail_link) %>
  <p>
  <%= t('election_mailer.candidate_email.election_closes_at', date: l(election.close_general)) %>
  <br>
  <%= link_to('redigeringslänk', '#') %>
  </p>
  <p><%= t('election_mailer.candidate_email.sincerely') %></p>
</div>

<div class="col-md-12 reg-page">
  <p>Mejl vid kandidatur av vanlig post som väljs av valberedning</p>
  <h3><%= t('election_mailer.hello', name: 'Hilbert') %></h3>
  <p><%= t('election_mailer.candidate_email.you_have_candidated') %> Bilförman.</p>

  <%= markdown(election.candidate_mail) %>
  <%= link_to(election.mail_link, election.mail_link) %>
  <p>
  <%= t('election_mailer.candidate_email.election_closes_at', date: l(election.close_general)) %>
  <br>
  <%= link_to('redigeringslänk', '#') %>
  </p>
  <p><%= t('election_mailer.candidate_email.sincerely') %></p>
</div>

<div class="col-md-12 reg-page">
  <p>Mejl vid kandidatur av post som väljs av nomineringsgrupp</p>
  <h3><%= t('election_mailer.hello', name: 'Hilbert') %></h3>
  <p><%= t('election_mailer.candidate_email.you_have_candidated') %> Spindelman.</p>

  <%= markdown(election.candidate_mail_star) %>
  <p>
  <%= t('election_mailer.candidate_email.election_closes_at', date: l(election.close_general)) %>
  <br>
  <%= link_to('redigeringslänk', '#') %>
  </p>
  <p><%= t('election_mailer.candidate_email.sincerely') %></p>
</div>

<div class="col-md-12 reg-page">
  <p>Mejl vid nominering</p>

  <h3><%= t('election_mailer.hello', name: 'Hilbert') %></h3>
  <p><%= t('election_mailer.nominate_email.you_have_been_nominated') %>: Server</p>

      <p>
        <%= t('election_mailer.nominate_email.with_motivation') %>:<br>
        En motivering!
      <p>

  <%= markdown(election.nominate_mail)%>

  <%= simple_format(t('election_mailer.nominate_email.accept_before_closing',
                      date: l(election.close_general))) %>
  <p><%= t('election_mailer.nominate_email.via_web') %>:<br>

  <%= link_to('redigeringslänk', '#') %></p>

  <%= simple_format(t('election_mailer.nominate_email.sincerely')) %>
</div>
