<%= simple_form_for([:admin, @election]) do |f| %>
    <div class="col-md-6 col-xs-12">
      <%= f.input :title %>
      <%= f.input :start, as: :datetime_picker %>
      <%= f.input :end, as: :datetime_picker %>
      <%= f.input :closing, as: :datetime_picker %>
      <%= f.input :url %>
    </div>
    <div class="col-md-6 col-xs-12">
      <%= f.input :description %>
      <%= f.input :mail_styrelse_link %>
      <%= f.input :mail_link %>
      <%= f.input :visible %>
    </div>
    <%= f.button :submit, class: "btn btn-u" %>
  <% if @posts %>
    <div class="col-md-12">
      <%= f.association :posts, collection: @posts, input_html: { multiple: true }, as: :check_boxes %>
    </div>
  <% end %>
<% end %>
