<%= form_for([:admin, @election]) do |f| %>
    <%= render 'shared/form_errors', current: @election %>
    <div class="row">
      <div class="col-md-7">
        <%= f.label 'Titel', :class => 'reg-label' %>
        <div class="input-group margin-bottom-20">
          <%= f.text_field :title, :class => 'form-control' %>
        </div>
        <%= f.label 'Öppnar', :class => 'reg-label' %>
        <div class="input-group margin-bottom-20">
          <%= f.datetime_select :start, :class => 'form-control' %>
        </div>
        <%= f.label 'Stänger', :class => 'reg-label' %>
        <div class="input-group margin-bottom-20">
          <%= f.datetime_select :end, :class => 'form-control' %>
        </div>
        <%= f.label 'Url', :class => 'reg-label' %><br>
        T.ex. ht-14 (endast a-z, 1-9 och -)
        <div class="input-group margin-bottom-20">
          <%= f.text_field :url, :class => 'form-control' %>
        </div>
      </div>
      <div class="col-md-5">
        <%= f.label 'Beskrivning av valet', :class => 'reg-label' %>
        <div class="input-group margin-bottom-20">
          <%= f.text_area :description, :class => 'form-control', size: "40x2" %>
        </div>
        <% if @election.new_record? == false %>
            <%= link_to 'Lägg till fler texter', edit_admin_election_path(@election), class: "btn btn-u" %><br>
        <% end %>
        <%= f.label 'Länk för intervjutider - styrelseposter', :class => 'reg-label' %>
        <div class="input-group margin-bottom-20">
          <%= f.text_field :mail_styrelse_link, :class => 'form-control', size: "40x2" %>
        </div>
        <%= f.label 'Länk för intervjutider - övriga', :class => 'reg-label' %><br>
        Om ingen fylls i för styrelseposter så används denna.
        <div class="input-group margin-bottom-20">
          <%= f.text_field :mail_link, :class => 'form-control', size: "40x2" %>
        </div>
        <%= f.label 'Synlig?', :class => 'reg-label' %>
        <%= f.check_box :visible, :class => 'form-control' %>
      </div>
    </div>
    <% if @posts %>
        <hr>
        <%= label_tag 'Poster att söka', nil, :class => 'reg-header' %>
        <div class="row">
          <% @posts.in_groups_of(10, false) do |row_posts| %>
              <div class="col-md-4">
                <% row_posts.each do |post| %>
                    <div class="input-group margin-bottom-1">
                      <%= f.check_box(:post_ids, {multiple: true}, post.id, nil) %><%= f.label :post_ids, post.title, :value => false, :class => 'reg-label' %>
                    </div>
                <% end %>
              </div>
          <% end %>
        </div>
        <hr>
    <% end %>
    <div class="row margin-bottom-20">
      <%= f.submit "Spara", :class => 'btn-u' %>
    </div>
<% end %>