<div class="col-md-12">
  <div class="panel panel-orange margin-bottom-40">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%= fa_icon('tasks') %>
        <%= title(t('.title')) %>
      </h1>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th><%= Election.human_attribute_name(:title) %></th>
          <th><%= Election.human_attribute_name(:url) %></th>
          <th><%= Election.human_attribute_name(:visible) %></th>
          <th><%= Election.human_attribute_name(:start) %></th>
          <th><%= Election.human_attribute_name(:end) %></th>
          <th><%= Election.human_attribute_name(:current_election) %></th>
          <th><%= Election.human_attribute_name(:updated_at) %></th>
          <th>
            <%= link_to(t('.new_election'),
                        new_admin_election_path, class: 'btn secondary small') %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @elections.each do |election| %>
          <tr>
            <td><%= election.title %></td>
            <td><%= election.url %></td>
            <td><%= election.visible %></td>
            <td><%= l(election.start) %></td>
            <td><%= l(election.end) %></td>
            <td><%= (election == Election.current) ? t(:yes) : t(:no) %></td>
            <td><%= l(election.updated_at) %></td>
            <td><%= link_to(t(:edit), admin_election_path(election),
                            class: 'btn primary') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
