<div class="col-md-10 col-md-offset-1 col-xs-12 reg-page">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>

  <%= render 'form', election: @election %>

  <hr>

  <%= link_to(t('.show_election'), elections_path,
              class: 'btn primary') %>

  <%= link_to(t('.show_nominations'),
              nominations_admin_election_path,
              class: 'btn secondary') %>

  <%= link_to(t('.show_candidates'),
              candidates_admin_election_path,
              class: 'btn secondary') %>
</div>
