<% provide(:title, 'Val') %>
<div class="col-md-10 col-md-offset-1 col-sm-1+ col-sm-offset-1 reg-page">
  <%= label_tag 'Inställningar', nil, :class => 'reg-header' %>
  <%= render 'form' %>
  <hr>
  <% if (current_user) && current_user.admin? %>
      <%= link_to 'Radera val', admin_election_path(@election), class: 'btn btn-u',data: {confirm: 'Valet raderas och kan inte återställas, är du säker?'}, method: :delete %>
  <% end %>

  <%= link_to 'Visa valet (som användare ser det)', elections_path,class: 'btn btn-u' %>
  <%= link_to 'Visa nomineringar', nominations_admin_election_path,class: 'btn btn-u' %>
  <%= link_to 'Visa kandideringar', candidates_admin_election_path,class: 'btn btn-u' %>

</div>
