<% if message.message_comments.any? %>
  <h4>
    <%= fa_icon('comment') %>
    <%= t('.title') %>
  </h4>
  <% message.message_comments.each do |comment| %>
    <%= render '/messages/comment', comment: comment %>
  <% end %>
<% end %>
<div class="comment new">
  <%= simple_form_for([message, message.message_comments.build]) do |f| %>
    <%= f.input :content, as: :string, required: false, label: t('.new_comment') %>
  <% end %>
</div>
