<div class="message comment <%= comment.by_admin ? 'by-admin' : '' %>">
  <% if comment.user.avatar? %>
    <%= link_to(user_path(comment.user), class: 'pull-left') do %>
      <%= image_tag(comment.user.thumb_avatar, class: 'author img-responsive') %>
    <% end %>
  <% end %>
  <div class="body">
    <h4 class="heading">
      <strong>
        <%= user_link(comment.user) %>
      </strong>
      <small>
        <%= localized(comment.created_at, format: :short) %>
      </small>
    </h4>
    <%= simple_format(comment.content) %>
    <%= comment_destroy_link(comment, admin) %>
  </div>
</div>
