<div class="message <%= message.by_admin ? 'by-admin' : '' %>">
  <% admin |= false %>
  <% if message.user.avatar? %>
    <%= link_to(user_path(message.user), class: 'pull-left') do %>
      <%= image_tag(message.user.thumb_avatar, class: 'author img-responsive') %>
    <% end %>
  <% end %>
  <div class="body">
    <div class="heading">
      <strong>
        <%= user_link(message.user) %>
      </strong>
      <small>
        <%= localized(message.created_at, format: :short) %>
      </small>
      <strong>
        <%= message_receivers(message, admin) %>
      </strong>
    </div>
    <%= markdown(message.content) %>
    <%= message_edit_link(message, admin) %>
    <%= message_destroy_link(message, admin) %>
  </div>
  <div class="comments">
    <%= render '/messages/comments', message: message, admin: admin %>
  </div>
</div>
