<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-3 col-sm-12">
  <%= link_to(@group, group_path(@group), class: 'btn primary') %>
  <%= link_to(t('.all_messages'), group_messages_path(@group), class: 'btn secondary') %>
</div>

<div class="col-md-9 col-sm-12">
  <%= simple_form_for([@group, @message]) do |f| %>
    <%= f.input :content, as: :pagedown, input_html: {preview: true, rows: 10} %>
    <% if @message.errors[:groups].present? %>
      <div class="form-group has-error">
        <span class="help-block">
          <%= fa_icon('exclamation-circle') %>
          <%= @message.errors[:groups].to_sentence %>
        </span>
      </div>
    <% end %>
    <%= f.button :submit %>
  <% end %>
</div>
