<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :program %><br>
    <%= f.text_field :program %>
  </div>
  <div class="field">
    <%= f.label :start_year %><br>
    <%= f.number_field :start_year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
