<%= form_for(@profile) do |f| %>
  	<%= f.label 'Namn', :class => 'reg-label'%>		  
  	<div class="input-group margin-bottom-20">					
		<%= f.text_field :name, :class => 'form-control',:placeholder => 'Namn'%>		
  	</div>
  	<%= f.label 'Program', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">
  		<%= f.select :program, options_for_select([
	  	[" ","Oklart"],
	  	["Teknisk Fysik"],
	  	["Teknisk Matematik"],
	  	["Teknisk Nanovetenskap"],
	  	["Gäst"]],@profile.program),{}, html_options = {:class => "listBox form-control",:selected => :program , :style=>"float:left;"} %>
  	</div>			  
  	<%= f.label 'Började på programmet', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">
  		<%= f.number_field :start_year,:class => 'form-control' %>
  	</div>
  	<%= f.label 'Profilbild', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">		  	
  		<% if @profile.avatar%>
  			<%= image_tag(@profile.avatar(:thumb))%>
		<% end %>  		 	 		  	
  		<%= f.file_field :avatar, :class => 'form-control' %>
  	</div>
  	<% if @profile.posts.count > 0%>
	  	<%= f.label 'Visningspost', :class => 'reg-label'%>
	  	<div class="input-group margin-bottom-20">		  	  		 		  	
	  		<%= f.select :first_post, options_for_select(@profile.posts.collect{ |r| [r.title, r.id] }),:class => 'form-control'%>
	  	</div>
	<% end %>
  	
  	<div class="row">
  			<%= f.submit "Spara",:class => 'btn-u pull-right' %>	 				
  	</div>
<% end %>
