<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> hindar profilen från att sparas:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Namn:' %><br>
    <%= f.text_field :name %>
  </div>
   <div class="field">   
   		<%=f.label 'Program:'%><br>
	   <%= f.select :program, options_for_select([
	  	[" ","Oklart"],
	  	["Teknisk Fysik"],
	  	["Teknisk Matematik"],
	  	["Teknisk Nanovetenskap"],
	  	["Gäst"]],@profile.program),{}, html_options = {:class => "listBox",:selected => :program , :style=>"float:left;"} %> <br><br>
  	</div>  	
  <div class="field">
    <%= f.label 'Började år:' %><br>
    <%= f.number_field :start_year %>
  </div>
  <%if @profile.posts.size > 0%>
  	<div class="field">
  		<%= f.label 'Välj visningspost:'%>  (har du flera kan du bara visa 1 när du t.ex. skapar en nyhet.)<br>
  		<%= f.select :first_post, options_for_select(@profile.posts.collect{ |r| [r.title, r.id] })%><br>
  	</div>
  <% end %>
  <% if @profile.posts.count > 0%>  
  	<div class="field">
  		<%= f.label 'Profilbild'%>  (har du flera kan du bara visa 1 när du t.ex. skapar en nyhet.)<br>
  		<%= f.file_field :avatar %><br>
  		<% if @profile.avatar_file_name != nil%>
  			<%= image_tag @profile.avatar.url(:thumb) %>
  		<%end%>
 	</div>
  <% end %>
  <div class="actions"><br>
    <%= f.submit "Uppdatera profil"%>
  </div>
<% end %>
