<div class="container">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<p>
				<strong>Namn:</strong>
				<%= @profile.name %>
			</p>

			<p>
				<strong>Program:</strong>
				<%= @profile.program %>
			</p>

			<p>
				<strong>Började år:</strong>
				<%= @profile.start_year %>
			</p>
			
			<p>
				<strong>Roll:</strong>
				<%= User.find(@profile).role.title %>
			</p>
			<% if %>
			<%= link_to 'Redigera profil', edit_profile_path(@profile) %>
			<% end %>
		</div>		<!-- col-md-4 closes -->
		<div class="col-md-4">
		</div>
	</div>	<!-- row closes -->
</div><!-- container closes -->




