<div class="container">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<p>
				<strong>Namn:</strong>
				<%= @profile.name %>
			</p>

			<p>
				<strong>Program:</strong>
				<%= @profile.program %>
			</p>

			<p>
				<strong>Började år:</strong>
				<%= @profile.start_year %>
			</p>
			
			<%if @profile.posts.size == 1%>
			<p>
				<strong>Post:</strong>
				<%= Post.find(@profile.posts).title %>
			</p>
			<%elsif @profile.posts.size > 1%>
			<p>
				<strong>Poster:</strong>
				<ul>
				<%@profile.posts.each do |p|%>
				<li><%=Post.find(p).title%></li>
				<%end%>
				</ul>	
			</p>
			<%end%>
			<% if %>
			<%= link_to 'Redigera profil', edit_profile_path(@profile) %>
			<% end %>
		</div>		<!-- col-md-4 closes -->
		<div class="col-md-4">
		</div>
	</div>	<!-- row closes -->
</div><!-- container closes -->




