<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <h2> Hej <%=@candidate.profile.name %></h2>

		<p>Du har kandiderat till sektionsposten <%=@candidate.post.title%>.<br>						
			
		<%if @candidate.election.candidate_mail.blank? == false%>
		<p>Var vänlig fyll i en tid för intervju så fort som möjligt på:<br>
			<%=url_for(@candidate.election.candidate_mail)%></p>
    	<%end%>
    	
    	Du kan redigera dina kandidaturer <%= url_for(host: PUBLIC_URL, controller: 'elections',action: 'candidate') %><br>
    	fram tills valet stänger: <%=@candidate.election.end%>.<br>
    	
    	Mvh,
    	Valberedningen
  </body>
</html>