<% provide(:title, @candidate.election.to_s) %>

<%= content_for(:greeting) do %>
  <h2><%= t('election_mailer.hello', name: @candidate.user) %></h2>
<% end %>

<%= content_for(:main_content) do %>
  <p><%= "#{t('.you_have_candidated')} #{@candidate.position}." %></p>

  <% if @candidate.position.elected_by == Position::GENERAL %>
    <%= markdown(@candidate.election.candidate_mail) %>
    <%= candidate_mail_link_html(@candidate) %>
  <% else %>
    <%= markdown(@candidate.election.candidate_mail_star) %>
  <% end %>
  <p>
  <%= t('.election_closes_at',
        date: l(@candidate.election.position_closing(@candidate.position))) %>
      <br>
      <%= link_to(@candidate.p_url, @candidate.p_url) %>
  </p>
<% end %>

<% content_for(:bottom_signature) do %>
  <%= simple_format(t('.sincerely')) %>
<% end %>
