<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h3> Hej <%=@candidate.profile.name %></h3>
			<p>Du har kandiderat till sektionsposten <%=@candidate.post.title%>.</p>
			<%if @candidate.post.elected_by == "Terminsmötet"%>
				<%if (@candidate.election.candidate_mail)%>
					<%= simple_format(@candidate.election.candidate_mail)%>
				<%end%>
				<%if @candidate.post.styrelse && @candidate.election.mail_styrelse_link.present?%>
					<%=link_to(@candidate.election.mail_styrelse_link,@candidate.election.mail_styrelse_link)%><br><br>
				<%elsif @candidate.election.mail_link.present?%>
				 	<%=link_to(@candidate.election.mail_link,@candidate.election.mail_link)%><br><br>
				<%end%>
			<%else%>
				<%= simple_format(@candidate.election.candidate_mail_star)%>
			<%end%>
	    	<p>Valet stänger <%= @candidate.election.end%>,
	    	fram tills dess kan du redigera din kandidatur på:<br><%=link_to(@candidate.p_url,@candidate.p_url)%></p>
	    	
	    	<p>Mvh,<br>
	    	Valberedningen</p>   
  </body>
</html>
