<% provide(:header_title, @nomination.election.to_s) %>

<h3><%= t('election_mailer.hello', name: @nomination.name) %></h3>

<p class="lead"><%= "#{t('.you_have_been_nominated')} #{@nomination.post}." %></p>

<% if @nomination.motivation.present? %>
  <p>
    <%= t('.with_motivation') %>:<br>
  </p>
  <%= simple_format(@nomination.motivation, class: 'callout') %>
  <p>
<% end %>

<br>
<hr>
<br>

<%= markdown(@nomination.election.nominate_mail)%>

<%= simple_format(t('.accept_before_closing',
                    date: l(@nomination.election.post_closing(@nomination.post)))) %>
<br>

<%= link_to(t('.candidate'), @nomination.candidate_url, class: 'btn primary') %>
<br>
<br>

<%= simple_format(t('.sincerely')) %>
