<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= t('election_mailer.hello', name: @nomination.name) %></h3>
    <p><%= "#{t('.you_have_been_nominated')}: #{@nomination.post}." %></p>

    <% if @nomination.motivation.present? %>
      <p>
        <%= t('.with_motivation') %>:<br>
        <%= simple_format(@nomination.motivation) %>
      <p>
    <% end %>

  <%= markdown(@nomination.election.nominate_mail)%>

  <%= simple_format(t('.accept_before_closing',
                      date: l(@nomination.election.post_closing(@nomination.post)))) %>
  <p><%= t('.via_web') %>:<br>

  <%= link_to(@nomination.candidate_url, @nomination.candidate_url) %>

  <%= simple_format(t('.sincerely')) %>
  </body>
</html>
