<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
  <body>
    <h3> Hej <%=@nomination.name%></h3>
    <p>Du har blivit nominerad till sektionsposten <%= @nomination.post.title%>.<%if @nomination.motivation.present?%><br>
	Med motiveringen:</p>
    	<%=simple_format('"'+@nomination.motivation+'"')%><br>
	<%end%>
	<%= simple_format(@nomination.election.nominate_mail)%>
	<p>T채nk p책 att du m책ste tacka ja, dvs. kandidera, innan valet st채nger, <%=@nomination.election.end%>.</p>
	
	<p>Mvh,<br>
	Valberedningen</p>     
  </body>
</html>