<div class="col-md-6 col-md-offset-3 col-xs-12 reg-page">
  <div class="headline">
    <h2><%= t('devise.confirmations.instructions') %></h2>
  </div>
  <%= simple_form_for(resource, as: resource_name,
                      url: confirmation_path(resource_name), method: :post) do |f| %>
    <%= f.input :email %>
    <%= f.button :submit, t('devise.confirmations.instructions') %>
    <hr>
    <%= render 'devise/shared/links' %>
  <% end %>
</div>
