<% if menu.turbolinks && menu.blank_p %>
  <%= content_tag(:li, link_to(menu, menu.link, target: 'blank')) %>
<% elsif menu.turbolinks %>
  <%= content_tag(:li, link_to(menu, menu.link)) %>
<% elsif menu.blank_p %>
  <%= content_tag(:li, class: 'menu blank') do %>
    <%= link_to(menu.link, 'data-no-turbolink' => true, target: :blank) do %>
      <%= menu %>
      <span>
        <%= Menu.human_attribute_name(:blank_p) %>
      </span>
    <% end %>
  <% end %>
<% else %>
  <%= content_tag(:li, link_to(menu, menu.link, 'data-no-turbolink' => true )) %>
<% end %>
