<% if menu.turbolinks && menu.blank_p %>
  <li class="menu blank">
    <%= link_to(menu.link, target: :blank) do %>
      <%= menu %>
      <%= fa_icon('external-link') %>
    <% end %>
  </li>
<% elsif menu.turbolinks %>
  <li><%= link_to(menu, menu.link) %></li>
<% elsif menu.blank_p %>
  <li class="menu blank">
    <%= link_to(menu.link, 'data-no-turbolink': true, target: :blank) do %>
      <%= menu %>
      <%= fa_icon('external-link') %>
    <% end %>
  </li>
<% else %>
  <li>
    <%= link_to(menu, menu.link, 'data-no-turbolink': true) %>
  </li>
<% end %>
