<div class="col-md-12">
  <div class="panel panel-orange margin-bottom-40">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= fa_icon('tasks') %> <%= Menu.model_name.human(count: 2) %>
      </h3>
    </div>
    <table class="table">
      <thead>
        <tr>
          <%= content_tag(:th, 'Id') %>
          <%= content_tag(:th, Menu.human_attribute_name(:name)) %>
          <%= content_tag(:th, Menu.human_attribute_name(:location)) %>
          <%= content_tag(:th, Menu.human_attribute_name(:visible)) %>
          <%= content_tag(:th, Menu.human_attribute_name(:turbolinks)) %>
          <%= content_tag(:th, Menu.human_attribute_name(:blank_p)) %>
          <%= content_tag(:th, Menu.human_attribute_name(:link)) %>
          <%= content_tag(:th, Menu.human_attribute_name(:updated_at)) %>
          <%= content_tag(:th, link_to(t(:new, attr: Menu.model_name.human), new_menu_path, class: 'btn btn-u')) %>
        </tr>
      </thead>
      <tbody>
        <% for menu in @menues %>
          <tr>
            <%= content_tag(:td, menu.id) %>
            <%= content_tag(:td, menu.name) %>
            <%= content_tag(:td, menu.location) %>
            <%= content_tag(:td, menu.visible) %>
            <%= content_tag(:td, menu.turbolinks) %>
            <%= content_tag(:td, menu.blank_p) %>
            <%= content_tag(:td, link_to(menu.link, menu.link)) %>
            <%= content_tag(:td, menu.updated_at) %>
            <%= content_tag(:td, link_to(t(:edit, attr: nil), edit_menu_path(menu))) %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
