<div class='col-md-8 col-md-offset-2 col-sm-12 reg-page'>
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>

  <% if can_administrate?(:create, Meeting) %>
    <div class="alert alert-info">
      <%= t('.admin-info1') %>
      <%= t('.admin-info2') %>
      <%= link_to(t('.admin-link'), new_admin_meeting_path(room: @room)) %>
    </div>
  <% end %>

  <%= render 'form', meeting: @meeting %>

  <hr>
  <%= link_to('Alla bokningar', meetings_path(room: @room), class: 'btn secondary') %>
</div>
