<%= form_for(@faq) do |f| %>
    <%= render 'shared/form_errors', current: @faq %>
    <%= f.label 'Fråga', class: 'reg-label' %>
    <div class="input-group margin-bottom-20">
      <%= f.text_field :question, class: 'form-control', placeholder: 'Fråga' %>
    </div>
    <%= f.label 'Kategori', class: 'reg-label' %>
    <div class="input-group margin-bottom-20">
      <%= f.select(:category, [[], ['FAQ', 'main'], ['Bil', 'Bil'], ['Hilbert', 'Hilbert']], class: 'form-control') %>
    </div>
    <% if @editor %>
        <%= f.label 'Svar', class: 'reg-label' %>
        <div class="input-group margin-bottom-20">
          <%= f.text_area :answer, class: 'form-control', placeholder: 'Svar' %>
        </div>
    <% end %>
    <div class="row">
      <%= f.submit "Skicka", class: 'btn-u pull-right' %>
      <% if !@faq.new_record? %>
          <%= link_to(%(#{fa_icon('edit')} Ta bort fråga), faq_path(@faq), method: :delete, class: "btn-u btn-u-small") %>
      <% end %>
    </div>
<% end %>
