<% provide(:title, 'Hilbert Café') %>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <div class="headline headline-md"><h1>Välkommen till Hilbert Café - Läsvecka <%= @lv %> (BETA)</h1></div>
      Stöter ni på problem eller om det blir fel, hör gärna av er
      till <%= link_to('Cafemästare','http://fsektionen.se/kontakt/8') %>
      eller <%= render partial: 'contacts/contact', locals: {name: 'Spindelmän'} %>.
      <div class="col-md-9">
        <div id='hilbertkalender'></div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="headline headline-md"><h2>F.A.Q.</h2></div>
          <div class="panel-group acc-v1" id="answered">
            <% @faqs.each do |f| %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <div id="faq123">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#answered" href="#collapse<%= f.id %>">
                          <%= f.question %>
                        </a>
                      </div>
                    </h4>
                  </div>
                  <div id="collapse<%= f.id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <%= simple_format(f.answer) %>
                    </div>
                  </div>
                </div>
            <% end %>
            <ul class="list">
              <li><%= link_to("Ställ ny fråga", new_faq_path(category: "Hilbert")) %></li>
            </ul>
          </div>
        </div>
        <% if user_signed_in? %>
            <div class="row">
              <% if can? :manage, CafeWork %>
                  <div class="headline headline-md"><h2>Verktyg</h2></div>
                  <ul class="list">
                    <li><%= link_to("Gå till administrationssida", :admin_cafe_works) %></li>
                  </ul>
              <% end %>
              <% if can? :nyckelpiga, CafeWork %>
                  <ul class="list">
                    <li><%= link_to("Nyckelpiga", :nyckelpiga_cafe_works) %></li>
                  </ul>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
