<% provide(:title, 'Hilbert Café') %>
<div class='col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 reg-page'>
  <div class='coming-soon'>
    <h2><%= label_tag 'Cafebokning - nyckelpiga', nil, class: 'reg-header' %></h2>
  </div>
  <div class='row margin-bottom-20'>
    <%= simple_form_for(:nyckelpiga, { url: nyckelpiga_cafe_works_path, method: :get }) do |f| %>
      <%= f.input :date, as: :date_picker, input_html: { value: @date.iso8601 }, label: t('choose.date') %>
      <%= f.button :submit, class: "btn btn-u" %>
    <% end %>
  </div>
  <div class='row'>
    <% if @cafe_works %>
      <table class='table-striped table-bordered table'>
        <thead>
          <tr>
            <th>ID</th>
            <th>Pass</th>
            <th>Arbetare</th>
            <th>Telefon</th>
          </tr>
        </thead>
        <tbody>
          <% @cafe_works.each do |work| %>
            <tr>
              <td><%= link_to(work.id, work) %></td>
              <td><%= work.pass %></td>
              <% if work.has_worker? %>
                <td><%= link_to(work.user, user_path(work.user)) %></td>
                <td><%= work.user.try(:phone) %></td>
              <% else %>
                <td></td><td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <%= link_to(t('cafe_work.back_to_index'), :cafe_works, class: 'btn btn-u') %>
</div>
