<%= form_for(@cwork, :html => {  :autocomplete => 'off' }) do |f| %>
	<% if @cwork.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@cwork.errors.count, "error") %> gör att cafejobbet inte kan sparas:</h2>	
	      <ul>
	      <% @cwork.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
  	<% end %>
	<div class="row">
	  	<div class="col-md-6">
		  	<%= f.label 'Datum läsvecka 1', :class => 'reg-label'%>		  
		  	<div class="input-group margin-bottom-20">					
				<%= f.text_field :title, :class => 'form-control',:placeholder => 'Titel'%>		
		  	</div>
		  	<%= f.label 'Beskrivning', :class => 'reg-label'%>
		  	<div class="input-group margin-bottom-20">		  	  		 		  	
		  		<%= f.text_area :description, :class => 'form-control',:placeholder => 'Beskrivning',size: "40x5" %>
		  	</div>			  
		  	<%= f.label 'Plats', :class => 'reg-label'%>
		  	<div class="input-group margin-bottom-20">
		  		<%= f.text_field :location, :class => 'form-control',:placeholder => 'Plats',:autocomplete => 'off' %>
		  	</div>
		  	</div>
	  	<div class="col-md-6">
		  	<%= f.label 'Start', :class => 'reg-label'%>
		  	<div class="input-group margin-bottom-20">		  	  		 		  	
		  		<%= f.date_field :start_date, :class => 'form-control' %>
		  	</div>
		  	<%= f.label 'Slut', :class => 'reg-label'%>
		  	<div class="input-group margin-bottom-20">		  	  		 		  	
		  		<%= f.date_field :end_date, :class => 'form-control' %>
		  	</div>
	  	
		  	<%= f.label 'Kategori', :class => 'reg-label'%>
		  	<%if @kategorier%>
		  	<div class="input-group margin-bottom-20">
		  		<%for @cat in @kategorier%>
		  		<div class="input-group margin-bottom-1">
		  			<%= f.check_box(:album_category_ids,{multiple: true},@cat.id,nil)%><%= f.label :album_category_id, @cat.name, :value => false,:class => 'reg-label' %>
				</div>		
		  		<%end%>
		  		Just nu kan man välja flera, men bara för att man kan, så behöver man inte göra det! :) <br>
		  				     <%= link_to 'Lägg till fler kategorier?', settings_albums_path, target: "blank" %>	
		  	</div>
		  	<%end%>
		  	<%if @subcategories%>		  		 	
			<%= f.label 'Underkategorier', :class => 'reg-label'%>  		
		  		<%for @subcat in @subcategories%>
		  		<div class="input-group margin-bottom-1">
		  			<%= f.check_box(:subcategory_ids,{multiple: true},@subcat.id,nil)%><%= f.label :subcategory_id, @subcat.text, :value => false,:class => 'reg-label' %>
				</div>		
		  		<%end%>
		  		<%= link_to 'Lägg till fler underkategorier?', settings_albums_path, target: "blank" %><br>
	  		<%end%>
		  	<div class="row">
		  			<%= f.submit "Spara",:class => 'btn-u pull-right' %>	 				
		  	</div>
		</div>
	</div>
<% end %>