<% provide(:title, 'Setup - Hilbert Café') %>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 reg-page">
			<div class="headline headline-md"><h1>Skapa jobbpass</h1></div>									
				<%= form_for(@cwork, :html => {  :autocomplete => 'off' },method: :post, url: {action: 'setup_create'}) do |f| %>
					<% if @cwork.errors.any? %>
				    	<div id="error_explanation">
					    	<h2><%= pluralize(@cwork.errors.count, "error") %> gör att cafejobbet inte kan sparas:</h2>	
					      	<ul>
					      		<% @cwork.errors.full_messages.each do |msg| %>
					        		<li><%= msg %></li>
					      		<% end %>
					      	</ul>
					    </div>
				  	<% end %>
					<div class="row">	  	
						  	<%= f.label 'Datum läsvecka 1', :class => 'reg-label'%>		  
						  	<div class="input-group margin-bottom-20">					
								<%= f.datetime_select :work_day, minute_step: 60, :class => 'form-control'%>		
						  	</div>
						  	<%= f.label 'Läsperiod', :class => 'reg-label'%>		  
						  	<div class="input-group margin-bottom-20">					
								<%= f.number_field :lp, min: 1, max: 4, :class => 'form-control'%>		
						  	</div>
						  	<div class="input-group margin-bottom-20">
						  		<% if (@cworks.nil?) || (@cworks.count == 0)%>
					  				<%= f.submit "Förhandsgranska",:class => 'btn-u pull-right' %>
				  				<%else%>
				  					<%= f.submit "Skapa",:class => 'btn-u pull-right' %>
				  				<%end%>	 				
						  	</div>
					</div>					
				<% end %>				
				<% if (@cworks) && (@cworks.count > 0)%>
					<%@lv = 0%>
					<%@cworks.each do |w|%>
						
						<%if @lv != w.lv%>
							<div class="headline headline-md"><h3>Läsvecka <%=w.lv%></h3></div>
							<%@lv = w.lv%>
						<%end%>						
						<div class="row">							
							<%=w.print%> 
							<hr>
						</div>					
					<%end%>
				<%end%>				
				<%= link_to 'Tillbaka till cafebokning', :cafe_works, class: "btn btn-u" %>
		</div>
		
	</div>
</div>