<% provide(:title, 'Hilbert Café') %>
<div class="col-md-6 col-md-offset-3">
  <div class="headline headline-md"><h2>Cafejobb</h2></div>
  <div class="row margin-bottom-25 center">
    <div class="col-md-4">
      <div class="cafe-date">
        <%= fa_icon('calendar') %>
        <span><%= @cwork.work_day.day %></span>
        <small><%= @cwork.work_day.strftime('%m, %Y') %></small>
      </div>
    </div>
    <div class="col-md-4">
      <div class="cafe-date">
        <%= fa_icon('clock-o') %>
        <span><%= @cwork.t_start %></span>
        till
        <small><%= @cwork.t_stop %></small>
      </div>
    </div>
    <div class="col-md-4">
      <div class="cafe-date">
        <span style="margin-top:13%;">LV <%= @cwork.lv %></span>
        <span>LP <%= @cwork.lp %></span>
      </div>
    </div>
  </div>
  <div class="margin-bottom-25">
    <div class="headline headline-md"><h2>Jobbare</h2></div>
    <%= render 'shared/form_errors', current: @cwork %>
    <p id="status"><%= @cwork.status_text(current_user) %></p>
    <% case @cwork.status_view(current_user)
         when 0, 1 %>
        <div id="form_r">
          <%= render 'form' %>
        </div>
    <% when 3 %>
        <div id="authorization">
          <%= render 'authorization' %>
        </div>
        <div id="after_authorization" ,style="display:none;">
        </div>
    <% end %>
  </div>

  <div class="row">
    <% if current_user && current_user.moderator?(:cafejobb) %>
        <%= link_to("Administrera passet", admin_cafe_work_path(@cwork), class: "btn btn-u") %>
    <% end %>
    <%= link_to("Startsida för Hilbert", :hilbert, class: "btn btn-u") %>
  </div>
</div>
