<div class="headline">
  <h3><%= notice.title %></h3>
  <% if can_administrate?(:edit, notice) %>
    <%= link_to(edit_admin_notice_path(notice), class: 'pull-right') do %>
      <%= fa_icon('cog') %> <%= t('global.edit') %>
    <% end %>
  <% end %>
</div>

<div class="col-sm-12 margin-bottom-20 notice">
  <% if notice.image? %>
    <div class="col-sm-7 col-xs-12">
      <%= markdown(notice.description) %>
    </div>
    <div class="col-sm-5 col-xs-12">
      <%= image_tag(notice.image.large.url, class: 'img-responsive') %>
    </div>
  <% else %>
    <div class="col-sm-12 col-xs-12 maring-bottom-20">
      <%= markdown(notice.description) %>
    </div>
  <% end %>
</div>
