<div class="col-md-12 introduction">

  <div class="headline">
    <h1><%= title(@adventure_mission.title) %> - <%= @adventure_mission.index %></h1>
  </div>
<ul class="list-group">
<% if @adventure_mission.locked? %>
    <li class="list-group-item list-group-item-danger">
    <span class="badge"><%= icon('fa', 'lock') %></span>
    <%= t('.locked') %>
  </li>
  <% else %>
    <li class="list-group-item list-group-item-success">
    <span class="badge"><%= icon('fa', 'lock-open') %></span>
    <%= t('.not_locked') %>
  <% end %>

  <li class="list-group-item">
    <span class="badge"><%= @adventure_mission.max_points %></span>
    <%= AdventureMission.human_attribute_name(:max_points) %>
  </li>


  <% if @adventure_mission_group.present? %>
    <% @class = 'success' %>
    <% @icon = 'check' %>
    <% @icon_prefix = 'fas' %>
  <% else %>
    <% @class = 'danger' %>
    <% @icon = 'times' %>
    <% @icon_prefix = 'fas' %>
  <% end %>
  <li class="list-group-item list-group-item-<%= @class %>">
    <span class="badge"><%= icon(@icon_prefix, @icon) %></span>
    <%= t('.finished') %>
  </li>
  <% if @adventure_mission_group.present? %>
    <li class="list-group-item">
      <span class="badge"><%= @adventure_mission_group.points %></span>
      <%= t('.points') %>
    </li>
  <% end %>
</ul>

  <% if @adventure_mission.description.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">
      <h3 class="panel-title"><%= AdventureMission.human_attribute_name(:description) %></h3></div>
      <div class="panel-body">
        <%= markdown(@adventure_mission.description) %>
      </div>
    </div>
  <% end %>
  <hr>
  <% if current_user.mentor? %>
    <% if @adventure_mission_group.nil? %>
      <% if @adventure_mission.variable_points? %>
        <%= link_to t('.finish_mission'), new_adventure_mission_group_path(adventure_mission: @adventure_mission), method: 'get', class: 'btn primary' %>
      <% else %>
        <%= link_to t('.finish_mission'),
                    adventure_mission_groups_path(adventure_mission_group:
                                                    {
                                                      points: @adventure_mission.max_points,
                                                      adventure_mission_id: @adventure_mission.id,
                                                    }),
                                                  method: 'post',
                                                  class: 'btn primary' %>
      <% end %>
    <% else %>
      <% if !@adventure_mission.locked? %>
        <% if @adventure_mission.variable_points? %>
          <%= link_to t('.update_points'), edit_adventure_mission_group_path(@adventure_mission_group), method: 'get', class: 'btn primary' %>
        <% end %>
        <%= link_to t('.reset_points'), adventure_mission_group_path(@adventure_mission_group), method: 'delete', class: 'btn danger' %>
      <% end %>
    <% end %>
    <% end %>
    <%= link_to(t('adventures.show.index'), adventures_path, class: 'btn secondary') %>

</div>
