<%= simple_form_for([:admin, event]) do |f| %>
  <div class="tab-v1">
    <%= f.error_notification %>
    <ul class="nav nav-justified nav-tabs">
      <li class="<%= tab == :info ? 'active' : ''%>">
        <%= link_to(t('.info'), '#info', data: { toggle: :tab }) %>
      </li>
      <li class="<%= tab == :dates ? 'active' : ''%>">
        <%= link_to(t('.dates'), '#dates', data: { toggle: :tab }) %>
      </li>
      <li class="<%= tab == :registration ? 'active' : ''%>">
        <%= link_to(t('.registration'), '#registration', data: { toggle: :tab }) %>
      </li>
    </ul>
    <div class="tab-content">
      <div id="info" class="profile-edit tab-pane fade in <%= tab == :info ? 'active' : ''%>">
        <%= f.input :title_sv, wrapper_html: {class: 'inline half'} %>
        <%= f.input :title_en, wrapper_html: {class: 'inline half'} %>
        <%= f.input :short_sv, wrapper_html: {class: 'inline half'} %>
        <%= f.input :short_en, wrapper_html: {class: 'inline half'} %>
        <%= f.input :description_sv, as: :text %>
        <%= f.input :description_en, as: :text %>
        <%= f.input :location %>
        <%= f.input :image, as: :file %>
        <%= f.association :council, collection: Council.titles %>
        <%= f.input :category %>
      </div>

      <div id="dates" class="profile-edit tab-pane fade in <%= tab == :dates ? 'active' : ''%>">
        <%= f.input :starts_at, as: :datetime_picker %>
        <%= f.input :ends_at, as: :datetime_picker %>
        <%= f.input :all_day, as: :boolean %>
      </div>

      <div id="registration" class="profile-edit tab-pane fade in <%= tab == :registration ? 'active' : ''%>">
        <%= f.input :drink, as: :boolean %>
        <%= f.input :food, as: :boolean %>
        <%= f.input :cash, as: :boolean %>
      </div>
    </div>
  </div>
  <%= f.button :submit %>
<% end %>
