<%= simple_form_for([:admin, event]) do |f| %>
  <div class="tab-v1">
    <%= f.error_notification %>
    <ul class="nav nav-justified nav-tabs">
      <li class="<%= tab == :info ? 'active' : ''%>">
        <%= link_to(t('.info'), '#info', data: { toggle: :tab }) %>
      </li>
      <li class="<%= tab == :dates ? 'active' : ''%>">
        <%= link_to(t('.dates'), '#dates', data: { toggle: :tab }) %>
      </li>
      <li class="<%= tab == :other ? 'active' : ''%>">
        <%= link_to(t('.other_parts'), '#other', data: { toggle: :tab }) %>
      </li>
    </ul>
    <div class="tab-content">
      <div id="info" class="profile-edit tab-pane fade in <%= tab == :info ? 'active' : ''%>">
        <%= f.input :title_sv, wrapper_html: {class: 'inline half'} %>
        <%= f.input :title_en, wrapper_html: {class: 'inline half'} %>
        <%= f.input :short_sv, wrapper_html: {class: 'inline half'} %>
        <%= f.input :short_en, wrapper_html: {class: 'inline half'} %>
        <%= f.input :description_sv, as: :pagedown, input_html: { preview: true, rows: 10 } %>
        <%= f.input :description_en, as: :pagedown, input_html: { preview: true, rows: 10 } %>
        <%= f.input :location_sv, collection: Event.locations_sv,
                                  include_blank: false,
                                   input_html: {class: 'select2_tags'} %>
        <%= f.input :location_en, collection: Event.locations_en,
                                  include_blank: false,
                                  input_html: {class: 'select2_tags'} %>

        <% if event.image.present? %>
          <%= image_tag(event.thumb, class: 'img-responsive') %>
          <%= f.input :remove_image, as: :boolean %>
        <% end %>

        <%= f.input :image, as: :file %>
        <%= f.association :council, collection: Council.by_title,
                                    input_html: {class: 'select2'} %>
        <% if event.persisted? %>
          <%= f.association :categories, collection: Category.all,
                                         input_html: {class: 'select2'} %>
        <% else %>
          <%= simple_format(t('.categories_after_save')) %>
        <% end %>
      </div>

      <div id="dates" class="profile-edit tab-pane fade in <%= tab == :dates ? 'active' : ''%>">
        <%= f.input :starts_at, as: :datetime_picker, wrapper_html: {class: 'inline half'} %>
        <%= f.input :ends_at, as: :datetime_picker, wrapper_html: {class: 'inline half'} %>
        <%= f.input :all_day, as: :boolean, wrapper_html: {class: 'inline half'} %>
        <%= f.input :dot, collection: [[t('model.event.without_dot'), Event::WITHOUT],
                                       [t('model.event.single_dot'), Event::SINGLE],
                                       [t('model.event.double_dot'), Event::DOUBLE]],
                          input_html: {class: 'select2'},
                          hint: t('.dot_hint') %>
      </div>

      <div id="other" class="profile-edit tab-pane fade in <%= tab == :other ? 'active' : ''%>">
        <%= f.input :drink, as: :boolean, wrapper_html: {class: 'inline third'} %>
        <%= f.input :food, as: :boolean, wrapper_html: {class: 'inline third'} %>
        <%= f.input :cash, as: :boolean, wrapper_html: {class: 'inline third'} %>
      </div>
    </div>
  </div>
  <%= f.button :submit %>
<% end %>
