<% event ||= @event %>
<% errors = event.errors.any? %>

<%= render 'event_error' if errors %>
<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>
<div class="col-md-3 col-sm-12 <%= errors ? 'event-errors' : '' %>">
  <%= render '/admin/events/sidebar', event: @event, current: @tab %>
</div>

<div class="col-md-9 col-sm-12">
  <%= simple_form_for([:admin, @event]) do |f| %>
    <div class="tab-content">
      <%= f.button :submit %>
      <div id="texts" class="profile-edit tab-pane fade in <%= @tab == :event_texts ? 'active' : '' %>">
        <div class="headline">
          <h3><%= t('.texts') %></h3>
        </div>
        <%= render 'texts_form', form: f, event: @event %>
      </div>

      <div id="dates" class="profile-edit tab-pane fade in <%= @tab == :event_dates ? 'active' : '' %>">
        <div class="headline">
          <h3><%= t('.dates') %></h3>
        </div>
        <%= render 'dates_form', form: f, event: @event %>
      </div>
    </div>
  <% end %>
</div>
