<div class="col-md-8 col-md-offset-2 col-xs-12 reg-page">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>

  <%= render 'form', event: @event, tab: @tab %>

  <hr>
  <% if @event.signup? %>
    <%= link_to(t('.show_registrations'), admin_event_event_registrations_path(@event),
                                          class: 'btn primary') %>
  <% end %>
  <%= link_to(t('.destroy'), admin_event_path(@event),
                             method: :delete,
                             class: 'btn danger pull-right') %>
  <%= link_to(t('.show'), event_path(@event),
                          class: 'btn secondary') %>
  <%= link_to(t('.all_events'), admin_events_path,
                                class: 'btn secondary') %>
</div>
