<div class="col-md-12">
  <div class="panel panel-orange margin-bottom-40">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= fa_icon('tasks') %> <%= models_name(Event) %>
      </h3>
    </div>
    <table class="table">
      <thead>
        <tr>
          <%= content_tag(:th, 'Id') %>
          <%= content_tag(:th, Event.human_attribute_name(:title)) %>
          <%= content_tag(:th, Event.human_attribute_name(:location)) %>
          <%= content_tag(:th, Event.human_attribute_name(:category)) %>
          <%= content_tag(:th, Event.human_attribute_name(:starts_at)) %>
          <%= content_tag(:th, Event.human_attribute_name(:ends_at)) %>
          <%= content_tag(:th, Event.human_attribute_name(:all_day)) %>
          <%= content_tag(:th, Event.human_attribute_name(:updated_at)) %>
          <%= content_tag(:th, link_to(t(:new, attr: model_name(Event)),
                                       new_admin_event_path, class: 'btn default')) %>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <%= content_tag(:td, event.id) %>
            <%= content_tag(:td, link_to(event.title.try(:truncate, 20), event)) %>
            <%= content_tag(:td, event.location.try(:truncate, 20)) %>
            <%= content_tag(:td, event.category) %>
            <%= content_tag(:td, event.starts_at) %>
            <%= content_tag(:td, event.ends_at) %>
            <%= content_tag(:td, event.all_day ? t('yes') : t('no')) %>
            <%= content_tag(:td, event.updated_at) %>
            <%= content_tag(:td, link_to(t(:edit, attr: nil), edit_admin_event_path(event))) %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
