<div class="col-md-12">
  <div class="panel panel-orange margin-bottom-40">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= fa_icon('tasks') %> <%= models_name(Event) %>
      </h3>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th><%= Event.human_attribute_name(:title) %></th>
          <th><%= Event.human_attribute_name(:location) %></th>
          <th><%= Event.human_attribute_name(:category) %></th>
          <th><%= Event.human_attribute_name(:starts_at) %></th>
          <th><%= Event.human_attribute_name(:ends_at) %></th>
          <th><%= Event.human_attribute_name(:all_day) %></th>
          <th><%= Event.human_attribute_name(:updated_at) %></th>
          <th>
              <%= link_to(t(:new, attr: model_name(Event)),
                          new_admin_event_path, class: 'btn primary small') %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.id %></td>
            <td><%= link_to(event.title.try(:truncate, 20), event) %></td>
            <td><%= event.location.try(:truncate, 20) %></td>
            <td><%= event.category %></td>
            <td><%= l(event.starts_at) %></td>
            <td><%= l(event.ends_at) %></td>
            <td><%= event.all_day ? t('yes') : t('no') %></td>
            <td><%= l(event.updated_at) %></td>
            <td><%= link_to(t(:edit), edit_admin_event_path(event)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
