
<h2>Redigera användare</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label 'Användarnamn' %><br />
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label 'Epost' %><br />
  <%= f.email_field :email %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label 'Lösenord' %> <i>(lämna blankt om du inte vill ändra lösenord)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label 'Bekräfta lösenord' %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label 'Nuvarande lösenord' %> <i>(vi behöver ditt nuvarande lösenord för att kunna ändra dina uppgifter.)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Uppdatera" %></div><br>
<% end %>

<h3>Ta bort konto</h3>

<p><%= button_to "Ta bort mitt konto", registration_path(resource_name), :data => { :confirm => "Är du säker?" }, :method => :delete %></p>

<%= link_to "Tillbaka", :back %>

