<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<%= form_for(resource, :as => resource_name, :url => update_user_registration_path(resource), :html => { :method => :patch,:class => "reg-page" }) do |f| %>
			
			  	<%= f.label 'Redigera användare', :class => 'reg-header'%><br>
			  			  
			  	<div class="input-group margin-bottom-20">
					<span class="input-group-addon"><%= fa_icon('user')%></span>
					<%= f.text_field :username, :autofocus => true, :class => 'form-control',:placeholder => 'Användarnamn'%>		
			  	</div>
			  	<div class="input-group margin-bottom-20">
		  	  		<span class="input-group-addon"><%= fa_icon('envelope')%></span> 	 		  	
			  		<%= f.email_field :email, :class => 'form-control',:placeholder => 'E-postadress' %>
			  	</div>
			  	<%= f.label 'Fyll i nytt lösenord för att byta.', :class => 'reg-header'%>
		  	  	<div class="input-group margin-bottom-20">		  	  		
		  	  		<span class="input-group-addon"><%= fa_icon('lock')%></span> 	 		  	
			  		<%= f.password_field :password, :class => 'form-control',:placeholder => 'Nytt lösenord',:autocomplete => 'off' %>
			  	</div>
			  	<div class="input-group margin-bottom-20">
		  	  		<span class="input-group-addon"><%= fa_icon('lock')%></span> 	 		  	
			  		<%= f.password_field :password_confirmation, :class => 'form-control',:placeholder => 'Bekräfta lösenord' %>
			  	</div>
			  	<%= f.label 'Bekräfta ändringar med nuvarande lösenord', :class => 'reg-header'%>
			  	<div class="input-group margin-bottom-20">
		  	  		<span class="input-group-addon"><%= fa_icon('lock')%></span> 	 		  	
			  		<%= f.password_field :current_password, :class => 'form-control',:placeholder => 'Nuvarande lösenord' %>
			  	</div>
			  	
			  	<div class="row">
			  			<%= f.submit "Spara",:class => 'btn-u pull-right' %>	 				
		  	  	</div>
	  	  		<% end %>
		  	</div>
	  	</div>  		
	  	<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<%= form_for(resource, :as => resource_name, :url => admin_destroy_user_path(resource), :html => { :method => :delete,:class => "reg-page" }) do |f| %>				
	  				<%= devise_error_messages! %>
					<%= f.label 'Ta bort användare', :class => 'reg-header'%><br>			  			  
				  	<div class="input-group margin-bottom-20">
						<span class="input-group-addon"><%= fa_icon('lock')%></span>
						<%= f.password_field :currrent_password, :class => 'form-control',:placeholder => 'Nuvarande lösenord'%>		
				  	</div>
				  	<div class="row">
				  		<%= f.submit "Ta bort mitt konto", :data => { :confirm => "Är du säker?" },:class => 'btn-u pull-right'%>
			  		</div>
		  			<%= link_to "Tillbaka", :back %>
				<% end %>
			</div>
	</div>
</div>
