<h2>Registrera ny användare</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label 'Användarnamn' %><br />
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label 'Epost' %><br />
  <%= f.email_field :email, :id => "form-email" %></div>

  <div><%= label_tag "Personnummer (Används för att kontrollera att du är medlem i F-sektionen. Det sparas ej.)" %><br />
  <%= text_field_tag :civic, @civic %></div>

  <div><%= f.label 'Lösenord' %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label 'Bekräfta lösenord' %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Skicka in" %></div>
<% end %>

<%= render "devise/shared/links" %>
