<div class="col-md-6 col-md-offset-3 col-xs-12 reg-page">
  <div class="headline">
    <h2><%= t('devise.sign_up') %></h2>
  </div>
  <%= simple_form_for(resource, as: resource_name,
                      url: registration_path(resource_name)) do |f| %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.button :submit, id: 'user-submit' %>
    <hr>
    <%= render 'devise/shared/links' %>
  <% end %>
</div>
