<%= content_for :breadcrumbs do %>
  <h1 class="pull-left">Redigera dokumentsamlingen <i><%= @document_group.name %></i></h1>
  <ul class="pull-right breadcrumb">
    <li><a href="index.html">Hem</a></li>
    <li><a href="">Administration</a></li>
    <li class="active">Redigera dokumentsamling</li>
  </ul>
<% end %>

<div class="col-md-6">
  <header class="headline headline-md"><h3>Uppdatera dokumentsamlingen</h3></header>
  <%= render partial: 'form' %>
</div>

<div class="col-md-12">
  <section>
    <header class="headline headline-md"><h3>Dokument i dokumentsamlingen</h3></header>
    <%= render(partial: 'documents') %>
  </section>

  <section>
    <%= link_to 'Ladda upp nytt dokument', new_document_path(document_group: @document_group.id), class: 'btn btn-u' %>
    <%= link_to 'Tag bort dokumentsamling', @document_group, method: :delete, data: { confirm: 'Är du helt säker på att du vill göra detta?' }, class: 'btn btn-u' %>
    <%= link_to 'Tillbaka till styrdokument', steering_documents_path, class: 'btn btn-u' %>
  </section>
</div>
