<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= content_tag(:h1, t('user.mailer.welcome')) %>

    <%= content_tag(:p, t('user.mailer.registered')) %>

    <%= content_tag(:p, t('user.mailer.how_to_sign_in',
                          url: @url, mail: @user.email)) %>
    <%= content_tag(:p, t('user.mailer.enjoy')) %>

    <%= content_tag(:p, t('user.mailer.problem')) %>
    <%= link_to(t('contact.index'), contacts_path) %>
  </body>
</html>
