<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('.welcome') %></h1>
    <%= simple_format(t('.registered')) %>
    <%= simple_format(t('.how_to_sign_in', url: @url, mail: @user.email)) %>
    <%= simple_format(t('.enjoy')) %></p>
    <%= simple_format(t('.problem')) %></p>
    <%= link_to(t('.all_contacts'), contacts_path) %>
  </body>
</html>
