<div class='col-md-8 col-md-offset-2 col-xs-12 reg-page'>
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>

  <% if params[:edit_type] == 'all' %>
    <%= render 'form', meeting: @meeting, form_type: 'edit_all' %>
  <% elsif params[:edit_type] == 'after' %>
    <%= render 'form', meeting: @meeting, form_type: 'edit_after' %>
  <% else %>
    <%= render 'form', meeting: @meeting, form_type: 'edit_one' %>
  <% end %>

  <hr>
  <%= link_to(t('.destroy'), admin_meeting_path(@meeting),
                                 method: :delete,
                                 data: {confirm: t('.confirm_destroy')},
                                 class: 'btn danger') %>
  <%= link_to(t('.administrate'), admin_meetings_path, class: 'btn secondary') %>
</div>
