<div class="row">
  <div class="headline">
    <%= content_tag(:h2, @post.title) %><br><br>
    <%= simple_form_for(@post, url: update_admin_permissions_path(@post)) do |f| %>
      <%= f.button :submit %>
      <div class="panel-body">
        <table class="table table-bordered">
          <tbody>
            <% @permissions.group_by(&:action).each do |action, permissions| %>
              <tr>
                <%= content_tag(:td, action) %>
                <td>
                  <%= f.input :permission_ids, collection: permissions,
                                               label_method: :subject_class,
                                               value_method: :id,
                                               as: :check_boxes,
                                               item_wrapper_class: 'inline'  %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
