<%= simple_form_for([:admin, rent]) do |f| %>
  <h4><%= rent.print_status %> </h4>
  <%= f.input :service, as: :boolean %>
  <%= f.association :user, collection: users, label_method: :print_email %>

  <% if rent.user.present? %>
    <table class="table">
      <%= render '/users/as_table', user: rent.user, prot: true %>
    </table>
  <% end %>

  <%= f.input :d_from, as: :datetime_picker %>
  <%= f.input :d_til, as: :datetime_picker %>
  <%= f.input :purpose, as: :text %>
  <%= f.association :council, collection: councils %>
  <%= f.input(:status, collection: [[t('model.rent.confirmed'),:confirmed],
                                    [t('model.rent.unconfirmed'), :unconfirmed],
                                    [t('model.rent.denied'), :denied]]) %>
  <%= f.input :aktiv, as: :boolean %>
  <%= f.input :comment, as: :text, placeholder: t('.denied_comment')%>
  <%= f.button :submit, id: 'rent-submit' %>
<% end %>
