<%= simple_form_for([:admin, @rent]) do |f| %>
<h2><%= @rent.print_status %> </h2>
<%= f.input :disclaimer, as: :boolean %>
<%= f.input :service, as: :boolean %>
<%= f.association :user, collection: @users %>
<% if @rent.user.present? %>
  <%= render '/users/user', user: @rent.user %>
<% end %>
<%= f.input :d_from, as: :datetime_picker %>
<%= f.input :d_til, as: :datetime_picker %>
<%= f.input :purpose, as: :text %>
<%= f.association :council, collection: @councils %>
<%= f.input(:status, collection: [[t('rent.confirmed'),:confirmed],
                                  [t('rent.unconfirmed'), :unconfirmed],
                                  [t('rent.denied'), :denied]]) %>
<%= f.input :aktiv, as: :boolean %>
<%= f.input :comment, as: :text, placeholder: t('rent.denied_comment')%>
<%= f.button :submit, class: 'btn btn-u', id: 'rent-submit' %>
<% end %>
