<div class="headline rents">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class='col-md-2 col-xs-12'>
  <div class='input-group margin-bottom-20'>
    <%= link_to(t('.clear_search'), admin_rents_path, class: 'btn primary') %><br>
    <%= link_to(t('.new_rent'), new_admin_rent_path, class: 'btn secondary') %> <br>
    <%= link_to(t('.startpage'), rents_path, class: 'btn secondary') %> <br>
    <%= link_to(t('.car_bans'), admin_car_bans_path, class: 'btn secondary') %>
  </div>
</div>

<div class="col-md-10 col-xs-12">
  <%= grid(@rent_grid) do |g|
    g.row_attributes do |post|
      if (post.status == :unconfirmed)
        {style: 'background: rgba(252, 155, 0,0.7);'}
      end
    end
    g.column name: Rent.human_attribute_name(:d_from), attribute: 'd_from', filter: false do |rent|
      l(rent.d_from)
    end
    g.column name: Rent.human_attribute_name(:d_til), attribute: 'd_til', filter: false do |rent|
      l(rent.d_til)
    end
    g.column name: Rent.human_attribute_name(:user), assoc: :user, attribute: 'firstname' do |rent|
      link_to(rent.user, rent.user, target: :blank_p)
    end
    g.column name: Rent.human_attribute_name(:status), attribute: 'status' do |rent|
      t(%(model.rent.#{rent.status}))
    end
    g.column name: Rent.human_attribute_name(:aktiv), attribute: 'aktiv' do |rent|
      rent.aktiv == true ?  t('model.rent.active') : t('model.rent.inactive')
    end
    g.column name: Rent.human_attribute_name(:council) do |rent|
      rent.council_id.nil? ? '-' : link_to(rent.council, rent.council, target: :blank_p)
    end
    g.column name: t('global.show') do |rent|
      link_to(t('global.show'), preview_admin_rent_path(rent), remote: true)
    end
    g.column name: t('global.edit') do |rent|
      link_to(t('global.edit'), admin_rent_path(rent))
    end
  end -%>
<div class='col-md-12 col-xs-12' id='preview-rent'> </div>
</div>
