<% provide(:title, 'Admin - Bilbokning') %>
<div class="col-md-12">
  <div class="headline headline-md"><h1>F-bilen - Administration</h1></div>
  <div class="col-md-9">
    <%= grid(@rent_grid) do |g|
      g.row_attributes do |post|
        if (post.status == :unconfirmed)
          { style: 'background: rgba(252, 155, 0,0.7);' }
        end
      end
      g.column name: Rent.human_attribute_name(:d_from), attribute: 'd_from', filter: false do |rent|
        rent.p_from
      end
      g.column name: Rent.human_attribute_name(:d_til), attribute: 'd_til', filter: false do |rent|
        rent.p_til
      end
      g.column name: Rent.human_attribute_name(:user), attribute: 'user_id' do |rent|
        if rent.user
          link_to(rent.user, rent.user)
        else
          t('rent.no_user')
        end
      end
      g.column name: Rent.human_attribute_name(:status), attribute: 'status' do |rent|
        t(%(rent.#{rent.status}))
      end
      g.column name: Rent.human_attribute_name(:aktiv), attribute: 'aktiv' do |rent|
        rent.aktiv == true ?  t('rent.active') : t('rent.inactive')
      end
      g.column name: Rent.human_attribute_name(:council), attribute: 'council_id' do |rent|
        rent.council_id.nil? ? '-' : link_to(rent.council, rent.council)
      end
      g.column name: t('view') do |rent|
        link_to(t('view'), preview_admin_rent_path(rent), remote: true)
      end
    end -%>
  <div class='col-md-12' id='preview-rent'>
  </div>
  </div>
  <div class='col-md-3'>
    <div class='row'>
      <div class='headline headline-md'><h2>F.A.Q.</h2></div>
      <div class='panel-group acc-v1 margin-bottom-40' id='unanswered'>
        <% @faqs.each do |faq| %>
          <%= render '/faqs/faq', faq: faq %>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class='headline headline-md'><h2><%= t('tools')%></h2></div>
      <div class='input-group margin-bottom-20'>
        <%= link_to(t('clear_search'), admin_rents_path, class: 'btn btn-u') %><br><br>
        <%= link_to(t(:new, attr: model_name(Rent)), new_admin_rent_path, class: 'btn btn-u') %> <br><br>
        <%= link_to(t(:index, attr: models_name(Rent)), rents_path, class: 'btn btn-u') %> <br><br>
      </div>
    </div>
  </div>
</div>
