<% provide(:title, 'Admin - Bilbokning') %>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <div class="headline headline-md"><h1>F-bilen - Administration</h1></div>
      <div class="col-md-9">
        <%= grid(@rent_grid) do |g|
          g.row_attributes do |post|
            if (post.status == "Ej bestämd")
              {style: 'background: rgba(252, 155, 0,0.7);'}
            end
          end
          g.column name: "Från:", attribute: "d_from", filter: false do |rent|
            rent.d_from.strftime('%H:%M %d/%m').to_s
          end
          g.column name: "Till", attribute: "d_til", filter: false do |rent|
            rent.d_til.strftime('%H:%M %d/%m').to_s
          end
          g.column name: "Förnamn:", attribute: "name" do |rent|
            link_to(rent.name, rent.user)
          end
          g.column name: "Efternamn", attribute: "lastname"
          g.column name: "Status", attribute: "status"
          g.column name: "Aktiv", attribute: "aktiv" do |rent|
            (rent.aktiv) ? "Aktiv" : "Inaktiv"
          end
          g.column name: "Utskott", attribute: "council_id" do |rent|
            (rent.council_id == nil) ? "-" : link_to(Council.find(rent.council_id), council_path(rent.council_id))
          end
          g.column name: "Visa" do |rent|
            link_to("Visa", preview_admin_rent_path(rent), remote: true)
          end
        end -%>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="headline headline-md"><h2>F.A.Q.</h2></div>
        <div class="panel-group acc-v1 margin-bottom-40" id="unanswered">
          <% @faqs.each do |faq| %>
            <%= render '/faqs/faq', faq: faq %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="headline headline-md"><h2>Verktyg</h2></div>
        <div class="input-group margin-bottom-20">
          <%= link_to("Rensa sökning", admin_car_path, class: "btn btn-u") %><br><br>
          <%= link_to("Ny bokning", new_admin_rent_path, class: "btn btn-u") %> <br><br>
          <%= link_to("Bilbokning - start", bil_path, class: "btn btn-u") %> <br><br>
        </div>
      </div>
    </div>
    <div class="col-md-12" id="">
      <div class="col-md-6" id="preview-rent">
      </div>
      <div class="col-md-6" id="preview-user">
      </div>
    </div>
    </div>
  </div>
</div>
