<% provide(:title, t('rent.admin.title')) %>
<div class='col-md-8 col-md-offset-2 reg-page'>
  <%= render 'links' %>
  <div class='headline headline-md'>
    <h2>
      <%= %(#{Rent.model_name.human} - ID: #{@rent.id}) %>
    </h2>
  </div>
  <div class='margin-bottom-20'>
  <%= render 'form'%>
    <%= link_to(t('rent.delete'), admin_rent_path(@rent), method: :delete,
                class: 'btn btn-u pull-right',
                data: {
                  confirm: t('rent.admin.delete_confirm')
                }) %>
  </div>
  <div class='margin-bottom-20'>
</div>
<div class='row'>
  <ul class='list'>
    <li><strong><%= Rent.human_attribute_name(:status) %></strong> <%= t('rent.admin.status') %></li>
    <li><strong><%= Rent.human_attribute_name(:aktiv) %></strong> <%= t('rent.admin.aktiv') %></li>
    <li><strong><%= Rent.human_attribute_name(:comment) %></strong> <%= t('rent.admin.comment') %></li>
    <li><%= t('rent.admin.inactive') %></li>
  </ul>
</div>
</div>
