<div class='col-md-8 col-md-offset-2 col-sm-12 reg-page'>
  <div class='headline'>
    <h1>
      <%= title(%(#{Rent.model_name.human} - ID: #{@rent.id})) %>
    </h1>
  </div>
  <div class='margin-bottom-20'>
    <%= render('form', rent: @rent,
                       users: @users,
                       councils: @councils) %>
    <%= link_to(admin_rent_path(@rent), method: :delete,
                                        class: 'btn danger pull-right',
                                        data: {confirm: t('.confirm_destroy')}) do %>
      <%= t('.destroy_rent') %>
    <% end %>
  </div>
  <div class='margin-bottom-20'>
  </div>
  <div class='row'>
    <ul class='list'>
      <li>
        <strong><%= Rent.human_attribute_name(:status) %></strong>
        <%= t('.status') %>
      </li>
      <li>
        <strong> <%= Rent.human_attribute_name(:aktiv) %> </strong>
        <%= t('.aktiv') %>
      </li>
      <li>
        <strong><%= Rent.human_attribute_name(:comment) %></strong>
        <%= t('.comment') %>
      </li>
      <li><%= t('.inactive') %></li>
    </ul>
  </div>
  <hr>
  <%= link_to(t('.admin_index'), admin_rents_path, class: 'btn secondary') %>
</div>
