<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> gör att eventet inte kan sparas:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div class="field">
    <%= f.label 'Titel:' %><br>
    <%= f.text_field :title %>    
  </div>
  <div class="field">
    <%= f.label 'Beskrivning:' %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label 'Plats:' %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">  
  <%= f.label 'Eventbild:'%>
  <%= f.file_field :image %> <br 
   </div>
   <div class="field">
   <%= f.label 'Heldagsevent?'%> 
   <%= f.check_box :dayevent%><br>
   </div>   
   <div class="field">
   		<%=f.label 'Start:'%> <br>
   		<%= f.datetime_select :date, :minute_step => 10 %>
   </div>
      <div class="field">
  		<%=f.label 'Slut:'%><br>
   		<%= f.datetime_select :end_date, :minute_step => 10 %>
   </div> 
   <div class="field">
   		<%=f.label 'Utskott:'%><br>
	   <%= f.select :category, options_for_select([
	  	[" ", nil, {:class=>"bold"}],
	  	["Cafémästeriet"],
	  	["Föset"],
	  	["Kulturministeriet"],
	  	["Näringslivsutskottet"],
	  	["Prylmästeriet"],
	  	["Sanningsmästeriet"],
	  	["Sexmästeriet"],
	  	["Stuiderådet"],
	  	["Styrelsen"], 
	  	["Spindelmännen"] ], :category), {},
	  	html_options = {:class => "listBox", :style=>"float:left;"} %> <br> 
	  	</div>
  	<div class="actions">
    <%= f.submit "Spara" %>
    <hr>
  </div>
<% end %>
