<div class="container">
	<div class="row">		
		<div class="col-md-12">
			<div id='calendar'> </div>
		</div>
		
	</div>
</div>

<script>
	
	$(document).ready(function() {
		
    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
                
        
        header: {
                 left: 'today',
                 center: 'prev , title , next',
                 right: 'month,agendaWeek'
             },
        aspectRatio: 2,
        axisFormat: 'HH:mm',
        timeFormat: 'HH:mm',
        allDay: false,
        allDayText: 'Heldag',
        firstDay :1,
        weekNumbers: true,
        monthNames: ['Januari','Februari','Mars','April','Maj','Juni','Juli','Augusti','September','Oktober','November','December'],
        dayNames: ['Söndag','Måndag','Tisdag','Onsdag','Torsdag','Fredag','Lördag'],
        dayNamesShort: ['Sön', 'Mån', 'Tis', 'Ons', 'Tors', 'Fre', 'Lör'],
        weekNumberTitle: 'V',
        
        // put your options and callbacks here  
              
    })
    <% @events.all.each do|event|%>
    $('#calendar').fullCalendar('renderEvent',{
                title: '<%= event.title %>',
                start: '<%=event.date.to_formatted_s(:long)%>',
                stop: '<%=event.end_date.to_formatted_s(:long)%>',
                allDay: <%=event.dayevent%>,
                url: '/events/<%=event.id%>'                   
           })
   <%end%>

});
</script>

