<% title("Event") %>

<div class="row blog">
  <div class="col-md-3">
  	<%if @event.image_file_name != nil%>
    <%= image_tag @event.image.url(:thumb) %>
    <% end %>
  </div>
  
  <div class="col-md-9">
    <h2><%= @event.title %></h2>
	
    <ul class="list-unstyled blog-info">
    	<li>Ansvarig: <%= fa_icon("user") %> <%= link_to (User.find(@event.author).profile.name)+' - ('+ Role.find(User.find(@event.author).role_id).title+')' ,User.find(@event.author).profile %></li>
    	<%if @event.category != nil%>
    	<li>Utskott: <%= @event.category%></li>     	
		<%end%>
      
      <li>Datum: <b>      <i class="fa fa-calendar"></i> <%= @event.date %></b> till <b><%=@event.end_date%></b></li>
    </ul>	
    <p><%= simple_format(@event.content) %></p>
	
    <p>
      <% if current_user.has_role?(:event, :edit) %>
        <%= link_to (content_tag(:i, nil, class: "fa fa-edit") + " Redigera"), edit_event_path(@event), class: "btn-u btn-u-small" %>
        <%= link_to (content_tag(:i, nil, class: "fa fa-trash-o") + " Förinta"), @event, method: :delete, data: {confirm: "Är du säker?"}, class: "btn-u btn-u-small" %>
      <% end %>
    </p>
  </div>    
</div>


