<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h2><%= t(:edit_attr, attr: model_name(News)) %></h2>
  </div>
  <%= render 'form'%>
  <hr>
  <%= link_to(t(:show_attr, attr: model_name(News)),
              news_path(@news), class: 'btn secondary') %>
  <%= link_to(t(:destroy_attr, attr: model_name(News)),
              news_path(@news), method: :delete,  class: 'btn danger') %>
  <%= link_to(t(:index_attr, attr: models_name(News)),
              news_index_path(@news), class: 'btn secondary') %>
</div>
