<% if can? :manage, page_element %>
  <% content_for dom_id(page_element) do %>
    <%= link_to(edit_admin_page_page_element_path(page_element.page, page_element)) do %>
      <%= fa_icon('cog') %> <%= t(:edit) %>
    <% end %>
  <% end %>
<% end %>

<% if page_element.headline.present? %>
  <div class="headline">
    <h4><%= page_element.headline %></h4>
  </div>
<% end %>

<div class="col-md-8 col-md-offset-2 col-sm-12">
  <%= image_tag(page_element.page_image.image, class: 'img-responsive') %>
  <% if content_for?(dom_id(page_element)) %>
    <%= yield dom_id(page_element) %>
  <% end %>
</div>
