<div class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3 reg-page">
			<%= label_tag 'Redigera element',nil, :class => 'reg-header'%>						
			<%= render 'form'%>			
			<%= link_to 'Visa sida', council_page_path(@council)%><br>
			<%= link_to (content_tag(:i, nil, class: "fa fa-trash-o") + " Förinta"), council_page_page_element_path(@council,@page_element), method: :delete, data: {confirm: "Är du säker?"}, class: "btn-u btn-u-small" %>
			<%= link_to 'Tillbaka till startsida', root_url %>
		</div>
	</div>
</div>