<% if can? :manage, @page %>
  <%= link_to(t(:add_attr, attr: model_name(PageElement)), new_page_page_element_path(@page), class: 'btn primary') %>
  <%= link_to(t(:show_attr, attr: model_name(Page)), page_path(@page), class: 'btn secondary') %>
  <%= link_to(t(:edit_attr, attr: model_name(Page)), edit_page_path(@page), class: 'btn secondary') %>
  <hr>
<% end %>
<div class="col-md-12">
  <div class="panel panel-orange margin-bottom-40">
    <div class="panel-heading">
      <h3>
        <%= models_name(PageElement) %>
      </h3>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th><%= PageElement.human_attribute_name(:name) %></th>
          <th><%= PageElement.human_attribute_name(:visible) %></th>
          <th><%= PageElement.human_attribute_name(:text) %></th>
          <th><%= PageElement.human_attribute_name(:headline) %></th>
          <th><%= PageElement.human_attribute_name(:sidebar) %></th>
          <th><%= PageElement.human_attribute_name(:displayIndex) %></th>
          <th><%= PageElement.human_attribute_name(:updated_at) %></th>
          <th>
            <%= link_to(t(:new_attr, attr: model_name(PageElement)),
                        new_page_page_element_path(@page), class: 'btn primary small') %>
        </th>
        </tr>
      </thead>
      <tbody>
        <% @page_elements.each do |element| %>
          <tr>
            <td><%= element.id %></td>
            <td><%= element.name %></td>
            <td><%= element.text.present? ? t(:yes) : t(:no) %></td>
            <td><%= element.visible ? t(:yes) : t(:no) %></td>
            <td><%= element.headline %></td>
            <td><%= element.sidebar ? t(:yes) : t(:no) %></td>
            <td><%= element.displayIndex %></td>
            <td><%= l(element.updated_at) %></td>
            <td>
              <%= link_to(t(:edit), edit_page_page_element_path(element.page, element),
                          class: 'btn secondary small') %>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
