<div class="container">	
	<div class="row">
		<div class="col-md-4">			
			<%= form_for(@kategori,url: admin_bildgalleri_path, method: 'post') do |f| %>
				
				<div class="field">
					<%= f.label 'Ny kategori för bildgalleri:'%><br>
					<%= f.label 'Namn'%><br>
					<%= f.text_field :name%>				
				</div>
				<div class="field">
					<%= f.label "Beskrivning"%><br>
					<%= f.text_area :string1%>
				</div>
				<div class="field"><br>
					<%= f.submit 'Ny kontakt'%>
				</div>
			<% end %>
		</div>
		<div class="col-md-4">
			<% if @kategorier != nil%>									
				<%= form_tag admin_bildgalleri_path, method: 'post'%>
					<%= label_tag 'Lista av alla kategorier i bildgalleri'%><br>
					<%= select_tag(:id, options_from_collection_for_select(@kategorier,:id,:name))%><br><br>
					<%= submit_tag 'Visa'%>
			<% end %>
		</div>
		<% if (@kategorin != nil) && (@kategorin.name != nil) %>
			Redigera kategori till bildgalleri
			<div class="col-md-4">
				<%= form_for(@kategorin,url: admin_bildgalleri_path, method: 'post') do |f| %>
				<div class="field">
					<%= f.label 'Namn'%><br>
					<%= f.text_field(:name)%><br>
				</div>
				<div class="field">
					<%= f.label 'Beskrivning'%><br>
					<%= f.text_field(:string1)%><br>
				</div>
				<div class="field"><br>
					<%= f.submit 'Spara'%>
				</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
