<div class="container">	
	<div class="row">
		<div class="col-md-4">
			<%= form_for(@kontakt,url: admin_kontakt_path, method: 'post') do |f| %>
				<div class="field">
					<%= f.label 'Namn'%><br>
					<%= f.text_field :name%>				
				</div>
				<div class="field">
					<%= f.label "E-post"%><br>
					<%= f.text_field :string1%>
				</div>
				<div class="field">
					<%= f.label "Endast för medlemmar?"%><br>
					<%= f.check_box :bool1 %>
				</div>
				<div class="field"><br>
					<%= f.submit 'Ny kontakt'%>
				</div>
			<% end %>
		</div>
		<div class="col-md-4">
			<%= form_tag admin_kontakt_path, method: 'post'%>
				<%= label_tag 'Lista av alla kontaktposter'%><br>
				<%= select_tag(:id, options_from_collection_for_select(@kontakter,:id,:name,@kontakten.id))%><br><br>
				<%= submit_tag 'Visa'%>
		</div>
		<% if (@kontakten != nil) && (@kontakten.name != nil) %>
			<div class="col-md-4">
				<%= form_tag %>
				<div class="field">
					<%= label_tag 'Namn'%><br>
					<%= text_field_tag(:name, @kontakten.name)%><br>
				</div>
				<div class="field">
					<%= label_tag 'Epost'%><br>
					<%= text_field_tag(:string1, @kontakten.string1)%><br>
				</div>
				<div class="field">
					<%= label_tag 'Endast för medlemmar?'%><br>					
					<%= check_box_tag :bool1, 1,@kontakten.bool1%><br>
				</div>
				<div class="field"><br>
					<%= submit_tag 'Spara'%>
				</div>
			</div>
		<% end %>
	</div>
</div>
