<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-2 col-sm-12 cafe competition margin-bottom-20">
  <button class="wg-external-submit-button btn primary" data-grid-name="grid">
    <%= t('wice_grid.filter') %>
  </button>

  <button class="wg-external-reset-button btn secondary" data-grid-name="grid">
    <%= t('wice_grid.reset_filter') %>
  </button>

  <hr>

  <%= link_to(t('.new_question'), new_admin_faq_path, class: 'btn primary') %>
  <%= link_to(t('.all_questions'), faqs_path, class: 'btn secondary') %>
</div>

<div class="col-md-10 col-sm-12">
  <%= grid(@faq_grid, hide_submit_button: true, hide_reset_button: true) do |g|
    g.column(name: Faq.human_attribute_name(:question), attribute: 'question') do |faq|
      truncate(faq.question, length: 30)
    end
    g.column(name: Faq.human_attribute_name(:category), attribute: 'category',
             custom_filter: :auto)
    g.column(name: Faq.human_attribute_name(:answer), attribute: 'answer') do |faq|
      yes_no(faq.answer.present?)
    end
    g.column(name: Faq.human_attribute_name(:updated_at), attribute: 'updated_at',
             filter: false)
    g.column(name: t('global.edit'), filter: false) do |faq|
      link_to(t('global.edit'), edit_admin_faq_path(faq))
    end
  end -%>
</div>
