<%= content_for :worker do %>
  <% if @cafe_shift.worker?(current_user) || !@cafe_shift.user.present? %>
    <tr>
      <td colspan="2"> <%= render('cafe_workers/form', cafe_shift: @cafe_shift) %></td>
    </tr>
  <% elsif @cafe_shift.user.present? %>
    <tr>
      <td><%= model_name(CafeWorker) %></td>
      <td><%= link_to(@cafe_shift.user, user_path(@cafe_shift.user)) %></td>
    </tr>
  <% end %>
<% end %>

<% provide(:title, t('cafe.title')) %>
<div class="col-md-6 col-md-offset-3 col-sm-12 reg-page">
  <div class="headline">
    <h2><%= %(#{CafeShift.model_name.human} - ID #{@cafe_shift.id} - #{l(@cafe_shift.start, format: '%A')}) %></h2>
  </div>
  <table class="table">
    <tr>
      <td><%= CafeShift.human_attribute_name(:start) %></td>
      <td><%= time_range(@cafe_shift.start, @cafe_shift.stop, format: :long) %></td>
    </tr>
    <tr>
      <td><%= CafeShift.human_attribute_name(:lv) %></td>
      <td><%= @cafe_shift.lv %></td>
    </tr>
    <tr>
      <td><%= CafeShift.human_attribute_name(:lp) %></td>
      <td><%= @cafe_shift.lp %></td>
    </tr>
    <%= yield :worker %>
  </table>
  <hr>
  <%= link_to(t('cafe.title'), cafe_path, data: { no_turbolink: true }, class: 'btn secondary') %>
</div>
