<% # if meta tags should be set or not %>
<% meta ||= false %>
<% link ||= false %>
<% if blog_post.cover_image.present? %>
  <%= blog_cover_image(image_url(blog_post.cover_image_large)) %>
  <% meta_image(blog_post.cover_image_large) if meta %>
<% end %>

<div class="col-md-10 col-md-offset-1 col-xs-12 blog-post">
  <%= blog_post_translated?(blog_post) %>
  <div class="blog-headline">
    <%= blog_title(blog_post, meta: meta, link: link) %>
  </div>

  <% if blog_post.preamble.present? %>
    <div class="preamble">
      <%= meta ? description(blog_post.preamble) : blog_post.preamble %>
    </div>
  <% else %>
      <% description(markdown_plain(blog_post.content)) if meta %>
  <% end %>

  <%= render '/blog_posts/info', blog_post: blog_post %>

  <div class="content page">
    <%= markdown(blog_post.content) %>
  </div>

  <% if can_administrate?(:edit, blog_post) %>
    <span class="edit">
      <%= link_to(edit_admin_blog_post_path(blog_post)) do %>
        <%= fa_icon('cog') %> <%= t('global.edit') %>
      <% end %>
    </span>
  <% end %>
</div>
