<%= simple_form_for([event, event_user], remote: true) do |f| %>
  <ul>
  <% event_user.errors.each do |e| %>
    <li><%= e.to_s %></li>
  <% end %>
  </ul>
  <% if event.signup.question.present? %>
    <span class="event question">
      <%= event.signup.question %>
    </span>
    <%= f.input :answer, hint: t('.answer_hint') %>
  <% else %>
    <%= f.input :answer, as: :hidden %>
  <% end %>
  <% if event.signup.order.any? && event_user_types(event.signup, current_user).any? %>
    <%= f.input :user_type,
                label: t('.user_type_label'),
                collection: event_user_types(event.signup, current_user),
                include_blank: t('model.event_signup.user_types.other'),
                input_html: {class: 'select2'},
                required: true %>
  <% end %>
  <%= f.association :group, collection: current_user.groups.merge(event.signup.selectable_groups),
                            include_blank: t('model.event_user.other_group'),
                            input_html: {class: 'select2'},
                            hint: t('.group_hint') %>
  <%= f.input :group_custom %>
  <%= f.button :submit, t('.submit'), data: { confirm: t('.confirm_registration') } %>
<% end %>
