<div id="<%= dom_id(notification) %>" class="notification <%= notification.seen? ? 'seen' : '' %>">
  <% data = notification.data %>
  <%= notification_context(notification, data) %>

  <%= link_to(t('.read_more'), data.link, class: 'btn primary') %>
  <%= notification_created_at(notification.created_at) %>
  <hr>
</div>
