<div class="headline">
  <h2><%= title(group_title(@group)) %></h2>
</div>

<div class="col-md-3">
  <div class="headline">
    <h4><%= t('.members') %></h4>
  </div>
  <%= render @group.group_users.includes(:user) %>

  <% if can?(:edit, @group) %>
    <%= link_to edit_group_path(@group) do %>
      <%= fa_icon('cog') %> <%= t('global.edit') %>
    <% end %>
  <% end %>
</div>

<div class="col-md-9">
</div>
