<div class="col-md-3 col-sm-12 col-xs-12">
  <div class="headline">
    <h2><%= title(@group_view.group.name) %></h2>
  </div>
  <% cache([I18n.locale, @group_view.group.group_users]) do %>
    <%= render @group_view.group.group_users.includes(:user) %>
  <% end %>

  <% if can?(:edit, @group_view.group) %>
    <%= link_to edit_group_path(@group_view.group) do %>
      <%= fa_icon('cog') %> <%= t('global.edit') %>
    <% end %>
  <% end %>

  <hr>
  <% if @group.introduction.present? %>
    <%= link_to(@group.introduction, introduction_path(@group_view.group.introduction),
                                     class: 'btn secondary') %>
    <%= link_to(t('.adventures'), introduction_adventures_path(@group_view.group.introduction),
                                  class: 'btn secondary') %>
    <hr>
  <% end %>
</div>

<div class="col-md-9 col-sm-12 col-xs-12 message-box">
  <div class="messages" id="group-messages" data-group-id="<%= @group.id %>" data-user-id="<%= current_user.id %>">
  </div>
  <%= render 'messages/new', group: @group, message: @group_view.message %>
</div>
