<%= simple_form_for(user, url: account_own_user_path, method: :patch, html: { class: 'reg-page' }) do |f| %>
  <div class="headline">
    <h2>
      <%= fa_icon('envelope') %>
      <%= User.human_attribute_name(:email) %>
    </h2>
  </div>

  <% if user.unconfirmed_email.present? %>
    <p class="control-label">
      <%= fa_icon('close', class: 'icon-background red round-icon') %>
      <span>
        <%= User.human_attribute_name('unconfirmed_email') %>
      </span>
      <strong>
        <%= user.unconfirmed_email %>
      </strong>
    </p>
    <p>
      <%= t('user.check_email_to_confirm', date: l(user.confirmation_sent_at)) %>
    </p>
  <% end %>

  <% if user.confirmed? %>
    <p class="control-label">
      <%= fa_icon('check', class: 'icon-background green round-icon') %>
      <span>
        <%= User.human_attribute_name('confirmed_email') %>
      </span>
      <strong>
        <%= user.email %>
      </strong>
    </p>
  <% else %>
    <p class="control-label">
      <%= fa_icon('close', class: 'icon-background red round-icon') %>
      <span>
        <%= User.human_attribute_name('unconfirmed_email') %>
      </span>
      <strong>
        <%= user.email %>
      </strong>
    </p>
    <br>
    <p>
      <%= t('user.check_email_to_confirm', date: l(user.confirmation_sent_at)) %>
      <%= link_to t('devise.not_receive_confirm'), new_confirmation_path(user) %>
    </p>
  <% end %>

  <div class="headline">
    <h4>
      <%= t(:update) %>
    </h4>
  </div>
  <%= f.input :email %>
  <%= f.input :current_password, input_html: { class: 'account'} %>
  <%= f.button :submit, id: 'user-account-submit' %>
  <hr>
  <div class="headline">
    <h2>
      <%= fa_icon('user') %>
      <%= User.human_attribute_name(:member) %>
    </h2>
  </div>

  <% if user.member? %>
    <span class="control-label">
      <%= fa_icon('check', class: 'icon-background green round-icon') %>
      <%= l(user.member_at) %>
    </span>
  <% else %>
    <span class="control-label">
      <%= fa_icon('close', class: 'icon-background red round-icon') %>
      <%= t('user.contact_for_membership') %>
    </span>
  <% end %>
<% end %>
