<%= simple_form_for(user, url: own_user_path, html: { class: 'reg-page' }) do |f| %>
  <%= f.input :firstname %>
  <%= f.input :lastname %>
  <%= f.input :program, collection: ['Oklart', 'Teknisk Fysik', 'Teknisk Matematik', 'Teknisk Nanovetenskap'] %>
  <%= f.input :start_year, collection: (1954..(Time.zone.now.year+1)).to_a.reverse! %>
  <div class="input-group margin-bottom-20">
    <% if user.avatar?%>
      <%= image_tag(avatar_user_path(user))%><br>
      <%= f.input :remove_avatar, as: :boolean %>
    <% end %>
  </div>
  <%= f.input :avatar, as: :file %>
  <%= f.association :first_post, collection: user.posts %>
  <p>Nedanstående fält är endast till för sektionsval, bokning av bilen samt arbete i Hilbert Café.</p>
  <p>Fälten kan endast se av styrelse, administratörer samt ansvarig för val, bokning eller Caféet.</p>
  <%= f.input :stil_id %>
  <%= f.input :phone %>
  <%= f.button :submit, id: 'user-info-submit' %>
<% end %>

