<%= simple_form_for(user, url: own_user_path, html: { class: 'reg-page' }) do |f| %>
  <%= f.input :firstname %>
  <%= f.input :lastname %>
  <%= f.input :program, collection: ['Oklart', 'Teknisk Fysik', 'Teknisk Matematik', 'Teknisk Nanovetenskap'] %>
  <%= f.input :start_year, collection: (1954..(Time.zone.now.year+1)).to_a.reverse! %>
  <div class="input-group margin-bottom-20">
    <% if user.avatar?%>
      <%= image_tag(avatar_user_path(user))%><br>
      <%= f.input :remove_avatar, as: :boolean %>
    <% end %>
  </div>
  <%= f.input :avatar, as: :file %>
  <%= f.association :first_post, collection: user.posts %>
  <hr>
  <%= simple_format(t('.protected_fields')) %>
  <%= simple_format(t('.protected_fields_can_be_seen_by')) %>
  <%= f.input :student_id, hint: t('.student_id_hint') %>
  <%= f.input :phone %>
  <%= simple_format(t('.food_preference_hint')) %>
  <%= f.input :food_preference %>
  <%= f.button :submit, id: 'user-info-submit' %>
<% end %>

