<%= simple_form_for(user, url: password_own_user_path, html: { class: 'reg-page' } ) do |f| %>
  <div class=" form inputs" >
    <%= f.input :password  %>
    <%= f.input :password_confirmation %>
    <%= f.input :current_password %>
  </div>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-u' %>
  </div>
<% end %>
