<div class="row portfolio-item1">
  <div class="col-xs-4">
    <ul class="list-unstyled">
      <li><%= fa_icon('strikethrough') %><%= t('activerecord.attributes.user.stil_id')%></li>
      <li><%= fa_icon('phone') %><%= t('activerecord.attributes.user.phone')%></li>
      <li><%= fa_icon('envelope') %><%= t('activerecord.attributes.user.email')%></li>
    </ul>
  </div>
  <div class="col-xs-8">
    <ul class="list-unstyled">
      <li><%= user.stil_id %></li>
      <li><%= user.phone %></li>
      <li><%= user.email %></li>
    </ul>
  </div>
</div>
