<% unless no_name %>
  <div class="headline">
    <h2><%= user.to_s %></h2>
  </div>
<% end %>
<table class="user table">
  <tr>
    <td>
      <%= fa_icon('space-shuttle') %> <%= User.human_attribute_name(:start_year) %>
    </td>
    <td>
      <%= user.start_year %>
    </td>
  </tr>
  <tr>
    <td>
      <%= fa_icon('rocket') %> <%= User.human_attribute_name(:program) %>
    </td>
    <td>
      <%= user.program %>
    </td>
  </tr>
  <% if display_phone?(user: user, current_user: current_user) %>
  <tr>
    <td>
      <%= fa_icon('phone') %> <%= User.human_attribute_name(:phone) %>
    </td>
    <td>
      <%= user.phone %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td>
      <%= fa_icon('mortar-board') %> <%= Position.model_name.human(count: user.positions.count) %>
    </td>
    <td>
      <ul class="user position-list">
        <% user.positions.each do |position| %>
          <li><%= link_to(position, council_path(position.council), target: :blank_p) %></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
