<% unless no_name %>
  <div class="headline">
    <h2><%= user.to_s %></h2>
  </div>
<% end %>
<table class="user table">
  <tr>
    <td>
      <%= fa_icon('space-shuttle') %> <%= User.human_attribute_name(:start_year) %>
    </td>
    <td>
      <%= user.start_year %>
    </td>
  </tr>
  <tr>
    <td>
      <%= fa_icon('rocket') %> <%= User.human_attribute_name(:program) %>
    </td>
    <td>
      <%= user.program %>
    </td>
  </tr>
  <tr>
    <td>
      <%= fa_icon('mortar-board') %> <%= Post.model_name.human(count: user.posts.count) %>
    </td>
    <td>
      <ul class="user post-list">
        <% user.posts.each do |post| %>
          <li><%= link_to(post, council_path(post.council), target: :blank_p) %></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
