<div class="col-md-8 col-md-offset-2 col-xs-12">
  <div class="profile-body margin-bottom-20 user">
    <div class="tab-v1">
      <ul class="nav nav-justified nav-tabs">
        <li class="<%=@tab == :profile ? 'active' : ''%>">
          <%= link_to(t('user.profile'), '#profile', data: { toggle: :tab }) %>
        </li>

        <li class="<%=@tab == :account ? 'active' : ''%>">
          <%= link_to('#account', data: { toggle: :tab }) do %>
            <%= t('user.account') %>
          <% end %>
        </li>

        <li class="<%=@tab == :password ? 'active' : ''%>">
          <%= link_to(t('user.password'), '#password', data: { toggle: :tab }) %>
        </li>
      </ul>

      <div class="tab-content">
        <div id="profile" class="profile-edit tab-pane fade in <%= @tab == :profile ? 'active' : '' %>">
          <%= render 'form', user: current_user %>
        </div>

        <div id="account" class="profile-edit tab-pane fade in <%= @tab == :account ? 'active' : '' %>">
          <%= render 'account_form', user: current_user %>
        </div>

        <div id="password" class="profile-edit tab-pane fade in <%= @tab == :password ? 'active' : '' %>">
          <%= render 'password_form', user: current_user %>
        </div>

        <%= link_to t('back_to_root'), :root %>
      </div>
    </div>
  </div>
</div>
