<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'reg-page', autofill: 'off' }) do |f| %>
    <%= f.label t('devise.sign_up'), class: 'reg-header' %>
    <%= f.input :username, autofocus: true %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.button :submit, class: 'btn btn-u pull-right' %>
    <%= render 'devise/shared/links' %>
  <% end %>
</div>
