<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h3>
      <%= t(:edit_attr, attr: model_name(Council)) %>
    </h3>
  </div>
  <%= render 'form'%>
  <hr>
  <%= link_to(t(:add_attr, attr: model_name(Post)),
              new_council_post_path(@council),
              class: 'btn secondary') %>
  <%= link_to(t(:index_attr, attr: models_name(Post)),
              council_posts_path(@council),
              class: 'btn secondary') %>
  <% if @council.page.present?%>
    <%= link_to(t(:edit_attr, attr: model_name(Page)),
                page_path(@page),
                class: 'btn secondary') %>
  <% end %>
  <hr>
  <%= link_to(t(:show_attr, attr: model_name(Council)),
              council_path(@council),
              class: 'btn secondary') %>

  <%= link_to(t(:index_attr, attr: models_name(Council)),
              councils_path,
              class: 'btn secondary')%>
</div>
