<div class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3 reg-page">
			<%= label_tag 'Redigera utskott',nil, :class => 'reg-header'%>			
			<%= render 'form'%>
			<hr>
			<%= link_to 'Lägg till post', new_council_post_path(@council),class:"btn-u" %>	<%= link_to 'Visa poster', council_posts_path(@council),class:"btn-u" %><br><br>
			<%= link_to 'Redigera sida', council_page_path(@council),class:"btn-u" %>						
			<%= link_to 'Visa utskott', @council,class:"btn-u" %>
			<%= link_to 'Tillbaka till startsida', root_url, class:"btn-u"%><br><br>
			
		</div>
	</div>
</div>