<% title(Council.model_name.human) %>
<%= content_for :pre_content do %>
  <div class="row">
    <%= render('councils/menu', councils: @councils, current: nil) %>
  </div>
<% end %>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h1><%= t(:councils) %></h1>
    <%= simple_format(t(:councils_first)) %>
    <%= simple_format(t(:councils_second)) %>
    <p>
    <%= t(:councils_third) %> <%= render partial: "contacts/contact", locals: {name: 'Vice ordförande'}%>
    </p>
  </div>
</div>
