<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-3 col-sm-12">
    <%= render('/elements/dropdown_button',
               collection: @councils,
               controller: :councils,
               action: :show,
               title: models_name(Council)) %>
</div>


<div class="col-md-9 col-sm-12">
  <%= simple_format(t('.first_paragraph')) %>
  <%= simple_format(t('.second_paragraph')) %>

  <p>
    <%= t('.then_contact') %>
    <%= contact_from_slug(slug: 'viceordf') %>
  </p>
</div>
