<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-3 col-xs-12">
  <%= link_to(t('.back_to_userview'), cafe_path, class: 'btn primary') %>
  <hr>
  <%= link_to(t('.setup_shift'), setup_admin_cafe_shifts_path, class: 'btn primary') %>
  <%= link_to(t('.setup_single_shift'), new_admin_cafe_shift_path, class: 'btn secondary') %>
  <hr>
  <%= link_to(t('.ladybug'), ladybug_cafe_path, class: 'btn secondary') %>
  <%= link_to(t('.overview'), admin_overview_cafe_path, class: 'btn secondary') %>
  <hr>
  <%= simple_form_for(:cafe, url: admin_cafe_path, method: :get) do |f| %>
    <%= f.input :date, label: t('.shift_other_date'), as: :date_picker %>
    <%= f.button :submit, t('global.search') %>
    <%= link_to(t('global.reset'), admin_cafe_path, class: 'btn secondary') %>
  <% end %>
</div>

<div class="col-md-9 col-xs-12 cafe">
  <%= grid(@cafe_shift_grid) do |g|
    g.row_attributes do |shift|
      if shift.user.present?
        {id: dom_id(shift), class: 'with-worker'}
      else
        {id: dom_id(shift)}
      end
    end
    g.column name: CafeShift.human_attribute_name(:start), attribute: 'start' do |shift|
      l(shift.start, format: :weekday)
    end
    g.column name: CafeShift.human_attribute_name(:lv), attribute: 'lv'
    g.column name: CafeShift.human_attribute_name(:lp), attribute: 'lp'
    g.column name: CafeShift.human_attribute_name(:pass), attribute: 'pass'
    g.column name: model_name(CafeWorker), assoc: :user, attribute: 'id', filter: false do |shift|
      yes_no(shift.user.present?)
    end
    g.column name: t('global.show') do |shift|
      link_to(t('global.show'), admin_cafe_shift_path(shift))
    end
    g.column name: t('global.destroy') do |shift|
      if shift.user.nil?
        link_to(t('global.destroy'), admin_cafe_shift_path(shift), remote: true,
                method: :delete, html: { id: dom_id(shift) })
      end
    end
  end -%>
<span id="status"></span>
</div>
