<%= form_for(@rent, url: authorize_rent_path(@rent), remote: true) do |f| %>
    <%= render 'shared/form_errors', current: @rent %>
    <%= f.label :access_code, class: 'reg-label' %><br>
    <span id="status"></span>
    <div class="margin-bottom-20">
      <%= f.text_field :access_code, value: nil, class: 'form-control' %>
    </div>
    <div class="margin-bottom-20">
      <%= f.submit t(:authorize), class: 'btn-u pull-right' %>
    </div>
<% end %>
