<%= simple_form_for(@rent, html: { class: 'reg-page'}) do |f| %>
  <div class="center">
    <h1><%= t('rent.title') %></h1>

    <div class="headline headline-md"><h2><%= t('rent.agreement') %></h2></div>
    <% if @TOA.present? %>
      <iframe src="<%= document_path(@TOA) %>" class="iframe-document" frameborder="5"></iframe>
    <% else %>
      Syns inget här finnes avtalet <%= link_to('här', documents_path) %>.
    <% end %>
    <%= f.input :disclaimer, as: :boolean %>
  </div>
  <div class="form-inputs">
    <%= f.input :d_from, as: :datetime_picker %>
    <%= f.input :d_til, as: :datetime_picker %>
    <% if current_user.member? %>
      <%= f.input :purpose, as: :text %>
    <% else %>
      <%= f.input :purpose, as: :text, required: true %>
    <% end %>
    <% if (current_user.car_councils.count > 0) %>
      <strong>Utskottsbokning:</strong>
      <ul class="list">
        <li>får <strong>endast</strong> göras åt utskottet</li>
        <li>kan boka över en bokning, som börjar minst 5 dagar fram i tiden.</li>
      </ul>
      <%= f.association :council, collection: current_user.car_councils %>
    <% end %>
  </div>
  <% if @rents.count > 0 %>
    Bokningar (från idag + 30 dagar):<br>
    <% @rents.each do |r| %>
      <p><%= r.p_time %></p>
    <% end %>
  <% end %>
  <p><strong>Viktigt:</strong></p>
  <p>När du bokar utan att vara medlem blir bokningen endast en förfrågan som måste
  hanteras av Bilförmannen.</p>
  <p>Om ni är medlem i sektionen är det bäst om ni bekräftar ert <%= link_to('konto', edit_user_path) %>.
  </p>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-u' %>
  </div>
<% end %>
