<div class="funny-boxes funny-boxes-top-orange col-md-12">
	<div class="row">
		<div class="col-md-12 funny-boxes-img">
			<h2>Bilbokning - ID <%= rent.id%>
			<%if rent.service%><span class="label rounded label-danger pull-right">Service</span><%end%>
			<%if rent.status == "Nekad"%> <span class="label rounded label-danger pull-right">Nekad</span><%end%>
			<%if rent.status == "Ej bestämd"%>  <span class="label rounded-2x label-warning pull-right">Ej bestämd</span><%end%>
			<%if rent.status == "Bekräftad"%>  <span class="label rounded-2x label-success pull-right">Bekräftad</span><%end%>
			</h2>
			<table class="table">
				<tbody>
					<tr>
						<td><%=fa_icon('user')%></i></td>
						<td><%= (rent.profile != nil) ? link_to(rent.name + ' ' + rent.lastname,profile_path(rent.profile)) : rent.name + ' ' + rent.lastname%></td>
					</tr>
					<tr>
						<td><%=fa_icon('calendar')%> Start</td>
						<td><%= rent.d_from%></td>
					</tr>
					<tr>
						<td><%=fa_icon('calendar-o')%> Slut</td>
						<td><%= rent.d_til%></td>
					</tr>
                    <% if (current_user) && (rent.owner?(current_user) || current_user.moderator?(:bil))%>
					<tr>
						<td><%=fa_icon('envelope')%></td>
						<td><%= rent.email%></td>
					</tr>
					<tr>
						<td><%=fa_icon('phone')%></td>
						<td><%= rent.phone%></td>
					</tr>
					<tr>
						<td><%=fa_icon('check')%></td>
						<td> <%if rent.disclaimer%>
							Avtal accepterat<br>
						<%end%>
						<%if rent.aktiv%>
							Markerad som aktiv<br>
						<%end%>
						<%if rent.status == "Bekräftad"%>
							Bekräftad
						<%end%> </td>
					</tr>
					<tr>
						<td><%=fa_icon('exclamation-circle')%></td>
						<td> <%if !rent.disclaimer%>
						Avtal ej accepterat	<br>
						<%end%>
						<%if !rent.aktiv%>
						Markerad som inaktiv <br>
						<%end%>
						<%if rent.status == "Ej bestämd"%>
						Ingen status - måste bekräftas/nekas
						<br>
						<%end%>
						<%if rent.status == "Nekad"%>
						Nekad
						<%end%> </td>
					</tr>
					<%if rent.council.present?%>
					<tr>
						<td><%=fa_icon('users')%> Utskott:</td>
						<td><%= link_to(rent.council.title,council_path(rent.council))%></td>
					</tr>
					<%end%>
					<%if rent.purpose.present?%>
					<tr>
						<td><%=fa_icon('exclamation-circle')%> Syfte</td>
						<td><%= simple_format(rent.purpose)%></td>
					</tr>
					<%end%>
					<tr>
						<td><%=fa_icon('calendar')%> Skapad</td>
						<td><%= rent.created_at%></td>
					</tr>
					<tr>
						<td><%=fa_icon('calendar')%> Ändrad</td>
						<td><%= rent.updated_at%></td>
					</tr>
                    <%end%>
				</tbody>
			</table>
		</div>
	</div>
</div>