<% if rent.present? && rent.user.present? %>
  <%= simple_format(t('.user_field_with_asterix')) %>
  <table class="table">
    <tbody>
      <tr>
        <td><%=User.human_attribute_name(:name)%></td>
        <td><%= link_to(rent.user, rent.user) %></td>
      </tr>
      <% if can_administrate?(:manage, rent) || rent.owner?(current_user) %>
        <tr>
          <td><%=User.human_attribute_name(:email)%>*</td>
          <td><%= user.email %></td>
        </tr>
        <tr>
          <td><%=User.human_attribute_name(:phone)%>*</td>
          <td><%= user.phone %></td>
        </tr>
        <tr>
          <td><%=User.human_attribute_name(:student_id)%>*</td>
          <td><%= user.student_id %></td>
        </tr>
        <% if !rent.new_record? %>
          <%= render 'rents/table', rent: rent %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
