<div class="margin-bottom-20">
  <div class="headline headline-md">
    <h2>
      <%= %(#{Rent.model_name.human} - ID: #{rent.id}) %>
    </h2>
  </div>
  <span class="label rounded-2x label-warning pull-right">
    <%= t(%(rent.#{rent.status})) %>
  </span>
  <table class="table">
    <tbody>
      <tr>
        <td><%=Rent.human_attribute_name(:d_from)%></td>
        <td><%= rent.d_from %></td>
      </tr>
      <tr>
        <td><%=Rent.human_attribute_name(:d_til)%></td>
        <td><%= rent.d_til %></td>
      </tr>
      <tr>
        <td><%=Rent.human_attribute_name(:renter)%></td>
        <td><%= link_to(rent.user,rent.user) %></td>
      </tr>
      <% if rent.council.present? %>
        <tr>
          <td><%=Council.model_name.human%></td>
          <td><%= link_to(rent.council, rent.council) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if can?(:manage, rent) %>
    <table class="table">
      <tbody>
        <tr>
          <td><%=User.human_attribute_name(:email)%></td>
          <td><%= rent.user.email %></td>
        </tr>
        <tr>
          <td><%=User.human_attribute_name(:phone)%></td>
          <td><%= rent.user.phone %></td>
        </tr>
        <tr>
          <td><%=User.human_attribute_name(:stil_id)%></td>
          <td><%= rent.user.stil_id %></td>
        </tr>
      </tbody>
    </table>

  <% end %>
</div>
