<div class="margin-bottom-20">
  <div class="headline headline-md">
    <h2><%= t('.title') %></h2>
    <span class="label rounded-2x  <%= rent.status %> pull-right">
      <%= t(%(model.rent.#{rent.status})).capitalize %>
    </span>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td><%=Rent.human_attribute_name(:d_from)%></td>
        <td><%= l(rent.d_from) %></td>
      </tr>
      <tr>
        <td><%=Rent.human_attribute_name(:d_til)%></td>
        <td><%= l(rent.d_til) %></td>
      </tr>
      <tr>
        <td><%=Rent.human_attribute_name(:renter)%></td>
        <td><%= link_to(rent.user, rent.user, target: :blank_p) %></td>
      </tr>
      <% if rent.council.present? %>
        <tr>
          <td><%=Council.model_name.human%></td>
          <td><%= link_to(rent.council, rent.council, target: :blank_p) %></td>
        </tr>
      <% end %>
      <% if can?(:edit, rent) && rent.status == 'denied' %>
        <tr>
          <td><%=Rent.human_attribute_name(:comment)%></td>
          <td><%= simple_format(rent.comment) %></td>
        </tr>
      <% end %>

      <% if can?(:edit, rent) || can_administrate?(:edit, rent) %>
        <tr>
          <td><%=User.human_attribute_name(:email)%></td>
          <td><%= rent.user.email %></td>
        </tr>
        <tr>
          <td><%=User.human_attribute_name(:phone)%></td>
          <td><%= rent.user.phone %></td>
        </tr>
        <tr>
          <td><%=User.human_attribute_name(:student_id)%></td>
          <td><%= rent.user.student_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
