<% provide(:title, 'Bilbokning') %>
<div class="col-md-8 col-md-offset-2 reg-page">
  <% if @rent %>
      <div class="row margin-bottom-20">
        <% if @rent.edit?(current_user) %>
            <%= render 'form' %>
            <hr>
            <%= link_to('Radera bokning', rent_path(@rent), method: :delete, class: "btn btn-u",
                        data: {confirm: 'Din bokning kommer nu att raderas.'}) %>
            <%= link_to("Bilbokning", bil_path, class: "btn btn-u") %>
        <% elsif @rent.no_profile? %>
            <%= render @rent %>
            <div id="authorization">
              <%= render 'authorization' %>
            </div>
            <div id="after_authorization"></div>
        <% else %>
            Redigering inte möjlig.
            <%= render @rent %><br>
        <% end %>
      </div>
  <% end %>
  <div class="row">
    <%= link_to("Tillbaka - Bilbokning", :bil, class: "btn btn-u") %>
  </div>
</div>