<% provide(:title, 'Bilbokning') %>
<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 reg-page">
		<%if @rent%>
			<div class="row margin bottom-20">
				<%if @edit == true%>		
					<%=render 'edit_form'%>
					<hr>
					<%=link_to('Radera bokning',rent_path(@rent),method: :delete,class: "btn btn-u", data:{ confirm: 'Din bokning kommer nu att raderas.'})%> <%=link_to("Bilbokning",bil_path,class: "btn btn-u")%>
				<%else%>
					Redigering inte möjlig då bokningen redan varit.
					<%=render 'rent_show'%><br>									
					<%=link_to("Bilbokning",bil_path,class: "btn btn-u")%>
				<%end%>					
			</div>
			
		<%end%>
	</div>		
</div>