<div class='col-md-8 col-md-offset-2 col-xs-12 reg-page'>
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>

  <%= render 'form', rent: @rent %>
  <hr>
  <% if @rent.edit?(current_user) %>
    <%= link_to(t('.destroy'), rent_path(@rent),
                               method: :delete,
                               class: 'btn danger',
                               data: {confirm: t('.confirm_destroy')}) %>
  <% end %>
  <%= link_to(t('.overview'), overview_rents_path, class: 'btn secondary') %>
  <%= link_to(t('.index'), rents_path, class: 'btn secondary') %>
</div>
