<% description(t('.description')) %>
<% keywords(t('.keywords')) %>

<div class='headline headline-md'>
  <h1><%= title(t('.title')) %></h1>
</div>

<div class='col-md-3 col-xs-12'>
  <% if @faqs.present? %>
    <div class='row'>
      <div class='headline headline-md'><h2>F.A.Q.</h2></div>
      <div class='panel-group acc-v1' id='answered'>
        <%= render @faqs %>
        <ul class='list'>
          <li><%= link_to(t('.ask_question'), new_faq_path(category: 'Bil')) %></li>
        </ul>
      </div>
    </div>
  <% end %>
  <div class='row'>
    <% if user_signed_in? && current_user.member? %>
      <%= link_to(t('.overview'), overview_rents_path,
                  class: 'btn secondary') %>
    <% end %>
    <%= link_to(t('.new_rent'),
                new_rent_path, class: 'btn primary') %>
  <% if @terms.present? %>
    <%= link_to(document_path(@terms), target: 'blank_p', class: 'btn secondary') do %>
      <%= fa_icon('paperclip') %> <%= t('.terms') %>
    <% end %>
  <% end %>
  </div>
</div>

<div class='col-md-9 col-xs-12'>
  <% if current_user.present? %>
    <%= render 'car_bans', car_ban: current_user.car_ban %>
  <% end %>

  <div id='bilkalender'></div>
</div>
