<% provide(:title, Rent.model_name.human) %>
<div class='headline'>
    <h1><%= model_name(Rent) %></h1>
</div>
<div class='col-md-3 col-xs-12'>
  <div class='headline headline-md'><h2><%= t('links') %></h2></div>
  <ul class='buttons'>
    <li><%= link_to(t('rent.book'), new_rent_path, class: 'btn primary') %></li>
    <li><%= link_to(t('rent.back_to_index'), rents_path, class: 'btn secondary') %></li>
    <li><%= link_to(t('rent.contact'), contacts_path, class: 'btn secondary') %></li>
</div>
<div class='col-md-9 col-xs-12'>
  <div class='headline headline-md'><h2><%= t('rent.your_bookings')%></h2></div>
  <div class='panel-group acc-v1 margin-bottom-40' id='answered'>
    <% @rents.each do |f| %>
      <div class='panel panel-default'>
        <%= link_to(%(#collapse#{dom_id(f)}), class: 'accordion-toggle', data: { toggle: 'collapse', parent: '#answered' }) do %>
          <div class='panel-heading'>
            <h4 class='panel-title'>
              <%= f.p_time %>
            </h4>
          </div>
        <% end %>
        <div id='collapse<%= dom_id(f) %>' class='panel-collapse collapse'>
          <div class='panel-body'>
            <div class="margin-bottom-20">
            <%= link_to(t('edit', attr: model_name(Rent)), edit_rent_path(f), class: 'btn secondary') %>
            </div>
            <%= render f %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
