.col-md-12.margin-bottom-20
  %h1= ExLink.human_attribute_name("Tags")
  .row
    .col-md-10.margin-bottom-20
      %ul.list-inline.badge-lists
        %button.btn.btn-u-default
          =link_to ExLink.human_attribute_name("All tags"), action: 'index'
        - @tags.each do |tagname, number|
          %button.btn.btn-u-default
            =link_to "#{tagname} (#{number})", action: 'index', tag: tagname

  .row
    .col-md-10
      %h1= models_name(ExLink)
      .panel.panel-orange
        %table.table.table-hover
          %thead
            %tr
              %th= ExLink.human_attribute_name("Image")
              %th= ExLink.human_attribute_name("Label")
              %th= ExLink.human_attribute_name("Url")
              %th= ExLink.human_attribute_name("Tags")
              %th= ExLink.human_attribute_name("Test availability")
              %th= ExLink.human_attribute_name("Active")
              %th= ExLink.human_attribute_name("Expiration")
              %th= ExLink.human_attribute_name("Note")
              %th= ExLink.human_attribute_name("Action")

          %tbody
            - @ex_links.each do |ex_link|
              %tr
                %td= image_tag ex_link.image.url(:thumb), width: 30
                %td= truncate(ex_link.label, :length => 30)
                %td= link_to truncate(ex_link.url, :length => 30), ex_link.url
                %td= tags2labs ex_link.get_tagnames
                %td= bool2icon ex_link.test_availability
                %td= bool2icon ex_link.active
                %td= ex_link.expiration
                %td= truncate(ex_link.note, :length => 30)
                %td
                  .btn-group
                    %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                      =link_to 'Show', ex_link, :method => 'get'
  -#.row
  -#  .col-md-4
  -#    = link_to 'List all tags', {action: 'list_tags'},
  -#                                            class: 'btn-u btn-secondary'
  -#.row
  -#  .col-md-12
  -#    %h1 Listing tags
  -#    .panel.panel-sea.margin-bottom-10
  -#      %table.table.table-hover
  -#        %thead
  -#          %tr
  -#            %th Label
  -#            %th Occurence
  -#
  -#        %tbody
  -#          - @tags.each do |tagname, number|
  -#            %tr
  -#              %td= tagname
  -#              %td= link_to "#{number}", action: 'index', tag: tagname

