.col-md-12.margin-bottom-20
  %h1= "Tags"
  .row
    .col-md-10.margin-bottom-20
      %ul.list-inline.badge-lists
        %button.btn.btn-u-default
          = link_to ExLink.human_attribute_name(:all_tags), action: 'index'
        - @tags.each do |tagname, number|
          %button.btn.btn-u-default
            = link_to "#{tagname} (#{number})", action: 'index', tag: tagname

  .row
    .col-md-10
      %h1= models_name(ExLink)
      .panel.panel-orange
        %table.table.table-hover
          %thead
            %tr
              %th= ExLink.human_attribute_name(:image)
              %th= ExLink.human_attribute_name(:label)
              %th= ExLink.human_attribute_name(:url)
              %th= ExLink.human_attribute_name(:tags)
              %th= ExLink.human_attribute_name(:test_availability)
              %th= ExLink.human_attribute_name(:active)
              %th= ExLink.human_attribute_name(:expiration)
              %th= ExLink.human_attribute_name(:note)
              %th= ExLink.human_attribute_name(:action)

          %tbody
            - @ex_links.each do |ex_link|
              %tr
                %td= image_tag ex_link.image.url(:thumb), width: 30
                %td= truncate(ex_link.label, :length => 30)
                %td= link_to truncate(ex_link.url, :length => 30), ex_link.url
                %td= tags2labs ex_link.get_tagnames
                %td= bool2icon ex_link.test_availability
                %td= bool2icon ex_link.active
                %td= ex_link.expiration
                %td= truncate(ex_link.note, :length => 30)
                %td
                  .btn-group
                    %button.btn
                      .btn-default.dropdown-toggle{ "aria-expanded" => "false",
                                                    "data-toggle" => "dropdown",
                                                    :type => "button" }
                        = link_to ExLink.human_attribute_name(:show),
                          ex_link, :method => 'get'
