<%= form_for(@event, :html => {  :autocomplete => 'off' }) do |f| %>
	<% if @event.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@event.errors.count, "error") %> gör att eventet inte kan sparas:</h2>	
	      <ul>
	      <% @event.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
  	<% end %>
  	<%= f.label 'Titel', :class => 'reg-label'%>		  
  	<div class="input-group margin-bottom-20">					
		<%= f.text_field :title, :class => 'form-control',:placeholder => 'Titel'%>		
  	</div>
  	<%= f.label 'Beskrivning', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">		  	  		 		  	
  		<%= f.text_area :description, :class => 'form-control',:placeholder => 'Beskrivning' %>
  	</div>			  
  	<%= f.label 'Plats', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">
  		<%= f.text_field :location, :class => 'form-control',:placeholder => 'Plats',:autocomplete => 'off' %>
  	</div>
  	<%= f.label 'Visningsbild', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">		  	
  		<% if @event.image != nil%>
  			<%= image_tag(@event.image(:thumb))%>
		<% end %>  		 	 		  	
  		<%= f.file_field :image, :class => 'form-control' %>
  	</div>
  	<%= f.label 'Heldagsevent', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">		  	  		 		  	
  		<%= f.check_box :all_day, :class => '' %>
  	</div>
  	<%= f.label 'Startar', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">		  	  		 		  	
  		<%= f.datetime_select :starts_at, :minute_step => 10, :class => 'form-control' %>
  	</div>
  	<%= f.label 'Slutar', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">		  	  		 		  	
  		<%= f.datetime_select :ends_at, :minute_step => 10, :class => 'form-control' %>
  	</div>
  	<%= f.label 'Ansvarigt utskott', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">
  		<%= f.select :category, 
  				     options_from_collection_for_select(@utskott,:name,:name,@event.category),
  				     include_blank: true, 
  				     :class => "form-control listBox"%>		  	  		 		  	

  	</div>
  	
  	<div class="row">
  			<%= f.submit "Spara",:class => 'btn-u pull-right' %>	 				
  	</div>
<% end %>