<div class="event-info">
  <ul class="event-info">
    <% if event.cash? %>
      <li><%= fa_icon('money')%> <%= t('.cash') %></li>
    <% end %>
    <% if event.food? %>
      <li><%= fa_icon('cutlery')%> <%= t('.food') %></li>
    <% end %>
    <% if event.drink? %>
      <li><%= fa_icon('flask')%> <%= t('.drink') %></li>
    <% end %>
  </ul>
</div>

