<span class="event info">
  <ul>
    <% if event.cash? %>
      <li><%= fa_icon('money')%> <%= t('.cash') %></li>
    <% end %>
    <% if event.food? %>
      <li><%= fa_icon('cutlery')%> <%= t('.food') %></li>
    <% end %>
    <% if event.drink? %>
      <li><%= fa_icon('flask')%> <%= t('.drink') %></li>
    <% end %>
    <% if event.question.present? %>
      <li><%= fa_icon('question') %> <%= event.question %></li>
    <% end %>
  </ul>
</span>
