<span class="event info">
  <ul>
    <% if event.cash? %>
      <li><%= icon('far', 'money-bill-alt')%> <%= t('.cash') %></li>
    <% end %>

    <% if event.food? %>
      <li><%= icon('fas', 'utensils')%> <%= t('.food') %></li>
    <% end %>

    <% if event.drink? %>
      <li><%= icon('fas', 'flask')%> <%= t('.drink') %></li>
    <% end %>

    <% if event.drink_package? %>
      <li><%= icon('fas', 'gift')%> <%= t('.drink_package') %></li>
    <% end %>

    <% if event.signup %>
      <li><%= icon('fas', 'edit') %> <%= t('.registration') %></li>

      <% if event.signup.for_members %>
        <li><%= icon('fas', 'user') %> <%= t('.for_members') %></li>
      <% end %>

      <% if event.signup.question.present? %>
        <li><%= icon('fas', 'question') %> <%= event.signup.question %></li>
      <% end %>
    <% end %>
  </ul>
</span>
