<div class="event-info">
  <ul class="event-info">
    <% if event.cash? %>
      <li><%= fa_icon('money')%> <%= t('event.cash') %></li>
    <% end %>
    <% if event.food? %>
      <li><%= fa_icon('cutlery')%> <%= t('event.food') %></li>
    <% end %>
    <% if event.drink? %>
      <li><%= fa_icon('flask')%> <%= t('event.drink') %></li>
    <% end %>
  </ul>
</div>

