<% if EventRegistration.eligible_user?(event, current_user) %>
  <div class="headline">
    <h2><%= t('.registration') %></h2>
  </div>

  <div class="col-md-6 col-sm-12">
    <%= event_attendees(event) %>
  </div>

  <div class="col-md-6 col-sm-12">
    <%= event_reg_status(event_registration) %>

    <hr>

    <% if event.food %>
      <span class="event info">
        <ul>
          <li>
            <%= fa_icon('cutlery') %>
            <%= User.human_attribute_name(:food_preference) %>:
            <%= current_user.food_preference %>
            <%= link_to(t('.edit'), own_user_path, target: :blank_p) %>
          </li>
        </ul>
      </span>

      <hr>
    <% end %>

    <% if event_registration.persisted? %>
      <%= render '/event_registrations/registered', event: event,
                                                    event_registration: event_registration %>
    <% else %>
      <%= render '/event_registrations/form', event: event,
                                              event_registration: event_registration %>
    <% end %>
  </div>
<% else %>
  <%= event_reg_logged_in_or_member(@event, current_user) %>
<% end %>
