<div class="container">
<h1>Sektionens event</h1>

<table class="table">
  <thead>
  <tr>
    <th>Titel:</th>
    <th>Beskrivning:</th>
    <th>Ansvarig:</th>
    <th>Utskott:</th>
    <th>Börjar:</th>
    <th>Slutar:</th>
    <th>Heldag?</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.description %></td>
    <td><%= link_to User.find(event.author).profile.name, User.find(event.author).profile%></td>
    <td><%= event.category%></td>
    <td><%= event.starts_at %></td>
    <td><%= event.ends_at %></td>
    <td><%if event.all_day%>Ja <%else%>Nej<%end%></td>

    <td><%= link_to 'Visa', event %></td>
    <td><%= link_to 'Redigera', edit_event_path(event) %></td>
    <td><%= link_to 'Förinta', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<% if current_user.moderator?(:news)%>
			<div class="row">
				<%= link_to (content_tag(:i, nil, class: "fa fa-edit") + " Lägg till event"), new_event_path, class: "btn-u btn-u-small"%>
			</div>			
<% end %>

</div>
