<%= content_for :event_info do %>
  <div class="col-xs-12">
    <span class="time">
      <%= time_range(@event.starts_at, @event.ends_at, format: :long) %>
    </span>
    <span class="location">
      <%= @event.location %>
    </span>
    <%= simple_format(@event.description) %>
  </div>
  <div class="col-md-12">
    <%= render 'info', event: @event %>
  </div>
<% end %>

<div class="headline">
  <h2> <%= @event %> </h2>
</div>
<% if @event.image? %>
  <div class="col-md-8 col-xs-12">
    <%= yield :event_info %>
  </div>
  <div class="col-md-4 col-xs-12">
    <%= image_tag(@event.image.url, class: "img-responsive event-image") %>
  </div>
<% else %>
  <%= yield :event_info %>
<% end %>

<% if can?(:manage, @event) %>
  <div class="col-md-12">
    <%= link_to(t(:edit), edit_admin_event_path, class: 'btn primary') %>
    <%= link_to(t(:index), admin_events_path, class: 'btn secondary') %>
  </div>
<% end %>
