<%= content_for :event_info do %>
  <div class="col-md-12">
    <span class="event time">
      <%= fa_icon('calendar') %>
      <%= time_range(@event.starts_at, @event.ends_at, format: :long, dot: @event.dot) %>
    </span>

    <span class="event location">
      <%= fa_icon('map-marker') %>
      <%= @event.location %>
    </span>

    <%= markdown(@event.description) %>

    <hr>

    <%= render 'info', event: @event %>
  </div>
<% end %>

<div class="headline">
  <h1> <%= title(@event.to_s) %> </h1>
</div>

<% if @event.image.present? %>

  <div class="col-md-8 col-xs-12">
    <%= yield :event_info %>
  </div>
  <div class="col-md-4 col-xs-12">
    <%= image_tag(@event.large, class: 'img-responsive event-image') %>
  </div>

<% else %>

  <%= yield :event_info %>

<% end %>

<div class="col-md-12" id="registration">
  <%= render '/events/registration', event: @event,
                                     event_registration: @event_registration %>
</div>

<% if can_administrate?([:index, :edit], @event) %>
  <%= link_to(t('.edit_event'), edit_admin_event_path(@event),
                                class: 'btn primary') %>
  <%= link_to(t('.all_events'), admin_events_path,
                                class: 'btn secondary') %>
<% end %>
