<div class="container content"> 	
	<div class="row portfolio-item margin-bottom-50">
	<%if @event.image? %>
    	<div class="col-md-5 md-margin-bottom-40">
	<%else%>
		<div class="col-md-6 col-md-offset-3 md-margin-bottom-40">
	<%end%>
            <h2><%= @event.title%></h2>
            <%= simple_format(@event.description)%>
            <div class="row portfolio-item1">
            	<div class="col-xs-4">
                    <ul class="list-unstyled">
                    	<li><%=fa_icon('calendar')%>Startar:</li>
                    	<li><%=fa_icon('calendar')%>Slutar:</li>
                    	                    	
                	</ul>
            	</div>
            	<div class="col-xs-8">
                    <ul class="list-unstyled">
                    	<li><%=@event.starts_at%></li>
                    	<li><%=@event.ends_at%></li>                    	
                	</ul>
            	</div>
        	</div>
        	<div class="row portfolio-item1">
            	<div class="col-xs-4">
                    <ul class="list-unstyled">
                    	<%if @author%><li><%=fa_icon('user')%>Upplagt av:</li><%end%>
                    	<li><%=fa_icon('group')%>Utskott:</li>                    	                    	
                	</ul>
            	</div>
            	<div class="col-xs-8">
                    <ul class="list-unstyled">
                    	<%if @author%> <li><%= link_to @author.print,@author %></li> <%end%>
                    	<li><%=@event.category%></li>                    	
                	</ul>
            	</div>
        	</div>
        	<div class="row">
        		<div class="col-xs-6">
        			<% if current_user.has_role?(:event, :edit) %>				      	
				        <%= link_to (content_tag(:i, nil, class: "fa fa-edit") + " Redigera"), edit_event_path(@event), class: "btn-u btn-u-small" %>
				        <%= link_to (content_tag(:i, nil, class: "fa fa-trash-o") + " Förinta"), @event, method: :delete, data: {confirm: "Är du säker?"}, class: "btn-u btn-u-small" %>
      				<% end %>
    		 	</div>    		 	          
            </div>
        </div>
        <!-- End Content Info -->        

        
        <%if @event.image_file_name %>    	
	        <!-- Carousel -->
	        <div class="col-md-7">
	            <div class="carousel slide carousel-v1" id="myCarousel">
	                <div class="carousel-inner">
	                    <div class="item active">
	                        <%= image_tag @event.image(:medium)%>                        
	                    </div>                    
	                </div>
	            </div>
	        </div>
	        <!-- End Carousel -->
        <%end%>
    </div><!--/row-->
</div>