<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> gör att nyheten inte kan sparas:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Titel:' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'Innehåll:' %><br>
    <%= f.text_area :content %>
  </div>
    <div class="field">  
  	<%= f.file_field :image %>  
   </div>   
  <div class="actions">
    <%= f.submit "Spara" %>
  </div>
<% end %>
