<div class="row">
  <div class="funny-boxes funny-boxes-left-u">
    <h4><%=link_to(news.title,news)%></h4>
    <%=simple_format(truncate(news.content,length: 140, separator: '', escape: false){ link_to "Läs mer", news })%>
    <ul class="list-unstyled">
      <% if news.user %>
        <li>
          <%= link_to(news.user) do %>
            <%= fa_icon('user') %> <%= news.user %>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= fa_icon('calendar') %> <%= l(news.created_at) %>
      </li>
    </ul>
  </div>
</div>
