<div class="news">
  <h4>
    <%= link_to(news, news_path(news)) %>
    <% if news.image.present? %>
      <%= fa_icon('image') %>
    <% end %>
  </h4>
  <%= simple_format(truncate(news.content,
                             length: 140,
                             separator: '',
                             escape: false){
                               link_to(t(:read_more), news_path(news))
                             }) %>
  <%= news_url(news) %>

  <span class="date">
    <%= fa_icon('calendar') %> <%= l(news.created_at) %>
  </span>

  <%= news_user(news) %>

  <% if can?(:manage, news) %>
    <span class="edit">
      <%= link_to(edit_admin_news_path(news)) do %>
        <%= fa_icon('cog') %> <%= t(:edit) %>
      <% end %>
    </span>
  <% end %>
  <hr>
</div>
