<% title("Nyheter") %>
<div class="container">	
	<div class="col-md-12">
		<ul class="timeline-v2">
			<% @news.sort_by{|news|news.created_at}.reverse.slice(0,10).each do |news| %>
				<li>					
					<time class="cbp_tmtime"><span><%= link_to fa_icon("user") + (User.find(news.author).profile.name)+' ('+Post.find(User.find(news.author).profile.first_post).title+')' ,User.find(news.author).profile %> </span>
					<span><%= simple_format(news.created_at.to_s) %></span></time>
					<i class="cbp_tmicon"></i>
					<div class="cbp_tmlabel">
						<h2><%= link_to news.title, news%></h2>
						<div class="row">
							<div class="col-md-4">
								<%= image_tag news.image.url(:small)%>
								<div class="md-margin-bottom-20"></div>
							</div>
							<div class="col-md-8">
								<%= simple_format(news.content)%>
							</div>
						</div>
					</div>
				</li>								
			<% end %>
	
		</ul>
	</div>
</div>
<% content_for(:sidebar) do %>
 	<% if user_signed_in? %>
 	 <% if current_user.admin? || current_user.has_role?(:news,:edit) %>
    <div class="headline headline-md"><h2>Verktyg</h2></div>
      <ul class="list">
        <li><%= link_to "Skapa nyhet", new_news_path %></li>
      </ul>
  <% end %>
  <%end%>
<% end %>
