<% title(models_name(News)) %>
<div class="headline">
  <%= content_tag(:h2, t(:index, attr: models_name(News))) %>
</div>
<div class="col-md-12 news">
  <% @news.group_by { |t| t.created_at.month }.each do |month, news| %>
    <%= content_tag(:h4, l(news.first.created_at, format: '%B').capitalize, class: 'month') %>
    <% news.each do |n| %>
      <div class="col-md-12 box">
        <div class="headline">
          <%= content_tag(:h3, link_to(n, news_path(n))) %>
        </div>
        <div class="col-md-8">
          <%= simple_format(n.content) %>
          <span class="news">
            <% if n.author.present? %>
              <%= link_to(n.author) do %>
                <%= fa_icon('user') %> <%= n.author %>
              <% end %>
              <br>
            <% end %>
            <%= fa_icon('calendar') %>
            <%= n.created_at.strftime('%Y/%m/%d %H:%M') %><br>
          </span>
        </div>
        <% if n.image.present? %>
          <div class="col-md-4">
            <%= image_tag(n.image.url(:small), class: 'img-responsive') %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
