<% title("Nyheter") %>
 
<% @news.sort_by{|news|news.created_at}.reverse.slice(0,10).each do |news| %>

<!--Blog Post-->
<div class="row blog">
  <div class="col-md-3">
    <%= image_tag news.image.url(:thumb) %>
  </div>
  
  <div class="col-md-9">
    <h2><%= news.title %></h2>
	
    <ul class="list-unstyled blog-info">
    	<li><%= fa_icon("user") %> <%= link_to (User.find(news.author).profile.name)+' - ('+ Role.find(User.find(news.author)).title+')' ,User.find(news.author).profile %></li>
      <li><i class="fa fa-calendar"></i> <%= news.created_at.in_time_zone("Berlin").to_formatted_s(:db) %></li>      
    </ul>
	
    <p><%= simple_format(news.content) %></p>
	
    <p>
      <%= link_to (content_tag(:i, nil, class: "fa fa-location-arrow") + " Läs mer"), news, class: "btn-u btn-u-small" %>

      <% if current_user.has_role?(:news, :edit) %>
        <%= link_to (content_tag(:i, nil, class: "fa fa-edit") + " Redigera"), edit_news_path(news), class: "btn-u btn-u-small" %>
        <%= link_to (content_tag(:i, nil, class: "fa fa-trash-o") + " Förinta"), news, method: :delete, data: {confirm: "Är du säker?"}, class: "btn-u btn-u-small" %>
      <% end %>
    </p>
  </div>    
</div>
<!--End Blog Post-->        

<hr class="margin-bottom-20"> 
<% end %>

<% content_for(:sidebar) do %>
  <% if user_signed_in? %>
    <div class="headline headline-md"><h2>Verktyg</h2></div>
      <ul class="list">
        <li><%= link_to "Skapa nyhet", new_news_path %></li>
      </ul>
  <% end %>
<% end %>
