<div class="container content"> 	
	<div class="row portfolio-item margin-bottom-50">
    	<div class="col-md-offset-2 col-md-<%if !@news.image_file_name.nil?%>5<%else%>9<%end%> md-margin-bottom-40">
            <h2><%= @news.title %></h2>            
            <div class="row portfolio-item1">
            	<div class="col-xs-12">
            		<%= simple_format(@news.content)%>
        		</div>
        	</div>
        	
        	<div class="row">
        		<div class="col-xs-12">
        			<%= link_to (content_tag(:i, nil, class: "fa fa-edit") + " Nyheter"), news_index_path, class: "btn-u btn-u-small"%>
        			<% if (current_user) && (current_user.moderator?(:news)) %>				      	
				        <%= link_to (content_tag(:i, nil, class: "fa fa-edit") + " Redigera"), edit_news_path(@news), class: "btn-u btn-u-small"%>
				        <%= link_to (content_tag(:i, nil, class: "fa fa-trash-o") + " Förinta"), @news, method: :delete, data: {confirm: "Är du säker?"}, class: "btn-u btn-u-small" %>
      				<% end %>
    		 	</div>    		 	          
            </div>
        </div>
        <!-- End Content Info -->        

        <!-- Carousel -->
        <%if !@news.image_file_name.nil?%>
        <div class="col-md-3">
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <%= image_tag @news.image(:original)%>                        
                    </div>                    
                </div>
            </div>
        </div>
        <%end%>
        <!-- End Carousel -->
    </div><!--/row-->
</div>