<div class="headline">
  <h1><%= title(@news.title) %></h1>
</div>

<%= content_for :info do %>
  <%= markdown(@news.content)%>

  <% if @news.url.present? %>
    <span class="link">
      <%= link_to(@news.url, target: :blank_p) do %>
        <%= fa_icon('link') %> <%= @news.url %>
      <% end %>
    </span>
  <% end %>

   <% if @news.categories.count > 0 %>
     <span class="categories">
       <%= fa_icon('hashtag') %> 
       <% @news.categories.each do |cat| %>
         <%= link_to(cat.title, news_index_path(category: cat.to_param)) %>
         <%= ' ' %>
       <% end %>
     </span>
   <% end %>

  <span class="date">
    <%= fa_icon('calendar') %> <%= l(@news.created_at) %>
  </span>

  <span class="user">
    <%= link_to(user_path(@news.user), target: :blank_p) do %>
      <%= fa_icon('user') %> <%= @news.user %>
    <% end %>
  </span>

  <% if can_administrate?(:modify, @news) %>
    <span class="edit">
      <%= link_to(edit_admin_news_path(@news)) do %>
        <%= fa_icon('cog') %> <%= t('global.edit') %>
      <% end %>
    </span>
  <% end %>
  <hr>

  <%= link_to(t('.all_news'),
              news_index_path,
              class: 'btn secondary') %>
<% end %>

<%= content_for :image do %>
  <%= image_tag(@news.large, class: 'img-responsive') %>
<% end %>

<% if @news.image.present? %>
  <div class="col-md-3 col-sm-12">
    <%= yield :image %>
  </div>

  <div class="col-md-9 col-sm-12 news">
    <%= yield :info %>
  </div>
<% else %>
  <div class="col-md-12 news">
    <%= yield :info %>
  </div>
<% end %>
