<% title("Nyheter") %>

<p id="notice"><%= notice %></p>

<div class="headline headline-md">
  <h1><%= @news.title %></h1>
</div>

<p>
  <%= @news.content %>
</p>

<%= link_to fa_icon('edit') + ' Edit', edit_news_path(@news) %> 
<%= link_to fa_icon('location-arrow') + ' Back', news_index_path %>
