<% title("Nyheter") %>

<div class="headline headline-md">
  <h1><%= @news.title %></h1>
</div>

<p id="notice"><%= notice %></p>

<p>
  <%= @news.content %>
</p>

<%= link_to fa_icon('edit') + ' Redigera', edit_news_path(@news) %> 
<%= link_to fa_icon('location-arrow') + ' Tillbaka', news_path %>
