<%= content_for :text do %>
  <%= simple_format(@news.content) %>
  <span class="news">
    <% if @news.author.present? %>
      <%= link_to(@news.author) do %>
        <%= fa_icon('user') %> <%= @news.author %>
      <% end %>
      <br>
      <%= fa_icon('calendar') %>
      <%= @news.created_at.strftime('%Y/%m/%d %H:%M') %>
    <% end %>
  </span>
<% end %>

<div class="col-md-8 col-md-offset-2 col-xs-12 news">
  <div class="headline">
    <%= content_tag(:h1, @news.title) %>
  </div>
  <% if @news.image.present? %>
    <div class="col-md-8 col-xs-12">
      <%= yield :text %>
    </div>

    <div class="col-md-4 col-xs-12">
      <%= image_tag(@news.image(:original), class: 'img-responsive') %>
    </div>

  <% else %>
    <div class="col-md-12 margin-bottom-20">
      <%= yield :text %>
    </div>
  <% end %>

  <div class="col-xs-12">
    <%= link_to(t(:index, attr: models_name(News)), news_index_path, class: 'btn secondary') %>
    <% if can? :modify, @news %>
      <%= link_to(t(:edit, attr: model_name(News)), edit_news_path(@news), class: 'btn secondary') %>
      <%= link_to(t(:destroy, attr: nil), @news, method: :delete, class: 'btn danger') %>
    <% end %>
  </div>
</div>


