<div class="introduction col-md-12">
  <div class="headline">
    <h1><%= title(models_name(Adventure)) %>  <%= "- #{@adventure.title}" if @adventure.present? %>
    </h1>
  </div>

  <% if @adventure.present? %>

      <%= render 'adventure_view' %>

  <% end %>

  <div class="col-md-12">
    <hr>
    <%= link_to(@introduction.title, introductions_path, class: 'btn primary') %>
    <%= link_to(t('.archive'), archive_adventures_path(@introduction),
                               class: 'btn secondary') %>
  </div>
</div>
