<% cache_unless(can_administrate?(:edit, event),
                [event, I18n.locale]) do %>
  <div class="modal-event-body row">
    <div class="col-sm-8 col-xs-12">
      <h3 class="modal-title">
        <%= link_to(event.title, event_path(event), target: :blank_p) %>
      </h3>
      <span class="event time">
        <%= fa_icon('calendar-o') %>
        <% if event.all_day? %>
          <%= t('.all_day') %>
        <% else %>
          <%= time_range(event.starts_at, event.ends_at, format: :default,
                                                         dot: event.dot) %>
        <% end %>
      </span>
      <span class="event location">
        <%=  fa_icon('map-marker') %>
        <%= event.location %>
      </span>
      <span class="description">
        <%= markdown(event.description) %>
      </span>
      <% if event.signup.present? %>
        <span class="reminder">
          <%= link_to(t('.event_registration'), event_path(event), class: 'btn primary') %>
        </span>
      <% end %>
    </div>
    <div class="col-sm-4 col-xs-12">
      <span class="symbols">
        <%= render('symbols', event: event) %>
        <br>
        <ul class="symbol-list">
          <% if event.signup.present? %>
            <li><%= t('.signup') %></li>
          <% end %>
          <% if event.food? %>
            <li><%= t('.food') %></li>
          <% end %>
          <% if event.drink? %>
            <li><%= t('.drink') %></li>
          <% end %>
          <% if event.cash? %>
            <li><%= t('.cash') %></li>
          <% end %>
        </ul>
      </span>
    </div>
  </div>
  <% if can_administrate?(event, :edit) %>
    <%= link_to(edit_admin_event_path(event), class: 'pull-right',
                                              target: :blank_p) do %>
      <%= fa_icon('cog') %> <%= t('global.edit')  %>
    <% end %>
    <br>
  <% end %>
  <hr>
<% end %>
