<% description(@introduction.description) %>
<% keywords(t('.keywords')) %>

<div class="introduction">
  <div class="headline">
    <h1><%= title(@introduction.title) %></h1>
    <small>
      -
      <%= date_range(@introduction.start, @introduction.stop) %>
    </small>
  </div>

  <div class="col-md-12 paragraph"><%= t('.info') %></div>
  <div class="col-md-12 paragraph">
    <%= t('.info2',
          checklist: link_to(t('.this_checklist'), '/sida/checklista'),
          more_info: link_to(t('global.here'), '/sida/vadarnollningen')).html_safe %>
  </div>
  <div class="col-md-12 paragraph">
    <%= t('.info3',
          contact: link_to(t('.contact_us'), @contact),
          foset: link_to(t('.foset'), '/utskott/fos')).html_safe %>
  </div>
  <div class="col-md-12 paragraph margin-bottom-20"><%= t('.info4') %></div>

  <% if @news.present? %>
    <div class="col-md-12 news">

      <%= render @news %>

      <%= link_to news_index_path(category: :nollning) do%>
        <%= fa_icon('plus') %> <%= t('.more_news') %>
      <% end %>
    </div>
  <% end %>
</div>
