<% description(@introduction.description) %>
<% keywords(t('.keywords')) %>

<div class="introduction">
  <div class="headline">
    <h1><%= title(@introduction.title) %></h1>
    <small>
      -
      <%= date_range(@introduction.start, @introduction.stop) %>
    </small>
  </div>


  <div class="col-md-12 paragraph margin-bottom-20">
    <%= simple_format t('.info',
          checklist: link_to(t('.this_checklist'), '/sida/checklista'),
          en_checklist: link_to(t('.this_checklist'), '/en/sida/checklista'),
          en_more_info: link_to(t('global.here'), '/en/sida/vadarnollningen'),
          more_info: link_to(t('global.here'), '/sida/vadarnollningen'),
          corona: link_to(t('global.here'), '/sida/coronainfo'),
          contact: link_to(t('.contact_us'), @contact),
          foset: link_to(t('.foset'), '/utskott/fos'),
          en_foset: link_to(t('.foset'), '/en/utskott/fos'),
          anonymous_contact: link_to(t('global.here'), 'https://contact.fsektionen.se/', target: '_blank')
    ).html_safe %>
  </div>

  <% if @news.present? %>
    <div class="col-md-12 news">

      <%= render @news %>

      <%= link_to news_index_path(category: :nollning) do%>
        <%= icon('fas', 'plus') %> <%= t('.more_news') %>
      <% end %>
    </div>
  <% end %>
</div>
