<%# Privilegies to check for each menu category %>
<% all_privileges = { 'Användare' => [User, MailAlias, Group, Permission],
                      'Poster' => [Election, Council, Document],
                      'Information' => [News, Event, BlogPost],
                      'Spindelman' => [Menu, ShortLink, Constant, Category],
                      'Pryl' => [Rent, Tool],
                      'Övrigt' => [CafeShift, Introduction, WorkPost, Faq, Page, Album, Contact, Meeting, Song] } %>

<li class="dropdown right large-menu">
  <%= link_to('#', class: 'dropdown-toggle', data: { toggle: 'dropdown', 'close-others' => 'false' }) do %>
    <span class="topbar_icon"><%= fa_icon('cog') %></span>
    <span class="topbar_text">
      <%= t('.administrate') %>
    </span>
  <% end %>
  <ul class="dropdown-menu megamenu row">
  <div class="dropdown_header"><%= t('.administrate') %></div>
  <div class="admin_menu_categories">
  <% all_privileges.each do |title, privileges| %>
    <li class="admin-menu-category">
      <ul class="">
        <% privileges.delete_if { |p| !can_administrate?(:index, p) } %>
        <% if privileges.present? %>
          <li class="menu-header">
            <%= title %>
          </li>
          <% privileges.each do |privilege| %>
            <li class="menu">
              <%= link_to models_name(privilege), [:admin, privilege] %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
  </div>
  <div class="dropdown_bottom"></div>
  </ul>
</li>
