<div class="col-md-3 col-sm-12 song-grid">
  <div class="song-table-round">
    <div class="song-table-header">
      <h3>Låtsök</h3>
      <%= simple_form_for(:song, url: search_songs_path, remote: true) do |f| %>
        <%= f.input(:title, required: false, label: false, input_html: {value: ''}, placeholder: 'Sök efter en låt') %>
      <% end %>
    </div>

    <p id="song-status"></p>
    <table id="song-table"></table>
  </div>
  <div class="song-table-round hidden-sm hidden-sx">
    <div class="song-table-header">
      <h3>Populära låtar</h3>
    </div>
    <table>
          <%= render('search_row', songs: @popular) %>
        </table>
  </div>
</div>


<div class="col-md-9 col-sm-12">
  <div class="headline">
    <h1><%= @song %></h1>
  </div>
  <% if @song.category.present? %>
    <%= simple_format("<span class=\"song-attr\">Kategori: </span>" + @song.category) %>
  <% end %>
  <% if @song.author.present? %>
    <%= simple_format("<span class=\"song-attr\">Text: </span>" + @song.author) %>
  <% end %>
  <% if @song.melody.present? %>
    <%= simple_format("<span class=\"song-attr\">Melodi: </span>" + @song.melody) %>
  <% end %>
  <%= markdown(@song.content) %>
</div>
