<%= render('search_bar', popular: @popular) %>

<div class="col-md-9 col-sm-12">
  <div class="headline">
    <h1><%= @song %></h1>
  </div>

  <div>
  <%= button_to('Favvo!', {:controller => "favorite_songs", :action => "create", :user_id => session[:user_id], :song_id => @song.id},
                        {:method => :post}) %> 
  </div>

  <span class="song-attr">
    <span class="song-attr-name">
      <%= Song.human_attribute_name(:song_category) %>:
    </span> <%= @song.song_category %>
  </span>
  <% if @song.author.present? %>
    <span class="song-attr">
      <span class="song-attr-name">
        <%= Song.human_attribute_name(:author) %>:
      </span> <%= @song.author %>
    </span>
  <% end %>
  <% if @song.melody.present? %>
  <span class="song-attr">
      <span class="song-attr-name">
        <%= Song.human_attribute_name(:melody) %>:
      </span> <%= @song.melody %>
    </span>
  <% end %>

  <div class="song-content">
    <%= markdown(@song.content) %>
  </div>

  <div>
  <%= link_to(t('.all_songs'), songs_path, class: 'btn primary') %>
  </div>
</div>
