<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>

  <%= render 'form', work_portal: @work_portal %>

  <span>
    <%= WorkPost.human_attribute_name(:updated_at) %>:
    <%= l(@work_portal.current_post.updated_at) %>,
    <%= user_link(@work_portal.current_post.user) %>
  </span>

  <hr>
  <%= link_to(t('.show'), work_post_path(@work_portal.current_post),
                          class: 'btn secondary') %>
  <%= link_to(t('.all_posts'), work_posts_path,
                               class: 'btn secondary') %>
  <%= link_to(t('.administrate_posts'), admin_work_posts_path,
                                        class: 'btn secondary') %>
</div>
