<ul class="list-group sidebar-nav">
  <li class="list-group-item">
    <%= link_to(edit_admin_adventure_path(adventure)) do %>
      <%= icon('fas', 'list', t('.edit')) %>
    <% end %>
  </li>

  <li class="list-group-item">
    <%= link_to(new_admin_adventure_adventure_mission_path(adventure: adventure)) do %>
      <%= icon('fas', 'plus', t('.add')) %>
    <% end %>
  </li>
  <% unless adventure.adventure_missions.empty? %> 
    
    <li class="list-group-item">
        <%= link_to(admin_adventure_lock_path(adventure), method: :patch) do %>
          <%= icon('fas', 'lock', t('.lock')) %>
      <% end %> 
    </li>

    <li class="list-group-item">
        <%= link_to(admin_adventure_unlock_path(adventure), method: :patch) do %>
          <%= icon('fas', 'lock-open', t('.unlock')) %>
        <% end %>
    </li>
  <% end %> 
</ul>
