<div class="col-md-12 election">
  <div class="headline headline-md">
    <h1 id="election-title">
      <%= election.title %>
    </h1>
  </div>

  <div class="col-md-6 col-sm-12">
    <%= render 'countdown', election_view: @election_view %>
  </div>

  <div class="col-md-6 col-sm-12">
    <%= simple_format(election.description) %>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <%= link_to(model_name(Nomination), new_nominations_path, class: 'btn primary center') %><br>
    </div>

    <div class="col-md-6">
      <%= link_to(model_name(Candidate), candidates_path, class: 'btn primary center') %>
    </div>
  </div>

  <div class="col-md-12 election">
    <h3>
      <% if election.state == :before %>
        <%= t('election.posts_before') %>
      <% else %>
        <%= t('election.posts_during') %>
      <% end %>
    </h3>

    <%= render "posttab", grid: @grid_election, election: election %>

    <ul class="list">
      <li><%= t('election.x_posts') %></li>
      <li><%= t('election.star_posts') %></li>
      <li><%= t('election.orange_posts') %></li>
      <% if [:after, :closed].include?(election.state)%>
        <li><%= t('election.green_posts') %></li>
      <% end %>
    </ul>
    <% if election.state == :after  %>
      <h3><%= t('election.posts_after') %></h3>
      <%= render "posttab", grid: @grid_termins, election: election %>
    <% end %>
    <div class="display-post" id="views"></div>
  </div>
</div>
