<div class="col-md-12 election">
  <div class="headline headline-md">
    <h1 id="election-title">
      <%= election.title %>
    </h1>
  </div>

  <div class="col-md-6 col-sm-12">
    <%= render "countdown" %>
  </div>

  <div class="col-md-6 col-sm-12">
    <%= simple_format(election.description) %>

    <%= simple_format(election.status_text) %>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <%= link_to(model_name(Nomination), new_nominations_path, class: "btn primary center") %><br>
    </div>

    <div class="col-md-6">
      <%= link_to(model_name(Candidate), candidates_path, class: "btn primary center") %>
    </div>
  </div>

  <div class="col-md-12 election">
    <h3>
      <% if election.view_status == :before %>
        <%= t('elections.posts_before') %>
      <% else %>
        <%= t('elections.posts_during') %>
      <% end %>
    </h3>

    <%= render "posttab", grid: @grid_election, election: election %>

    <ul class="list">
      <li><%= t('elections.x_posts') %></li>
      <li><%= t('elections.star_posts') %></li>
      <li><%= t('elections.orange_posts') %></li>
      <% if [:after, :closed].include?(election.view_status)%>
        <li><%= t('elections.green_posts') %></li>
      <% end %>
    </ul>
    <% if election.view_status == :after  %>
      <h3><%= t('elections.posts_after') %></h3>
      <%= render "posttab", grid: @grid_termins, election: election %>
    <% end %>
    <div class="display-post" id="views"></div>

    <p> <%= t('elections.get_in_touch') %>
  <%= render partial: "contacts/contact", locals: {name: 'Spindelmän'} %></p>
  </div>
</div>
