<%= form_for(@valet) do |f| %>
  <% if @valet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@valet.errors.count, "error") %> hindar valet från att sparas:</h2>
      <ul>
      <% @valet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<div class="col-md-7">  
	    <%= f.label 'Titel', :class => 'reg-label'%>
	  	<div class="input-group margin-bottom-20">  		
	  		<%= f.text_field :title,:class => 'form-control' %>
	  	</div>	  	
	  	<%= f.label 'Öppnar', :class => 'reg-label'%>
	  	<div class="input-group margin-bottom-20">  		
	  		<%= f.datetime_select :start,:class => 'form-control' %>
	  	</div>
	  	<%= f.label 'Stänger', :class => 'reg-label'%>
	  	<div class="input-group margin-bottom-20">  		
	  		<%= f.datetime_select :end,:class => 'form-control' %>
	  	</div>
	  	<%= f.label 'Url', :class => 'reg-label'%><br>
	  	T.ex. ht-14 (endast a-z, 1-9 och -)
	  	<div class="input-group margin-bottom-20">  		
	  		<%= f.text_field :url,:class => 'form-control' %>
	  	</div>
	  	<%= f.label 'Beskrivning av valet', :class => 'reg-label'%>
	  	<div class="input-group margin-bottom-20">
	  		<%= f.text_area :description,:class => 'form-control', size: "40x2" %>
	  	</div>	  	
	  	<%if @valet.new_record? == false%>
	  		<%= link_to 'Lägg till fler texter', edit_election_path(@valet), class: "btn btn-u"%><br>
	  	<%end%>
	  	</div>
	  	<div class="col-md-5">
  		<%= f.label 'Länk för intervjutider (Doodle)', :class => 'reg-label'%>
		  	<div class="input-group margin-bottom-20">
		  		<%= f.text_field :candidate_mail,:class => 'form-control', size: "40x2" %>
		  	</div>
	  	<%= f.label 'Synlig?', :class => 'reg-label'%>  	
		<%= f.check_box :visible,:class => 'form-control' %>
		<hr>
		<%= f.label 'Poster som kan sökas', :class => 'reg-label'%>
		<%if @poster%>
		  	<div class="input-group margin-bottom-20">
		  		<%for @post in @poster%>
		  		<div class="input-group margin-bottom-1">
		  			<%= f.check_box(:post_ids,{multiple: true},@post.id,nil)%><%= f.label :post_ids, @post.title, :value => false,:class => 'reg-label' %>
				</div>		
		  		<%end%>		  				  				     	
		  	</div>
	  	<%end%>	
	  	<div class="row margin-bottom-20">
	  			<%= f.submit "Spara",:class => 'btn-u' %>	 				
	  	</div>
  	</div>
<% end %>