<div class="col-md-12 coming-soon">
    <h1><%=@valet.title%></h1>
    <p><%=simple_format(@valet.description)%></p><br>
    <p><%=simple_format(@valet.text_after)%></p>	
	<div class="col-md-3 col-md-offset-3"><%= link_to("Nominering",nominate_elections_path,class: "btn btn-election")%></div>
	<div class="col-md-3"><%= link_to("Kandidatur",candidate_elections_path,class: "btn btn-election")%></div>
		    
	<div class="col-md-8 col-md-offset-2 coming-soon election">
		<h2>Poster som går att söka</h2>
	    <%@post_grid = @grid_extern%>
		<%= render "posttab"%>
		<p>Grönfärgade fält innebär att posten väljs av studierådet.</p>	
		<h2>Poster som inte går att söka längre</h2>
	    <%@post_grid = @grid_election%>
		<%= render "posttab"%>
	    <p>Orangefärgade fält innebär att posten sitter i styrelsen.</p>
	    <div class="panel" id="views">
			<%for @post in @poster%>
	            <%@displayPost = @post%>
				 <%=render "post_description"%>                                        
	        <%end%>
	    </div>
	    <p>Ser något konstigt ut eller blir det fel? Hör av dig till <%= render partial: "contacts/kontakt", locals: {name: 'Spindelmän'}%></p>			        
	</div>         
</div>