<div id="mer-<%=@displayPost.id%>" class="collapse">
    <div class="funny-boxes funny-boxes-left-orange left-text-align">    	
    	<%=link_to("Dölj","#mer-"+@displayPost.id.to_s,class: "btn btn-u pull-right margin-left-20", data: {toggle: "collapse"})%>    	
    	<% if (@during) %>
	    	<%=link_to("Kandidera",candidate_elections_path(post: @displayPost.id.to_s),class: "btn btn-u pull-right margin-left-20")%>
	    	<%=link_to("Nominera",nominate_elections_path(post: @displayPost.id.to_s),class: "btn btn-u pull-right")%>
    	<%end%>
    	<h2><%=@displayPost.title%></h2>			                	
        <%if @displayPost.description%><p><%=simple_format(@displayPost.description)%></p><%end%>
        <ul class="list-unstyled">
           <%if (@displayPost.limit) || (@displayPost.styrelse)%><li><i class="fa fa-briefcase"></i><%if @displayPost.limit%>Antal: <%=@displayPost.printLimit%> <%end%><%if @displayPost.styrelse%>, styrelsepost<%end%></li><%end%>                               
           <%if @displayPost.council%><li><i class="fa fa-users"></i>Utskott: <%=link_to(@displayPost.council.title,@displayPost.council)%></li><%end%>
           <%if @displayPost.elected_by%><li><i class="fa fa-cog"></i>Väljs av: <%=@displayPost.elected_by%></li><%end%>	                               
           <%if (current_user) && (current_user.moderator?(:poster))%><li><%=link_to("Redigera",edit_council_post_path(@displayPost.council,@displayPost))%></li> <%end%>		                               
        </ul>
    </div>
</div>