<div class="headline">
  <h2><%= page.title %></h2>
</div>

<%= content_for :page_sidebar do %>
  <% page.side.each do |element| %>
    <% cache(element) do %>
      <%= render element.to_partial_path, page_element: element %>
    <% end %>
  <% end %>
<% end %>

<%= content_for :page_main do %>
  <% page.main.each do |element| %>
    <% cache(element) do %>
      <%= render element.to_partial_path, page_element: element %>
    <% end %>
  <% end %>
<% end %>

<% if content_for?(:page_sidebar) %>
  <div class="col-md-3 col-sm-12">
    <%= yield :page_sidebar %>
  </div>

  <div class="col-md-9 col-sm-12">
    <%= yield :page_main %>
  </div>
<% else %>
  <div class="col-md-12">
    <%= yield :page_main %>
  </div>
<% end %>

