<% if page_element.headline.present? %>
  <div class="col-md-12 col-sm-12">
    <div class="headline">
      <h4><%= page_element.headline %></h4>
    </div>
  </div>
<% end %>

<% if page_element.text.present? %>
  <div class="col-md-12 page-element">
    <%= markdown(page_element.text) %>
  </div>
<% end %>

<% if can_administrate?(:edit, page) %>
  <div class="col-md-12 margin-bottom-10">
    <%= link_to(edit_admin_page_page_element_path(page, page_element),
                class: 'pull-right') do %>
      <%= fa_icon('cog') %> <%= t('global.edit') %>
    <% end %>
  </div>
<% end %>
