<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h2>
      <%= t(:edit_attr, attr: model_name(Page)) %>
    </h2>
  </div>
  <%= render 'form'%>
  <hr>
  <%= link_to(t(:add_attr, attr: model_name(PageElement)),
              new_page_page_element_path(@page),
              class: 'btn secondary') %>
  <%= link_to(t(:index_attr, attr: models_name(PageElement)),
              page_page_elements_path(@page),
              class: 'btn secondary') %>
  <hr>
  <%= link_to(t(:destroy_attr, attr: model_name(Page)),
              page_path(@page), method: :delete,
              class: 'btn danger') %>
  <%= link_to(t(:show_attr, attr: model_name(Page)),
              page_path(@page),
              class: 'btn secondary') %>

  <%= link_to(t(:index_attr, attr: models_name(Page)),
              pages_path,
              class: 'btn secondary')%>
</div>
