<div class="col-md-12">
  <div class="panel panel-orange margin-bottom-40">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= fa_icon('tasks') %> <%= models_name(Page) %>
      </h3>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th><%= Page.human_attribute_name(:url) %></th>
          <th><%= Page.human_attribute_name(:visible) %></th>
          <th><%= Page.human_attribute_name(:council) %></th>
          <th><%= Page.human_attribute_name(:created_at) %></th>
          <th><%= Page.human_attribute_name(:updated_at) %></th>
          <th>
            <%= link_to(t(:new_attr, attr: model_name(Page)),
                        new_page_path, class: 'btn primary small') %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @pages.each do |page| %>
          <tr>
            <td><%= page.id %></td>
            <td><%= link_to(page.url, page_path(page)) %></td>
            <td><%= page.visible ? t(:yes) : t(:no) %></td>
            <td>
              <% if page.council.present? %>
                <%= link_to(page.council, council_path(page.council)) %>
              <% else %>
                -
              <% end %>
            </td>
            <td><%= page.created_at %></td>
            <td><%= page.updated_at %></td>
            <td>
              <%= link_to(t(:edit), edit_page_path(page),
                          class: 'btn secondary small') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

