<% if contact.present? %>
  <div class="col-md-3 col-sm-4 col-xs-12 contact index">
    <span class="title">
      <%= link_to contact, contact_path(contact) %>
    </span>

    <% if can_administrate?(:edit, contact) %>
      <span class="edit">
        <%= link_to(edit_admin_contact_path(contact)) do %>
          <%= fa_icon('cog') %> <%= t('global.edit') %>
        <% end %>
      </span>
    <% end %>

    <div class="image">
      <%= link_to(contact_path(contact)) do %>
        <%= contact_image(contact) %>
      <% end %>
    </div>

    <% if current_user.try(:member?) %>
      <textfield readonly="" rows="1" wrap="off" resize="false"
                 class="display-only">
        <%= contact.email %>
      </textfield>
    <% end %>

    <b><%= link_to t('.contact'), contact_path(contact) %></b>

    <% if contact.users.present? %>
      <div class="users">
        <%= t('.users') %>
        <ul class="list">
          <% contact.users.each do |user| %>
            <li><%= user_link(user) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
