<%= form_for(@contact, :html => {  :autocomplete => 'off' }) do |f| %>
	<% if @contact.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@contact.errors.count, "error") %> gör att kontakten inte kan sparas:</h2>	
	      <ul>
	      <% @contact.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
  	<% end %>
  	  	<%= f.label 'Titel', :class => "reg-label"%>		  
  	<div class="input-group margin-bottom-20">					
		<%= f.text_field :name, :class => 'form-control',:placeholder => 'Titel'%>		
  	</div>
  	<%= f.label 'Beskrivning', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">  				  	  		 		  	
  		<%= f.text_area :text, :class => 'form-control',:placeholder => 'Varför ska man kontakta er?',:size => "45x4" %>
  	</div>			  
  	<%= f.label 'E-post', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">
  		Delas inte ut till någon.
  		<%= f.text_field :email, :class => 'form-control',:placeholder => 'Epost',:autocomplete => 'off' %>
  	</div>
  	<%= f.label 'Publik?', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">  		
  		<%= f.check_box :public, :class => 'form-control'%>
  		Innebär att även de som inte är inloggade kan kontakta.
  	</div>  	
  	<div class="row">
  			<%= f.submit "Spara",:class => 'btn-u pull-right' %>	 				
  	</div>
<% end %>
