<%= simple_form_for(contact.message, method: :post,
                    url: mail_contact_path(contact)) do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input :email, required: true %>
  <%= f.input :message, as: :text %>
  <div class="form-group <%= "has-error" if contact.errors[:recaptcha] %>">
    <%= recaptcha_tags %>
    <% if contact.errors[:recaptcha] %>
      <span class="help-block">
        <%= contact.errors[:recaptcha].to_sentence %>
      </span>
    <% end %>
  </div>
  <%= f.button :submit, t('.submit') %>
<% end %>
