<%= title("Kontakt")%>
<div class="container content">
	<div class="row margin-bottom-30">
		<div class="col-md-6 col-md-offset-3 mb-margin-bottom-30">			
			<% if @contact %>
				
				<div class="tag-box tag-box-v2">
					<%=@contact.name%><br>											
					<%=simple_format(@contact.text)%>
				</div>
				<div class="col-md-12  reg-page">	
					<div class ="kontakt-form">								
						<%= form_tag mail_contact_path(@contact) %>									
							<div class="input-group margin-bottom-20">
								<%= label_tag "Namn"%></br>				
								<%= text_field_tag :name,nil, :required => true , :class=> 'form-control'%></br>						
							</div>						
							<div class="input-group margin-bottom-20">
								<%= label_tag "E-post"%></br>
								<%= text_field_tag :email, nil, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}',class:  'form-control' %></br>
							</div>
							<div class="input-group margin-bottom-20">
								<%= label_tag "Meddelande"%></br>
								<%= text_area_tag :msg,nil, :required => true , class:  'form-control', :size => '100x10'%></br>
							</div>					
							<div class="input-group">																							
								<%= submit_tag "Skicka", class:  'form-control btn-u btn-u-orange'%>
							</div>						
					</div>
				</div>
			<% end %>
		</div>		
	</div>
</div>
