<%= provide(:title, "#{model_name(Contact)} - #{@contact.to_s}")%>
<div class="headline">
  <h1><%= @contact.to_s %></h1>
</div>

<div class="col-md-12 contact">
  <div class="col-md-4 col-xs-12 image">
    <%= contact_image(@contact) %>
  </div>

  <div class="col-md-8 col-xs-12 description">
    <%= markdown(@contact.text) %>
  </div>

  <div class="col-md-8 col-xs-12 users">
    <% if @contact.users.present? %>
      <%= t('contact.users') %>
      <ul class="list">
        <% @contact.users.each do |user| %>
          <li><%= link_to(user, user) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <% if can_administrate?(:edit, @contact) %>
    <div class="col-md-12">
      <span class="edit">
        <%= link_to(edit_admin_contact_path(@contact),
                    class: 'pull-right') do %>
          <%= fa_icon('cog') %> <%= t(:edit) %>
        <% end %>
      </span>
    </div>
  <% end %>
  <div class="col-md-12">
    <%= render 'send_form', contact: @contact %>
    <hr>
    <%= link_to(t('contact.back_to_index'), contacts_path, class: 'btn secondary') %>
  </div>
</div>
