<%= title("Kontakt")%>
<%= simple_form_for @contact, method: :post, url: mail_contact_path(@contact), html: { class: 'col-md-6 col-md-offset-3 reg-page' } do |f| %>
  <div class="tag-box tag-box-v2">
    <%=@contact%><br>
    <%=simple_format(@contact.text)%>
  </div>
  <% if @sent == true %>
    <p><strong>Ditt meddelande har skickats. Tack så mycket.</strong></p>
  <% else %>
    <%= f.input :send_name, required: true %>
    <%= f.input :send_email %>
    <%= f.input :message, as: :text %>
    <%= f.input :copy, as: :boolean %>
    <%= f.button :submit, 'Skicka meddelande', class: 'btn btn-u' %>
  <% end %>
<% end %>
