<ul class="list-group sidebar-nav">
  <li class="list-group-item">
    <%= link_to(edit_admin_event_path(event, tab: :texts),
                                      data: {confirm: t('.save_before')}) do %>
      <%= fa_icon('file-text') %> <%= t('.texts') %>
    <% end %>
  </li>

  <li class="list-group-item">
    <%= link_to(edit_admin_event_path(event, tab: :dates),
                                      data: {confirm: t('.save_before')}) do %>
      <%= fa_icon('calendar') %> <%= t('.dates') %>
    <% end %>
  </li>
</ul>

<%= link_to(t('.show_event'), event_path(event), class: 'btn secondary') %>
<%= link_to(t('.all_events'), admin_events_path, class: 'btn secondary') %>

<% if event.persisted? %>
  <div class="headline">
    <h2><%= t('.signup') %></h2>
  </div>

  <ul class="list-group sidebar-nav">
    <li class="list-group-item <%= tab == :settings ? 'active' : '' %>">
      <%= link_to('#settings', data: { toggle: :tab }) do %>
        <%= fa_icon('wrench') %> <%= t('.settings') %>
      <% end %>
    </li>

  <% if signup.try(:persisted?) %>
    <li class="list-group-item <%= tab == :attendees ? 'active' : '' %>">
        <%= link_to('#attendees', data: { toggle: :tab }) do %>
          <%= fa_icon('users') %> <%= t('.attendees') %>
        <% end %>
      </li>
  <% end %>
  </ul>
<% end %>
