<div class="headline">
  <h1><%= title(@event.title) %></h1>
</div>

<div class="col-md-3 col-sm-12">
  <%= render '/admin/event_signups/sidebar', event: @event,
                                             tab: @tab,
                                             signup: @event_signup %>
</div>

<div class="col-md-9 col-sm-12 event-signup">
  <div class="tab-content">
    <div id="settings" class="profile-edit tab-pane fade in <%= @tab == :settings ? 'active' : '' %>">
      <%= render('form', event: @event, signup: @event_signup) %>
    </div>

    <div id="attendees" class="profile-edit tab-pane fade in <%= @tab == :attendees ? 'active' : '' %>">
      <div class="col-md-12">
        <span class="time">
          <%= fa_icon('calendar') %>
          <%= time_range(@event.starts_at, @event.ends_at, format: :long) %>
        </span>
        <span class="location">
          <%= fa_icon('map-marker') %>
          <%= @event.location %>
        </span>
        <%= event_signup_reminders_sent?(@event_signup) %>
        <hr>

        <%= markdown(@event.description) %>
      </div>
      <div class="col-md-12">
        <%= render '/events/info', event: @event %>
      </div>

      <%= food_preferences_button(params, @event) %>
      <%= answers_button(params, @event) %>

      <div class="headline">
        <h3><%= t('.registered') %></h3>
      </div>
      <% unless @attending.nil? %>
        <%= render('/admin/event_users/attending_grid',
                   grid: @attending,
                   event: @event) %>
      <% end %>

      <%= link_to t('.export'), export_admin_event_signup_path(@event, format: :csv) %>
      <hr>

      <div class="headline">
        <h3><%= 'Reserver' %></h3>
      </div>

      <% unless @reserves.nil? %>
        <%= render('/admin/event_users/attending_grid',
                   grid: @reserves,
                   event: @event) %>
      <% end %>
      <%= link_to t('.export'), export_admin_event_signup_path(@event,
                                                               format: :csv,
                                                               list: 'reserves') %>
    </div>
  </div>
</div>
