<%= standard_form_for @document do |f| %>
  <fieldset>
    <%= f.hidden_field :document_group_id %>

    <%= f.text_field :title, placeholder: 'Visat filnamn' %>
    
    <%= f.date_field :production_date %>
    <%= f.date_field :revision_date %>

    <%= f.check_box :public, label: 'Publik dokument (syns för icke-medlemmar)?' %>
    <%= f.check_box :hidden, label: 'Dolt dokument (syns endast för användare med rättigheter)?' %>

    <% if @document.pdf_file_name.present? %>
      <%= f.label :pdf %>
      <p> 
        Du kan inte ändra själva filen efter att du laddat upp den. 
        I så fall får du skapa en <%= link_to 'ny fil', new_document_path(document_group: @document.document_group), style: 'color: #eb7125;' %>.
        Den nuvarande filden är <%= link_to @document.pdf_file_name, @document, style: 'color: #eb7125;' %>
      </p>
    <% else %>
      <%= f.file_field :pdf %>
    <% end %>

    <%= f.text_field :all_tags, placeholder: 'Tags separated by commas' %>
    
    <section>
      <%= f.submit 'Spara' , class: 'btn btn-u' %>
      <%= link_to 'Avbryt', :back, class: 'btn btn-u' %>
    </section>

  </fieldset>
<% end %>
