<%= form_for(@document, html: { :autocomplete => 'off' }) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "fel") %> gör att dokumentet inte kan sparas:</h2>	
      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label 'Titel', :class => "reg-label"%>
  <div class="input-group margin-bottom-20">				
    <%= f.text_field :title, :class => 'form-control',:placeholder => 'Titel'%>		
  </div>

  <%= f.label 'Kategori', :class => 'reg-label'%>
  <div class="input-group margin-bottom-20">  				  	  		 		  	
    <%= f.select :category, options_for_select(["Styrdokument", "Protokoll", "Sektionsmöten", "Övrigt"],@document.category), :class => 'form-control'%>
  </div>

  <%= f.label 'PDF', :class => 'reg-label'%>
  <div class="input-group margin-bottom-20">
    <%if @document.pdf_file_name.blank?%>
      <%= f.file_field :pdf, :class => 'form-control'%>
    <%else%>  				  	  		 		  	
      <%=@document.pdf_file_name%>
    <%end%>
  </div>

  <%= f.label 'Publik?', :class => 'reg-label'%>
  <div class="input-group margin-bottom-20">  		
    <%= f.check_box :public, :class => 'form-control'%>
    Innebär att även de som inte är inloggade kan se dokument.
  </div>

  <div class="row">
    <%= f.submit "Spara",:class => 'btn-u pull-right' %>	 				
  </div>
<% end %>
