<table class="table table-striped table-condensed">
  <% if !year_spacer %>
    <tr>
      <th width="25%">Möte</th>
      <th width="10%">Mötesdatum</th>
      <th width="35%">Handlingar</th>
      <th width="15%">Protokoll</th>
      <th width="15%">Uppdaterat</th>
    </tr>
  <% end %>

  <tbody>
    <% last_year = nil %>
    <% document_groups.each do |document_group| %>
      <% if year_spacer && last_year != document_group.production_date.year %>
        <tr style="height: 60px;">
          <td colspan="5" style="vertical-align: bottom;">Styrelsemöten år <%= document_group.production_date.year %></th>
        </tr>
        <tr>
          <th width="25%">Möte</th>
          <th width="10%">Mötesdatum</th>
          <th width="35%">Handlingar</th>
          <th width="15%">Protokoll</th>
          <th width="15%">Uppdaterat</th>
        </tr>
        <% last_year = document_group.production_date.year %>
      <% end %>

      <tr>
        <td><%= link_to document_group.name, document_group %></td>
        <td><%= document_group.production_date || '-' %></td>
        <td><%= render(partial: 'protocol_document', collection: document_group.find_documents_tagged_with('handling'), as: :document, spacer_template: 'shared/comma') || '-' %></td>
        <td><%= render(partial: 'protocol_document', collection: document_group.find_documents_tagged_with('protokoll'), as: :document, spacer_template: 'shared/comma') || '-' %></td>
        <td><%= document_group.updated_at %></td>
      </tr>
    <% end %>

  </tbody>
</table>
