<%= content_for :breadcrumbs do %>
  <h1 class="pull-left">Redigera dokumentet <%= @document.title %></h1>
  <ul class="pull-right breadcrumb">
    <li><a href="index.html">Hem</a></li>
    <li><a href="">Administration</a></li>
    <li><a href="">Dokument</a></li>
    <li><a href=""><%= @document.title %></a></li>
    <li class="active">Redigera dokument</li>
  </ul>
<% end %>

<div class="col-md-6">
  <%= render partial: 'form' %>

  <%= link_to 'Tag bort dokument', @document, method: :delete, data: { confirm: 'Är du säker?' }, class: 'btn btn-u' %>
	<%= link_to 'Tillbaka till dokumentsamlingen', @document.document_group, class: 'btn btn-u' %>
</div>

<div class="col-md-3"></div>
<div class="col-md-3">
  <%= render partial: 'documents/shared/common_admin_menu' %>
</div>
