<%= provide(:title, t('document.title')) %>
<div class="headline">
  <h3><%= t('document.title') %></h3>
</div>
<div class="col-md-2 col-sm-12 cafe competition margin-bottom-20">
  <%= document_dropdown_button(collection: @documents.categories,
                               current: @documents.current_category) %>
  <button class="wg-external-submit-button btn secondary" data-grid-name="grid">
    <%= t('document.filter') %>
  </button>
  <button class="wg-external-reset-button btn secondary" data-grid-name="grid">
    <%= t('document.reset_filter') %>
  </button>
  <% if can?(:manage, Document) %>
    <hr>
    <%= link_to(t('document.admin.index'), admin_documents_path, class: 'btn secondary') %>
  <% end %>
</div>


<div class="col-md-10 col-sm-12">
  <%= grid(@documents.grid, hide_submit_button: true, hide_reset_button: true) do |g|
    g.column(name: Document.human_attribute_name(:title), attribute: 'title') do |document|
      link_to(document, document_path(document), target: :blank)
    end
    g.column(name: Document.human_attribute_name(:category), attribute: 'category',
             filter: false)
    g.column(name: Document.human_attribute_name(:updated_at), attribute: 'updated_at',
             filter: false)
  end -%>
  <%= simple_format(t('document.filter_explanation')) %>
</div>
