<%= title("Kontakt")%>
<div class="container content">
	<div class="row margin-bottom-30">
		<div class="col-md-6 col-md-offset-3 mb-margin-bottom-30">			
			<% if @dokument %>
				
				<div class="tag-box tag-box-v2">
					<%=@dokument.name%><br>											
					<%=@dokument.category%>
				</div>
				<div class="col-md-12  reg-page">	
					<div class ="kontakt-form">		
							<%= image_tag(@dokument.pdf(:thumbnail),class: 'img-responsive')%>
							<%= link_to "Ladda ner", @dokument.pdf.url(:original, false) %>														
							<iframe src="https://docs.google.com/viewer?url=<%=PUBLIC_URL%><%= @dokument.pdf.url(:original,false)%>&embedded=true" width="100%" height="800" >
							<p>Din webbläsare klarar inte iframe - jag tycker synd om dig.</p>					
							</iframe>
					</div>
				</div>
			<% end %>
		</div>		
	</div>
</div>