<%= form_for(@candidate) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@valet.errors.count, "error") %> hindar valet från att sparas:</h2>

      <ul>
      <% @valet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<div class="col-md-6">
  		Stämmer: 
  		<%=current_user.profile.name%>
  		Har du fyllt i epost i din profil?
  		<%=current_user.profile.email%>
  		<%= f.label 'Post', :class => 'reg-label'%>
	  	<div class="input-group margin-bottom-20">
	  		<%= f.select :post_id, 
	  				     options_from_collection_for_select(@poster,:id,:name,@candidate.post),	  				      
	  				     :class => "form-control listBox"%>	 	  		 		  	
	
	  	</div>  
	    <%= f.label 'Motivering', :class => 'reg-label'%>
	  	<div class="input-group margin-bottom-20">  		
	  		<%= f.text_are :motivation,:class => 'form-control' %>
	  	</div>
	  	<% f.hidden_field :profile_id, value: current_user.profile.id%>
	  	
	  	<div class="row">
	  			<%= f.submit "Spara",:class => 'btn-u pull-right' %>	 				
	  	</div>
  	</div>
<% end %>