<%= form_for(@cwork, :html => {  :autocomplete => 'off' }) do |f| %>
	<% if @cwork.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@cwork.errors.count, "error") %> gör att passet inte kan sparas:</h2>
	
	      <ul>
	      <% @cwork.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
  	<% end %> 
  	<%if (@cwork.access_code.nil?) || ((@cwork.access_code) && (@authenticated)) %> 						    
	  	<div class="margin-bottom-20">
	  		<%= f.label 'Namn & Efternamn', :class => 'reg-label'%>
		  	<div class="row">	
	  			<div class="col-md-6"><%= f.text_field :name,:class => 'form-control', placeholder: "Förnamn"%></div><div class="col-md-6"> <%= f.text_field :lastname,:class => 'form-control', placeholder: "Efternamn"%></div>
			</div> 
	  	</div>
	  	<%= f.label 'E-post & telefon', :class => 'reg-label'%> 
	  	<div class="margin-bottom-20">
	  		<div class="row">					  		
	  			<div class="col-md-6"><%= f.text_field :email,:class => 'form-control', placeholder: "E-post"%></div><div class="col-md-6"> <%= f.text_field :phone,:class => 'form-control', placeholder: "Telefon"%></div>		
			</div>
	  	</div>
	  	<%if @utskott%> 
	  		<div class="headline headline-md"><h3>Utskottskampen</h3></div> 		
			<div class="row margin-bottom-20">
				<div class="col-md-6"> 
					<%= f.label :utskottskamp, "Delta i cafétävlingen?", :value => false,:class => 'reg-label' %>
					<p>Ditt namn kommer synas i resultatet</p>
					<%= f.check_box :utskottskamp,class: 'form-control', value: @cwork.utskottskamp%> 
				</div>	
				<%= f.label "Välj ett eller flera utskott att representera",:class => 'reg-label' %>				  		
				<div class="col-md-6">
					<%for @u in @utskott%>
				  		<div class="input-group margin-bottom-1">
				  			<%= f.check_box(:council_ids,{multiple: true},@u.id,nil)%><%= f.label :council_ids, @u.title, :value => false,:class => 'reg-label' %>
						</div>		
			  		<%end%>	
				</div>
			</div>
	  	<%end%>
	  	<div class="margin-bottom-20 reg-page">
	  		<p>Genom att trycka på spara accepterar du att dina personuppgifter hanteras elektroniskt.
	  		Dina uppgifter kan endast ses av administratörer, cafeansvariga samt nyckelpigor.</p>	  		
	  	</div>	  	
	  	<div class="margin-bottom-20">	  		
	  		<%= f.submit "Spara",:class => 'btn-u pull-right' %>  		
	  		<%= f.submit "Lämna jobbpasset",:class => 'btn-u pull-left' %>
	  	</div>
  	<%else%>
  		<%= f.label 'Kod', :class => 'reg-label'%> 
	  	<div class="margin-bottom-20">
	  			<%= f.text_field :access_code, value: nil,:class => 'form-control'%>
	  	</div>
  		<div class="margin-bottom-20">
  			<%= f.submit "Auktorisera",:class => 'btn-u pull-right' %>
		</div>
  	<%end%>
<% end %>

