<%= form_for(@cwork, :html => {  :autocomplete => 'off' },method: :post, url: {action: 'setup_create'}) do |f| %>
	<% if @cwork.errors.any? %>
    	<div id="error_explanation">
	    	<p><%=%(#{@cwork.errors.count.to_s} fel hindrar sparning:)%><p>	
	      	<ul>
	      		<% @cwork.errors.full_messages.each do |msg| %>
	        		<li><%= msg %></li>
	      		<% end %>
	      	</ul>
	    </div>
  	<% end %>
  	<hr>
  	<%= f.label 'Läsveckor', :class => 'reg-label'%>		  
  	<div class="input-group margin-bottom-20">					
		<%= number_field_tag :lv_first,@lv_first, min: 1, max: 7, :class => 'form-control', placeholder: "Från"%>
		<%= number_field_tag :lv_last, @lv_last,min: 1, max: 7, :class => 'form-control',placeholder: "Till"%>		
  	</div>						  	
  	<%= f.label 'Datum första passet', :class => 'reg-label'%>		  
  	<div class="input-group margin-bottom-20">					
		<%= f.datetime_select :work_day, minute_step: 60, :class => 'form-control'%>		
  	</div>
  	<%= f.label 'Läsperiod', :class => 'reg-label'%>		  
  	<div class="input-group margin-bottom-20">					
		<%= f.number_field :lp, min: 1, max: 4, :class => 'form-control'%>		
  	</div>
  	<div class="input-group margin-bottom-20">
		<%= f.submit "Spara",:class => 'btn-u pull-right' %>	 				
  	</div>  									
<% end %>