<%= form_for(@cwork, method: :post, url: {action: 'setup_create'}) do |f| %>
    <%= render 'shared/form_errors', current: @cwork %>
    <hr>
    <%= f.label 'Läsveckor', class: 'reg-label' %>
    <div class="input-group margin-bottom-20">
      <%= number_field_tag :lv_first, @lv_first, min: 1, max: 37, class: 'form-control', placeholder: "Från" %>
      <%= number_field_tag :lv_last, @lv_last, min: 1, max: 37, class: 'form-control', placeholder: "Till" %>
    </div>
    <%= f.label 'Läsperiod', class: 'reg-label' %>
    <div class="input-group margin-bottom-20">
      <%= f.number_field :lp, min: 1, max: 4, class: 'form-control' %>
    </div>
    <%= f.label 'Datum första passet', class: 'reg-label' %>
    <div class="input-group margin-bottom-20">
      <%= f.text_field :work_day, class: 'form-control datetimepicker' %>
    </div>

    <div class="row margin-bottom-20">
      <%= f.submit "Spara", class: 'btn-u pull-left' %>
      <%= f.submit "Förhandsgranska", class: 'btn-u pull-right' %>
    </div>
<% end %>