<% title('Anv채ndare') %>
<div class ="container">
  <div class="row">
    <div class="col-md-12">
      <p>Visar alla pass som har haft jobbare</p>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>LP</th>
            <th>LV</th>
            <th>Anv채ndare</th>
            <th>Namn</th>
            <th>Efternamn</th>
            <th>Telefon</th>
            <th>Cafet채vling</th>
            <th>Utskottst채vling</th>
          </tr>
        </thead>

        <tbody>
          <% @cafe_works.each do |cw| %>
            <% if cw.user_id != nil || cw.profile_id != nil || cw.access_code != nil %>
              <tr>
                <td><%= link_to(cw.id, admin_cafe_work_path(cw)) %></td>
                <td><%= cw.lp %></td>
                <td><%= cw.lv %></td>
                <td><%= link_to(cw.old_profile, cw.old_profile)%></td>
                <td><%= cw.name || cw.firstname || cw.user.try(:firstname) %></td>
                <td><%= cw.lastname ||  cw.user.try(:lastname) %></td>
                <td><%= cw.email || cw.user.try(:email) %></td>
                <td><%= cw.phone || cw.user.try(:phone) %></td>
                <td><%= cw.utskottskamp %></td>
                <td>
                  <% cw.councils.each do |c| %>
                    <%= c %><br>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
