<% provide(:title, 'Administratör Hilbert Café') %>
<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <%= render 'links' %>
    <div class="headline headline-md"><h2>Cafejobb - ID <%= @cwork.id %> Admin</h2></div>
    <%= render 'form' %>
    <div class="headline headline-md"><h2>Jobbare</h2></div>
    <% if @cwork.has_worker? %>
        <span id="status"></span>

        <div id="jobbare">
          <table class="table">
            <tbody>
            <tr>
              <td><i class="fa fa-user"></i></td>
              <td><%= (@cwork.profile.present?) ? link_to(@cwork.worker.p_name, profile_path(@cwork.profile)) : @cwork.worker.p_name %></td>
            </tr>
            <tr>
              <td><i class="fa fa-envelope"></i></td>
              <td><%= @cwork.email %></td>
            </tr>
            <tr>
              <td><i class="fa fa-phone"></i></td>
              <td><%= @cwork.phone %></td>
            </tr>
            <tr>
              <td><i class="fa fa-users"> Cafetävling</i></td>
              <td><%= (@cwork.utskottskamp) ? "Ja" : "Nej" %></td>
            </tr>
            <% if @cwork.access_code.present? %>
                <tr>
                  <td><i class="fa fa-lock"> Kod:</i></td>
                  <td><%= @cwork.access_code %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <div class="margin-bottom-20">
            <%= link_to("Ta bort jobbare", remove_worker_admin_cafe_work_path(@cwork), class: "btn btn-u", remote: true, method: :patch) %>
          </div>
        </div>

    <% else %>
        <p>Jobbare saknas</p>
        <%= link_to("Ta bort pass", admin_cafe_work_path(@cwork), method: :delete, class: "btn btn-u") %>
    <% end %>
  </div>
</div>
