<% provide(:title, 'Administratör Hilbert Café') %>
<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <%= render 'links' %>
    <div class="headline headline-md">
      <h2>
        <%= %(#{CafeWork.model_name.human} - ID #{@cafe_work.id} - Admin) %>
      </h2>
    </div>
    <div class="margin-bottom-20">
      <%= render 'form' %>
    </div>
    <div class="headline headline-md">
      <h2>
        <%= CafeWork.human_attribute_name(:user) %>
      </h2>
    </div>
    <% if @cafe_work.has_worker? %>
        <table class='table'>
          <tbody>
            <%= render 'cafe_works/worker_table', cafe_work: @cafe_work %>
          </tbody>
        </table>
        <div class="margin-bottom-20">
          <%= link_to(t('cafe_work.remove_worker'),
                      remove_worker_admin_cafe_work_path(@cafe_work), class: 'btn btn-u',
                      method: :patch) %>
      </div>
      </div>

    <% else %>
      <p>Jobbare saknas</p>
      <%= link_to(t('cafe_work.remove_work'), admin_cafe_work_path(@cafe_work),
                  method: :delete, class: 'btn btn-u') %>
              <% end %>
  </div>
</div>
