<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-2 col-sm-12 margin-bottom-20">
  <button class="wg-external-submit-button btn primary" data-grid-name="grid">
    <%= t('wice_grid.filter') %>
  </button>

  <button class="wg-external-reset-button btn secondary" data-grid-name="grid">
    <%= t('wice_grid.reset_filter') %>
  </button>

  <hr>

  <%= link_to(t('.new_contact'), new_admin_contact_path, class: 'btn primary') %>
  <%= link_to(t('.all_contacts'), contacts_path, class: 'btn secondary') %>
</div>

<div class="col-md-10 col-sm-12">
  <%= grid(@contact_grid, hide_submit_button: true, hide_reset_button: true) do |g|
    g.column(name: Contact.human_attribute_name(:name), attribute: 'name', assoc: :translations) do |contact|
      link_to(contact, contact_path(contact), target: :blank)
    end
    g.column(name: Contact.human_attribute_name(:post_id)) do |contact|
      contact.post
    end
    g.column(name: Contact.human_attribute_name(:public), attribute: 'public') do |contact|
      yes_no(contact.public)
    end
    g.column(name: Contact.human_attribute_name(:slug), attribute: 'slug')
    g.column(name: Contact.human_attribute_name(:updated_at), attribute: 'updated_at',
             filter: false)
    g.column(name: t('global.edit'), filter: false) do |contact|
      link_to(t('global.edit'), edit_admin_contact_path(contact))
    end
  end -%>
</div>
