<div class="row">
  <h3 class="headline"><%= t(:links) %></h3>
  <ul class="list-unstyled check-style">
    <li>
      <%= link_to('http://www.tlth.se', target: '_blank') do %>
        <%= fa_icon('angle-right') + 'Teknologkåren' %>
      <% end %>
    </li>
    <li>
      <%= link_to('http://www.studentlund.se', target: '_blank') do %>
        <%= fa_icon('angle-right') + 'Studentlund' %>
      <% end %>
    </li>
    <li>
      <%= link_to('http://www.afbostader.se', target: '_blank') do %>
        <%= fa_icon('angle-right') + 'Akademiska Bostäder' %>
      <% end %>
    </li>
    <li>
      <%= link_to('http://www.student.lth.se/tekniskfysik', target: '_blank') do %>
        <%= fa_icon('angle-right') + 'Teknisk Fysik' %>
      <% end %>
    </li>
    <li>
      <%= link_to('http://www.student.lth.se/tekniskmatematik', target: '_blank') do %>
        <%= fa_icon('angle-right') + 'Teknisk Matematik' %>
      <% end %>
    </li>
    <li>
      <%= link_to('http://www.student.lth.se/teknisknanovetenskap', target: '_blank') do %>
        <%= fa_icon('angle-right') + 'Teknisk Nanovetenskap' %>
      <% end %>
    </li>
    <li>
      <%= link_to('http://www.csn.se', target: '_blank') do %>
        <%= fa_icon('angle-right') + 'CSN' %>
      <% end %>
    </li>
  </ul>
</div>

