<%= form_for @album do |f| %>
		  <% if @album.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@album.errors.count, "error") %> gör att albumet inte kan sparas:</h2>
		      <ul>
		      <% @album.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
	<div>
		<%= f.label 'Titel:' %><br>
    	<%= f.text_field :title %>    
  	</div>
  	<div class="field">
   		<%=f.label 'Kategori:'%><br>
	   <%= f.select :category, options_for_select([
	  	[" ", nil, {:class=>"bold"}],
	  	["Cafémästeriet"],
	  	["Föset"],
	  	["Sittning"],
	  	["Nollning"],
	  	["Prylmästeriet"],
	  	["Sanningsministeriet"],
	  	["Sexmästeriet"],
	  	["Studierådet"],
	  	["Styrelsen"], 
	  	["Spindelmännen"]],@album.category),{}, html_options = {:class => "listBox",:selected => :category , :style=>"float:left;"} %> <br> 
	  	</div>
  	<div class="field">
    	<%= f.label 'Beskrivning:' %><br>
    	<%= f.text_area :description %>
  	</div>
  	<div class="field">
    	<%= f.label 'Plats:' %><br>
    	<%= f.text_field :location %>
  	</div>
   	<div class="field">
   		<%=f.label 'Start:'%> <br>
   		<%= f.datetime_select :start_date, :minute_step => 10 %>
   	</div>
   	<div class="field">
  		<%=f.label 'Slut:'%><br>
   		<%= f.datetime_select :end_date, :minute_step => 10 %>
   	</div>
  	<div class="actions">
    <%= f.submit "Spara album",class: "btn-u btn-u-small" %>
    <hr>
	</div>
<% end %>
<script id="template-image" type="text/x-tmpl"><div class="image">{%=o.name%}<div class="progress"><div class="progress-bar bar" style="width: 0%"></div></div></div></script>