<%= form_for(@album, html: { multipart: true }) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% @image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :image_file, t('.image_new_file') %>
    <%= f.file_field :image_file, multiple: true, name: 'image[foto]' %>
    <%= f.submit %>
  </div>
<% end %>

<% # jquery image template # %>
<script id="template-image" type="text/x-tmpl"><div class="image">{%=o.name%}<div class="progress"><div class="progress-bar bar" style="width: 0%"></div></div></div></script>