<div class="container">
	<div class="row">
		<div class="col-md-6 reg-page">
			<%= label_tag 'Redigera album',nil, class:  'reg-header'%><br>
			<div class="row">
				<% if @album.title %>									
					<%= link_to (content_tag(:i, nil, class: "fa fa-edit") + " Visa album"), @album,class: 'btn btn-u' %>
					<%= link_to (content_tag(:i, nil, class: "fa fa-trash-o") + " Förinta"), @album,method: :delete,data:{confirm:'Albumet raderas och kan inte återställas, är du säker?'},class: 'btn btn-u' %>
				<% end %>
				<%= link_to (content_tag(:i,nil,class: "fa fa-arrow-circle-o-left")+ 'Tillbaka'), :back,class: 'btn btn-u' %>
			</div><br>				
			<%= render 'form'%>
			
		</div>
		<div class="col-md-6 reg-page">
			<% if @album.title %>
					<%= link_to (content_tag(:i, nil, class: "fa fa-edit") + " Lägg till bilder"), upload_images_album_path(@album),class: 'btn btn-u'%>
					<%= link_to (content_tag(:i, nil, class: "fa fa-trash-o") + " Rensa bilder"),destroy_images_album_path(@album), method: :delete,data: {confirm: 'Alla bilder tas bort - är du säker?'},class: 'btn btn-u'%><br><br>
			<% end %>
			<%= form_tag(edit_album_path(@album)) do -%>
		  	<%=submit_tag 'Markera alla',class: "btn btn-u"%>
		  	<%=submit_tag 'Ta bort markerade',class: "btn btn-u"%><br><br>
		  	<%= select_tag :image_category, 
  				     options_from_collection_for_select(@album.subcategories,:id,:text),
  				     include_blank: true, 
  				     class:  " listBox"%><br><br>
	     	<%=submit_tag 'Byt kategori',class: "btn btn-u"%><br>
		  	<ul class="row sorting-grid">		  	
		  		<%for @image in @album.images%>
			  		<li class="col-md-3 col-sm-3 col-xs-3">
	            		<div class="edit-image-container">
	            			<label class="category-select">
	                			<%= check_box_tag 'image_ids[]',@image.id,nil,checked: @mark%> <%= image_tag(@image.foto(:large),class: 'img-max-height gallery')  %>
                			</label>
	                    </div>           
	    			</li>
		  		<%end%>
			</ul>
			<%end-%>			
	</div>
</div>
