<div class="container">
	<div class="row">
		<div class="col-md-6 reg-page">
			<%= label_tag 'Redigera album',nil, :class => 'reg-header'%>
			<%= render 'form'%>
			<% if @album.title %>
				<%= link_to (content_tag(:i, nil, class: "fa fa-edit") + " Lägg till bilder"), new_album_image_path(@album)%><br>
			<% end %>
			<%= link_to 'Visa album', @album %><br>
			<%= link_to 'Tillbaka', :back %>
		</div>
		<div class="col-md-6 reg-page">
			<% if @album.images.count > 0 %>
				<div class="row">
					<% @album.images.each do |p|%>
						<div class="col-md-3"><%=image_tag p.foto.url(:thumb)%></br><%= link_to 'Ta bort',p,class: 'btn btn-u'%></div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>