<%= title("Bildgalleri") %>
<div class="container">
    <div class="col-lg-12">
    	<div class="row">
	    	<div class="headline headline-md">
	        	<h1>Bildgalleri</h1>
	    	</div>
    	</div>
    	<div class="sorting-block">
    		<div class="headline headline-md"><h3>Alla album (tillfälligt)</h3></div>
    		<!-- <div class="headline headline-md"><h3>Senast tillagda</h3></div> -->	                        	
                	<% @albums.each do |p| %> <!-- ändra till @albums_latest -->
                	<div class="col-lg-3 col-md-4 col-xs-6 thumb">
                		<%@album = p%>	                	
	                		<%= render "album_preview"%>
	            	</div>
            		<%end%>  
        	            
		</div> <!-- row-->	
	<hr>
  	</div>
  	<% if false %> <!-- fix för det är problem -->
  	<div class="col-md-12 content">  		
		<div class="headline headline-md"><h3>Alla album</h3></div>
        <div class="row high-rated margin-bottom-20">
        	<div class="sorting-block">
	            <ul class="sorting-nav sorting-nav-v1 text-center">
	                <li class="filter active" data-filter="all">Alla</li>
	                <% @kategorier.each do |kat|%>
		                 <% if kat.albums.count > 0 %>
		                	<li class="filter" data-filter="category_<%=kat.id%>"><%=kat.name%></li>
		                 <% end %>
	                <% end %>		                
	            </ul>	            
                <ul class="sorting-grid">                	
                	<% @albums.each do |p| %>
                	<%@album = p%>
                	<li class=" col-lg-3 col-md-4 col-xs-6 thumb mix <%for @cat in p.album_categories%>category_<%=@cat.id%> <%end%>" data-cat="<%if p.album_categories.last%> <%=p.album_categories.last%><%end%>">
                		<%= render "album_preview"%>
            		</li>
            		<%end%>  
            	</ul>
            <div class="clearfix"></div>			
		</div>
	</div>
	<hr class="devider devider-dotted">	
  	</div>  	
</div>
<%end%> <!-- Fix för det är problem --> 				  	
<script>
var bottom;
   bottom = function() {   
  	 PortfolioPage.init();
   
  }; 
$(document).ready(bottom)
$(document).on('page:load', bottom)
</script>

  <% if @edit %>
	<div class="headline headline-md">
		<h2>Verktyg</h2>
	</div>
    <ul class="list">
        <li><%= link_to "Skapa album", :new_album %></li>
        <li><%= link_to "Inställningar för galleri", :settings_albums %></li>
    </ul>
  <% end %>
 


