<%=javascript_include_tag "jquery.colorbox-min"%>      

<div class="headline headline-md"><h3><%=@album.title%></h3></div> <%= link_to (content_tag(:i, nil, class: "fa fa-rocket") + " Tillbaka till Galleriet"),albums_path, class: "btn-u btn-u-small" %><%=render partial: "links"%>	  
<%if @album.images.count > 0%>
	<div class="container content">
        <div class="row high-rated margin-bottom-20">
        	<div class="sorting-block">
	            <ul class="sorting-nav sorting-nav-v1 text-center">
	                <li class="filter active" data-filter="all">Alla</li>
	                <% @album.subcategories.each do |kat|%>
		                 <% if kat.images.count > 0 %>
		                	<li class="filter" data-filter="category_<%=kat.id%>"><%=kat.text%></li>
		                 <% end %>
	                <% end %>		                
	            </ul>	            
                <ul class="row sorting-grid">
                	<%if false %>
	                	<% @images.each do |p| %>
		                	<li class="col-lg-3 col-md-4 col-xs-6 thumb mix <%if p.subcategory_id%> category_<%=p.subcategory_id%>"data-cat="<%=p.subcategory_id%>"><%else%>"><%end%>                		
			                            <%= image_tag(p.foto(:large),class: 'img-responsive gallery', rel: "album", href: p.foto(:original), id: p.id)  %>                                   
		            		</li>
	            		<%end%>
            		<%end%>
            		<% @images.each do |p| %>
		                	<li class="col-lg-3 col-md-4 col-xs-6 thumb">                		
			                            <%= image_tag(p.foto(:large),class: 'img-responsive gallery', rel: "album", href: p.foto(:original), id: p.id)  %>                                   
		            		</li>
            		<%end%>  
            	</ul>
            <div class="clearfix"></div>			
		</div>
	</div>
        </div><!--/gallery-page-->
    <%else%>
    <div class="row margin-bottom-20">
	    <div class="col-md-4 col-md-offset-4">
	    	<h4>Här saknas ännu bilder!<br> Men ni kan titta på Linus så länge!</h4><br>
	    	<%= image_tag("img/linus2.jpg")%>
		</div>
	</div>
    <%end%><!-- if images-->          		
  </div>    
</div>
<script>
var init;
	init = function() {
		PortfolioPage.init();
		jQuery('img.gallery').colorbox({rel: "album",maxHeight:"100%",maxWidth:"100%"});
	};
$(document).ready(init)
$(document).on('page:load', init)
</script>