<% title("Album") %>
<div class="row blog">  
  <div class="col-md-12">  	
  	<div class="row">  		
  		<div class="headline"><h2><%= @album.title %></h2></div>
  		<div class="col-md-4">		   	
		    <ul class="list-unstyled blog-info">
		    	<li>Ansvarig: <%= fa_icon("user") %> <%= link_to (Profile.find_by(id: @album.author).name) ,Profile.find_by(id: @album.author) %></li>
		      <li>Datum: <b>      <i class="fa fa-calendar"></i> <%= @album.start_date %></b> till <b><%=@album.end_date%></b></li>
		    </ul>		    
	    </div>
	    <div class="col-md-4">	
    		<p>Beskrivning: <%= simple_format(@album.description)%></p>    		
    	</div>
    	<div class="col-md-3">
    		<div class="input-group margin-bottom-20">    				
				<%= form_tag @album, method: 'post' do %>						
					<%= submit_tag 'Sortera efter underkategori', name: nil,:class => 'btn-u btn-u-orange btn-u-small'%><br>					
					<%= select_tag :subcategory_id, options_from_collection_for_select(@album.subcategories,:id,:text,@subcategory),{:class => 'form-control',include_blank: true}%>					
				<%end%>
			</div>
		</div>
    	</div>
	<div id='gallerii'>
		<h2>Om detta syns måste du ladda om sidan! :/ </h2>
         <% @images.each do |p| %>
        		<%= image_tag(p.foto(:original),class: 'thumb')%>
		<% end %>
	</div>
	<%=render partial: "links"%>            		
  </div>    
</div>


<style>
	#gallerii{ width:100%; height:700px; background-color:#ffffff, display:none}
</style>
<script>        
    Galleria.run('#gallerii');
</script>