<div class="col-md-12">
  <div class="panel panel-orange margin-bottom-40">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%= icon('fas', 'tasks') %> <%= title("Bilder") %>
      </h1>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th><%= ApiImage.human_attribute_name(:filename) %></th>
          <th><%= ApiImage.human_attribute_name(:file) %></th>
          <th><%= link_to("Ny bild", new_admin_api_image_path,
                                           class: 'btn primary') %></th>
        </tr>
      </thead>
      <tbody>
        <% @api_images.each do |api_image| %>
          <tr>
            <td><%= api_image.id %></td>
            <td><%= api_image.filename %></td>
            <td><%= api_image.file %></td>
            <td><%= link_to(t('global.edit'), admin_api_image_path(api_image),
                                      class: 'btn secondary') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
