<%= simple_form_for([:admin, council, post]) do |f| %>
  <%= f.input :title_sv, wrapper_html: {class: 'inline half'} %>
  <%= f.input :title_en, wrapper_html: {class: 'inline half'} %>
  <%= f.association :council, collection: Council.by_title,
                              wrapper_html: {class: 'inline half'},
                              input_html: {class: 'select2'},
                              include_blank: false %>
  <%= f.input :description_sv, as: :pagedown, input_html: { preview: true, rows: 10 } %>
  <%= f.input :description_en, as: :pagedown, input_html: { preview: true, rows: 10 } %>
  <%= f.input :board %>
  <%= f.input :car_rent %>
  <%= f.input(:elected_by, collection: [[t("model.post.#{Post::GENERAL}"), Post::GENERAL],
                                        [t("model.post.#{Post::BOARD}"), Post::BOARD],
                                        [t("model.post.#{Post::EDUCATION}"), Post::EDUCATION]],
                           include_blank: false,
                           input_html: {class: 'select2'},
                           wrapper_html: {class: 'inline half'}) %>
  <%= f.input(:semester, collection: [[t("model.post.semester.#{Post::AUTUMN}"), Post::AUTUMN],
                                      [t("model.post.semester.#{Post::SPRING}"), Post::SPRING],
                                      [t("model.post.semester.#{Post::BOTH}"), Post::BOTH],
                                      [t("model.post.semester.#{Post::OTHER}"), Post::OTHER]],
                         include_blank: false,
                         input_html: {class: 'select2'},
                         wrapper_html: {class: 'inline half'}) %>
  <%= f.input :rec_limit, wrapper_html: {class: 'inline half'} %>
  <%= f.input :limit, wrapper_html: {class: 'inline half'} %>
  <%= f.button :submit %>

  <% if post.persisted? %>
    <%= link_to(t('.destroy_post'), admin_council_post_path(council, post),
                                    method: :delete,
                                    class: 'btn danger pull-right') %>
  <% end %>

  <div class="panel-body">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th><%= Post.human_attribute_name(:rec_limit) %></th>
          <th><%= Post.human_attribute_name(:limit) %></th>
          <th>==</th>
        </tr>
        <tr>
          <td>0</td>
          <td>0</td>
          <td>*</td>
        </tr>
        <tr>
          <td>5</td>
          <td>5</td>
          <td>5 (x)</td>
        </tr>
        <tr>
          <td>4</td>
          <td>5</td>
          <td>4-5</td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
