<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>

  <%= render 'form', council: @council, post: @post%>
  <hr>

  <% if can_administrate?(:edit, PermissionPost) %>
    <%= link_to(t('.edit_permissions'), post_admin_permissions_path(@post),
                                        class: 'btn secondary') %>
  <% end %>

  <%= link_to(t('.all_posts'), admin_council_posts_path(@council),
                               class: 'btn secondary') %>
  <%= link_to(t('.show_council'), council_path(@council),
                                  class: 'btn secondary') %>
</div>
