<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h1><%= title(t('post.edit')) %></h1>
  </div>

  <%= render 'form', council: @council, post: @post%>
  <hr>

  <% if can_administrate?(:edit, PermissionPost) %>
    <%= link_to(t('permission.edit'), post_admin_permissions_path(@post),
                                      class: 'btn secondary') %>
  <% end %>

  <%= link_to(t('post.index'), admin_council_posts_path(@council),
                               class: 'btn secondary') %>
  <%= link_to(t('council.show'), council_path(@council),
                                 class: 'btn secondary') %>
</div>
