<div class="headline">
  <h1><%= title("#{models_name(Post)} - #{@post_view.council}") %></h1>
</div>

<div class="col-md-2 col-sm-12">
  <%= link_to(t('.new_post'), new_admin_council_post_path(@post_view.council),
                              class: 'btn secondary') %>
  <%= link_to(t('.show_council'), council_path(@post_view.council),
                                  class: 'btn secondary') %>
  <%= link_to(t('.edit_council'), edit_admin_council_path(@post_view.council),
                                  class: 'btn secondary') %>
</div>

<div class="col-md-10 col-sm-12">
  <div class="col-sm-12 margin-bottom-20">
    <div class="headline">
      <h4><%= models_name(Post) %></h4>
    </div>
    <%= render '/admin/posts/post_grid', post_grid: @post_view.post_grid %>
  </div>

  <div class="col-sm-12 margin-bottom-20">
    <div class="headline">
      <h4><%= models_name(PostUser) %></h4>
    </div>
    <span id="post-user-status"></span>
    <%= render '/admin/posts/post_user_grid', post_view: @post_view %>
  </div>

  <div class="col-sm-12">
    <div class="headline">
      <h4><%= "#{models_name(Post)} - #{@post_view.council}" %></h4>
    </div>
    <%= render '/admin/posts/post_user_form', post_view: @post_view %>
  </div>
</div>
