<% provide(:title, t('.title')) %>

<%= content_for(:greeting) do %>
  <h2><%= t('.message_sent_via') %> - <%= @contact.to_s %></h2>
<% end %>

<%= content_for(:main_content) do %>
  <table>
    <tr>
      <td colspan=2><%= ContactMessage.human_attribute_name(:name) %>:</td>
      <td><%= @contact.message.name %></td>
    </tr>
    <tr>
      <td colspan=2><%= ContactMessage.human_attribute_name(:email) %>:</td>
      <td><%= @contact.message.email %></td>
    </tr>
  </table>
  <hr>
  <h3><%= ContactMessage.human_attribute_name(:message) %></h3>
  <%= simple_format(@contact.message.message) %>
<% end %>
