<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= t('contact.message_sent_via') %> - <%= @contact.name %></h2>
    <table>
      <tr>
        <td><%= Contact.human_attribute_name(:name) %></td>
        <td><%= @contact.send_name %></td>
      </tr>
      <tr>
        <td><%= Contact.human_attribute_name(:email) %></td>
        <td><%= @contact.send_email %></td>
      </tr>
      <tr>
        <td><%= Contact.human_attribute_name(:message) %></td>
        <td><%= simple_format(@contact.msg) %></td>
      </tr>
    </table>
  </body>
</html>
