<% provide(:header_title, t('.header_title')) %>
<%= simple_format("#{t('.message_sent_via')} - #{@contact}", class: 'lead') %>

<table>
  <tr>
    <td colspan=2><%= ContactMessage.human_attribute_name(:name) %>:</td>
    <td><%= @contact.message.name %></td>
  </tr>
  <tr>
    <td colspan=2><%= ContactMessage.human_attribute_name(:email) %>:</td>
    <td><%= @contact.message.email %></td>
  </tr>
</table>
<br>
<hr>
<br>

<h4><%= ContactMessage.human_attribute_name(:message) %></h4>
<%= simple_format(@contact.message.message) %>
