<% provide(:title, 'Bilbokning') %>
<%= stylesheet_link_tag "fullcalendar-custom", :media => "print" %>
<div class="col-md-12">
        <div class="row">
        	<div class="col-md-12">
        		<div class="headline headline-md"><h1>F-bilen</h1></div>
                <div class="col-md-9">                        
                    	<div id='bilkalender'></div>
						<hr>
						<div class="row">
						Kommande bokningar:<br>
						<%for @bok in @bokningar%>
							<%=(@bok.title  + " " + @bok.d_from.to_s + " till " + @bok.d_til.to_s)%><br>
						<%end%>
						</div>                
                </div>
                <div class="col-md-3">
                        <div class="row">
                                <div class="headline headline-md"><h2>F.A.Q.</h2></div>
                                	<div class="panel-group acc-v1 margin-bottom-40" id="unanswered">
                                		<div class="panel panel-default">
		                        			<div class="panel-heading">
		                            			<h4 class="panel-title">
		                                			<a class="accordion-toggle" data-toggle="collapse" href="#faq-1" >Vem får hyra bilen?</a>
		                            			</h4>
		                        			</div>	                        			
					                        <div id="faq-1" class="panel-collapse collapse">
					                            <div class="panel-body">
													Hej hur går detta?
					                            </div>
					                        </div>
					                    </div>
					                    <div class="panel panel-default">
		                        			<div class="panel-heading">
		                            			<h4 class="panel-title">
		                                			<a class="accordion-toggle" data-toggle="collapse" href="#faq-2" >Vem är Berit?</a>
		                            			</h4>
		                        			</div>	                        			
					                        <div id="faq-2" class="panel-collapse collapse">
					                            <div class="panel-body">
													Hej hur går detta?
					                            </div>
					                        </div>
					                    </div>
					                    <div class="panel panel-default">
		                        			<div class="panel-heading">
		                            			<h4 class="panel-title">
		                                			<a class="accordion-toggle" data-toggle="collapse" href="#faq-3" >Vad kostar det?</a>
		                            			</h4>
		                        			</div>	                        			
					                        <div id="faq-3" class="panel-collapse collapse">
					                            <div class="panel-body">
													Hej hur går detta?
					                            </div>
					                        </div>
					                    </div>
					                    <div class="panel panel-default">
		                        			<div class="panel-heading">
		                            			<h4 class="panel-title">
		                                			<a class="accordion-toggle" data-toggle="collapse" href="#faq-4" >Vad är 6122 Å?</a>
		                            			</h4>
		                        			</div>	                        			
					                        <div id="faq-4" class="panel-collapse collapse">
					                            <div class="panel-body">
													Hej hur går detta?
					                            </div>
					                        </div>
					                    </div>
					                    <div class="panel panel-default">
		                        			<div class="panel-heading">
		                            			<h4 class="panel-title">
		                                			<a class="accordion-toggle" data-toggle="collapse" href="#faq-5" >Hur länge får man boka bilen?</a>
		                            			</h4>
		                        			</div>	                        			
					                        <div id="faq-5" class="panel-collapse collapse">
					                            <div class="panel-body">
													En vanlig bokning är max 48h, längre bokningar blir endast förfrågningar och skickas till Bilförmannen.<br> 
													För sektionsändamål får undantag göras.													
					                            </div>
					                        </div>
					                    </div>                        
			                        </div>
		                        </div>
                        <div class="row">
                                <div class="headline headline-md"><h2>Bokning?</h2></div>
                                <%if user_signed_in? %>
                                	<div class="input-group margin-bottom-20">
                                		<%=link_to("Se tidigare bokningar",car_rents_path, class: "btn btn-u")%>
                            		</div>
                                <%end%>
                                <div class="input-group margin-bottom-20">
                                		<%=link_to("Ny bokning",new_car_rent_path, class: "btn btn-u")%>
                        		</div>
                        		<% if user_signed_in? %>	
								<div class="headline headline-md"><h2>Verktyg</h2></div>
								<ul class="list">
									<% if (current_user) && current_user.moderator?(:bilen) %>
										<li>Bilmenyn</li> 
										<li>Bilkalenderprenumeration</li>
										<li><%=link_to("Bilförman",forman_path)%></li>	
									<% end %>		
								</ul>	
							<% end %>
                        </div>

                </div>
            </div>
        </div>        
</div>