<div class="col-md-12">
        <div class="row">
                <div class="col-md-8">
                        <div class="headline headline-md"><h1>Bokningar</h1></div>
                        <div class="panel-group acc-v1 margin-bottom-40" id="answered">
                        <%@bokningar.each do |f|%>
                                <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <div id="faq123">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#answered" href="#collapse<%=f.id%>" >
                                                <%=f.printTime%></a>
                                        </div>
                                    </h4>
                                </div>
                                <div id="collapse<%=f.id%>" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    <%=link_to("Redigera",edit_car_rent_path(f))%>
                                        <%=simple_format(f.purpose)%>
                                    </div>
                                </div>
                            </div>
                        <%end%>
                </div>
                </div>
                <div class="col-md-4">
                        <div class="row">
                                <div class="headline headline-md"><h1>Operationer</h1></div>
                                	<%=link_to("Boka bil", new_car_rent_path(),class: "btn btn-u")%>
                                <br><hr>
                        </div>
                        <div class="row">
                                <div class="headline headline-md"><h1>Inställningar</h1></div>
                                
                        </div>

                </div>
        </div>
</div>