<%= link_to(admin_gallery_album_path(album), data: { no_turbolink: true }) do %>
  <div class="overflow-h">
    <h3><%= album.title %></h3>
    <% if album.to_date %>
      <span class="color-orange">
        <%=fa_icon('calendar')%>
      </span>
      <%= album.to_date%>
    <%end%>
    <br>
  </div>
  <%if album.images.count > 0%>
    <%= image_tag(album.images.sample().file_url, class: "img-responsive")%>
  <%else%>
    <div class="image-preview-container">
      <%= image_tag("img/linus2.jpg",class: "img-responsive")%>
    </div>
  <% end %>
<%end%>
