<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <h3 class="headline headline-md">
    <%= t(:edit, attr: Album.model_name.human) %>
  </h3>
  <%= render 'form'%>
  <hr>
  <%= link_to(t(:show, attr: model_name(Album)), admin_gallery_album_path(@album), class: 'btn secondary') %>
  <%= link_to(t(:destroy, attr: model_name(Album)), admin_gallery_album_path(@album), method: :delete, class: 'btn danger') %>
  <%= link_to(t('gallery.title'), admin_gallery_albums_path, class: 'btn secondary') %>
  <hr>
  <% @album.images.each do |img| %>
    <div class="col-xs-2">
      <%= image_tag(img.thumb, class: 'img-resposive album-preview') %>
    </div>
  <% end %>
</div>
