<div class="container">
	<div class="col-md-12">
		<div class="panel panel-orange margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i> Kategorier för album</h3>
                    </div>                                                          
                    <table class="table">
                        <thead>
                            <tr>                                
                                <th>Namn</th>
                                <th>Beskrivning</th>
                                <th>Synlig </th>                                
                            </tr>
                        </thead>
                        <tbody>
                        	<%for @cat in @kategorier%>
	                            <%= form_for(@cat,url: settings_albums_path, method: 'post') do |f| %>							
		                            <tr>
		                                <%= f.hidden_field(:id)%>	
		                                
		                                <td><%= f.text_field(:name)%></td>
		                                <td><%= f.text_field(:text,size: "40")%></td>
		                                <td><%= f.check_box(:visible)%></td>
		                                <td><%= f.submit 'Spara kategori',class: 'btn btn-u'%></td>
		                                <td><%= f.submit 'Ta bort kategori',class: 'btn btn-u'%></td>
		                                	                                                          
		                            </tr>
	                            <%end%>
                            <%end%>
                            	<%= form_for(@kategori,url: settings_albums_path, method: 'post') do |f| %>							
		                            <tr>		                                
		                                <td><%= f.text_field(:name, placeholder: "Ny kategori")%></td>
		                                <td><%= f.text_field(:text,size: "40")%></td>
		                                <td><%= f.check_box(:visible)%></td>
		                                <td><%= f.submit 'Spara ny kategori',class: 'btn btn-u'%></td>
		                                <td></td>		                                		                                		                                                          
		                            </tr>
	                            <%end%>                            
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-orange margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i> Underkategorier för bilder</h3>
                    </div>                                                          
                    <table class="table">
                        <thead>
                            <tr>                                
                                <th>Namn</th>                                
                                <th> </th>
                                <th></th>                                
                            </tr>
                        </thead>
                        <tbody>
                        	<%for @cat in @subcategories%>
	                            <%= form_for(@cat,url: settings_albums_path, method: 'post') do |f| %>							
		                            <tr>
		                                <%= f.hidden_field(:id)%>		                                
		                                <td><%= f.text_field(:text)%></td>		                                
		                                <td><%= f.submit 'Spara underkategori',class: 'btn btn-u'%></td>
		                                <td><%= f.submit 'Ta bort underkategori',class: 'btn btn-u'%></td>
		                                	                                                          
		                            </tr>
	                            <%end%>
                            <%end%>
                            	<%= form_for(@subcategory,url: settings_albums_path, method: 'post') do |f| %>							
		                            <tr>		                                
		                                <td><%= f.text_field(:text, placeholder: "Ny underkategori")%></td>		                                
		                                <td><%= f.submit 'Spara ny underkategori',class: 'btn btn-u'%></td>
		                                <td></td>		                                		                                		                                                          
		                            </tr>
	                            <%end%>                            
                        </tbody>
                    </table>
                </div>
        
            </div>
        </div>