<%= title(t('gallery.title')) %>
<div class="headline headline-md">
  <h1><%= t('gallery.title') %></h1>
</div>
<div class="col-md-2 col-xs-12">
  <% if @policy.present? %>
    <%= link_to( document_path(@policy), target: 'blank_p', class: 'btn primary') do %>
      <%= fa_icon('paperclip') %> <%= t('gallery.policy') %>
    <% end %>
  <% end %>

  <% if @years.present? %>
    <div class="dropdown margin-bottom-20">
      <button class="btn secondary dropdown-toggle" type="button" id="oldies" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= @year || t('gallery.earlier_years') %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="oldies">
        <% if @years.present? %>
          <% @years.each do |year| %>
            <li>
              <%= link_to(year, gallery_path(year: year)) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="col-md-10 col-xs-12">
  <div class="gallery album-preview">
    <% @albums.each do |p| %>
      <%= render 'gallery/albums/album_preview', album: p %>
    <% end %>
  </div>
</div>
