<% description(t('.description')) %>
<% keywords(t('.keywords')) %>

<div class="headline headline-md">
  <h1>
    <%= title(t('.title')) %>
    <small>- <%= @year.to_s %></small>
  </h1>
</div>
<div class="col-md-2 col-xs-12">
  <% if @policy.present? %>
    <%= link_to( document_path(@policy), target: 'blank_p', class: 'btn primary') do %>
      <%= fa_icon('paperclip') %> <%= t('.policy') %>
    <% end %>
  <% end %>

  <% if @all_years.present? %>
    <div class="dropdown margin-bottom-20">
      <button class="btn secondary dropdown-toggle" type="button" id="oldies" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= t('.other_years') %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="oldies">
        <% @all_years.each do |year| %>
          <li>
            <%= link_to(year, gallery_path(year: year)) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="col-md-10 col-xs-12">
  <div class="gallery album-preview">
    <% cache([I18n.locale, @albums]) do %>
      <% @albums.each do |p| %>
        <%= render 'gallery/albums/album_preview', album: p %>
      <% end %>
    <% end %>
  </div>
</div>
