<% description(t('.description')) %>
<% keywords(t('.keywords')) %>

<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-offset-1 col-md-10 col-sm-12">
  <%= simple_format(t('.i_am_proposal_machine')) %>
  <%= simple_format(t('.do_not_forget_to_copy')) %>

  <%= form_for(@proposal, url: proposals_generate_path(format: :pdf),
                          html: {class: 'proposal-form'}) do |f| %>
    <fieldset>
      <legend>Grundläggande information</legend>
      <%= form_group do %>
        <%= f.label :title %>
        <%= f.text_field :title %>
      <% end %>

      <%= form_group do %>
        <%= f.label :sign_name %>
        <%= f.text_field :sign_name, value: current_user && current_user.to_s %>
      <% end %>

      <%= form_group do %>
        <%= f.label :sign_title %>
        <%= f.text_field :sign_title %>
      <% end %>
    </fieldset>

    <fieldset>
      <legend><%= t('.body') %></legend>
      <%= form_group do %>
        <%= f.text_area :body, rows: 16 %>
      <% end %>
    </fieldset>

    <fieldset>
      <legend><%= t('.pleas') %></legend>
      <div class="proposal-points">
        <%= f.fields_for :points do |ff| %>
          <div class="proposal-point">
            <%= form_group do %>
              <%= ff.label :'', 'ATT' %>
              <%= ff.text_area :'', rows: 4 %>
            <% end %>
          </div>
        <% end %>
      </div>

      <%= link_to(t('.plea_more'), 'javascript:void(0)', class: 'proposal-add btn secondary') %>
      <%= link_to(t('.plea_less'), 'javascript:void(0)', class: 'proposal-remove btn secondary') %>
    </fieldset>
    <hr>
    <%= f.submit t('.create_motion'), class: 'btn primary' %>
  <% end %>
</div>
