= form_for @short_link, 
  :html => { class:  'form-inline shortlink-check' } do |f|
  .form-group
    = f.label :link, class:  'sr-only'
    = f.text_field :link, class:  'form-control shortlink-field',
      :placeholder => ShortLink.human_attribute_name(:link)

  %span
    &#10230;

  .form-group
    = f.label :target, class:  'sr-only'
    = f.text_field :target, class:  'form-control',
      :placeholder => ShortLink.human_attribute_name(:target)

  = f.submit 'Skapa ny snabblänk', class:  'btn btn-default'

  %p.shortlink-notice{ :style => 'display: none' }
    En snabblänk med det namnet finns redan. Du kommer att spara över 
    den gamla länken.

