<ul class="list-group sidebar-nav">
  <li class="list-group-item">
    <%= link_to(admin_adventures_path) do %>
      <%= icon('fas', 'list', t('.all')) %>
    <% end %>
  </li>

  <li class="list-group-item">
    <%= link_to(admin_adventure_adventure_missions_path(@adventure)) do %>
      <%= icon('fas', 'list', t('.all_missions')) %>
    <% end %>
  </li>

  <li class="list-group-item">
    <%= link_to(new_admin_adventure_adventure_mission_path(adventure_id: @adventure.id)) do %>
      <%= icon('fas', 'plus', t('.add_mission')) %>
    <% end %>
  </li>
</ul>
