
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>
<div class="col-md-3 col-sm-12">
  <%= render 'sidebar', adventure: @adventure %>
</div>

<div class="col-md-9 col-sm-12">
  <%= render('form', adventure: @adventure) %>
  <hr>
  <%= link_to(t('.destroy'), admin_adventure_path(@adventure),
                         method: :delete,
                         class: 'btn danger pull-right') %>
  <%= link_to(t('.all'), admin_adventures_path, class: 'btn secondary') %>
</div>
