<div class="headline">
  <h3>
    <%= title(@album.title) %>
    <small><%= date_range(@album.start_date, @album.end_date) %></small>
  </h3>
  <%= link_to(fa_icon('arrow-left'), gallery_path(year: @album.start_date.year.to_i),
              class: 'btn secondary pull-right small') %>
</div>

<div class="fotorama" data-nav="thumbs"
                      data-keyboard='{"space": true, "home": true, "end": true, "up": true, "down": true}'
                      data-click="true"
                      data-swipe="true"
                      data-allowfullscreen="true"
                      data-height="80%"
                      data-ratio="4/3"
                      data-startindex="<%= @start.to_s %>">
  <% @album.images.each do |p| %>
    <div data-img="<%= p.view %>" data-thumb="<%= p.thumb %>">
      <%= link_to(t('.share'), gallery_album_path(@album, start: @album.images.find_index(p)),
                  data: { turbolinks: :false }) %>
      <% if can_administrate?(:manage, p) %>
        <br>
        <%= link_to(admin_album_image_path(@album, p)) do %>
          <%= fa_icon('cog') %> <%= t('global.edit') %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<br>
<div class="col-md-3">
  <div class="headline">
    <h4><%= t('.photographers') %></h4>
  </div>
  <ul class="list">
    <% @album.photographers.each do |p| %>
      <li><%= link_to(p, p, target: 'blank_p') %></li>
    <% end %>

    <% @album.photographer_names.each do |p| %>
      <li><%= p.to_s %></li>
    <% end %>
  </ul>
  <% if @policy.present? %>
    <hr>
    <%= link_to(document_path(@policy), target: 'blank_p') do %>
      <%= fa_icon('paperclip') %> <%= t('.policy') %>
    <% end %>
  <% end %>
</div>

<div class="col-md-9">
  <div class="headline">
    <h4><%= Album.human_attribute_name(:description) %></h4>
  </div>
  <%= markdown(@album.description) %>
</div>
