<%= simple_form_for([@council, @post]) do |f| %>
  <%= f.input :title %>
  <%= f.input :styrelse %>
  <%= f.input :car_rent %>
  <%= f.input :elected_by, collection: ["Terminsmötet", "Styrelsen", "Studierådet"] %>
  <%= f.input :elected_at, collection: ["HT", "VT", "Båda"] %>
  <%= f.association :council %>
  <div class="panel-body">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <%= content_tag(:th, Post.human_attribute_name(:recLimit)) %>
          <%= content_tag(:th, Post.human_attribute_name(:limit)) %>
          <%= content_tag(:th, '==') %>
        </tr>
        <tr>
          <td>0</td>
          <td>0</td>
          <td>*</td>
        </tr>
        <tr>
          <td>5</td>
          <td>5</td>
          <td>5 (x)</td>
        </tr>
        <tr>
          <td>4</td>
          <td>5</td>
          <td>4-5</td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= f.input :recLimit %>
  <%= f.input :limit %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
