<%= form_for([@council,@post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">ß
      <h2><%= pluralize(@post.errors.count, "error") %> hindar posten från att sparas:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
    <%= f.label 'Titel', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">
  		<%= f.text_field :title,:class => 'form-control' %>
  	</div>
  	<%= f.label 'Styrelsepost', :class => 'reg-label'%>  	
  	<div class="input-group margin-bottom-20">
  		<%= f.check_box :styrelse, checked: @post.styrelse %>
  	</div>
    <%= f.label 'Hur många kan ha posten?', :class => 'reg-label'%>
    <p>(0 = obegränsad)</p>
  	<div class="input-group margin-bottom-20">
  		<%= f.select :limit, 0..10,selected: @post.limit,class:'form-control' %>
  	</div>
  	<%= f.label 'Beskrivning:', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">
  		<%= f.text_area :description,size: '60x10',class:'form-control' %>
  	</div>  	
  	<%= f.label 'Väljs av?', class:'reg-label'%><br><hr>
  	<div class="input-group margin-bottom-20">
  		<%= f.select :elected_by, options_for_select(["","Nomineringsgrupp", "Terminsmötet"],@post.elected_by),class: "form-control"%>
  	</div>
  	<%= f.label 'Väljs när?', class:'reg-label'%><br><hr>
  	<div class="input-group margin-bottom-20">
  		<%= f.select :elected_at, options_for_select(["","HT", "VT"],@post.elected_at),class: "form-control"%>
  	</div>  	 
  <div class="row">
  			<%= f.submit "Spara",:class => 'btn-u pull-right' %>	 				
  	</div>
<% end %>