<%= form_for([@council,@post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">ß
      <h2><%= pluralize(@post.errors.count, "error") %> hindar posten från att sparas:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
    <%= f.label 'Titel', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">
  		<%= f.text_field :title,:class => 'form-control' %>
  	</div>
    <%= f.label 'Hur många kan ha posten? (lämnas tomt för obegränsad)', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">
  		<%= f.number_field :limit,:class => 'form-control' %>
  	</div>
  	<%= f.label 'Beskrivning:', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">
  		<%= f.text_area :description,:class => 'form-control' %>
  	</div>
  <div class="row">
  			<%= f.submit "Spara",:class => 'btn-u pull-right' %>	 				
  	</div>
<% end %>