<% cache(post) do %>
  <%= markdown(post.description) %>

  <ul class="list-unstyled">
    <li>
      <%= fa_icon('briefcase') %>
      <%= Post.human_attribute_name(:limit)%>:
      <%= print_post_limit(post) %>

      <% if post.board? %>
        , <%= Post.human_attribute_name(:board) %>
    <% end %>
    </li>
    <li>
      <%= fa_icon('users') %>
      <%= model_name(Council) %>:
      <%= link_to(post.council, post.council) %>
    </li>

    <li>
      <%= fa_icon('cog') %>
      <%= Post.human_attribute_name(:elected_by) %>:
      <%= t("model.post.#{post.elected_by}") %>
    </li>
  </ul>

  <% if election.present? %>
    <%= candidate_and_nominate_buttons(post) %>
    <%= simple_format(t('.candidates_for_post_closes',
                        post: post.to_s,
                        date: localized(election.post_closing(post)))) %>

  <% end %>
<% end %>
