<% if post.present? %>
  <%= markdown(post.description) %>

  <ul class="list-unstyled">
    <li>
      <%= fa_icon('briefcase') %>
      <%= Post.human_attribute_name(:limit)%>:
      <%= print_post_limit(post) %>

      <% if post.board %>
        , <%= Post.human_attribute_name(:board) %>
    <% end %>
    </li>
    <li>
      <%= fa_icon('users') %>
      <%= model_name(Council) %>:
      <%= link_to(post.council, post.council) %>
    </li>

    <li>
      <%= fa_icon('cog') %>
      <%= Post.human_attribute_name(:elected_by) %>:
      <%= t("post.#{post.elected_by}") %>
    </li>
  </ul>

  <%= candidate_and_nominate_buttons(post) %>
<% end %>
