%h1 PermissionPosts#edit
= form_tag '/permissions/'+@post.id.to_s, method: 'post'
%table
  %tr
    %th 'Action'
    %th 'Controller'
    %th
  - @permissions.each do |permission|
    %tr
      %td= permission.action
      %td= permission.subject_class
      %td= check_box_tag 'permissions[]', permission.id, @post_permissions.include?(permission.id), {array: true, class: "check_box"}
= submit_tag 'Spara', class: 'btn-u'
