<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <%= content_tag(:h2, t(:edit, attr: model_name(Post))) %>
  </div>

  <%= render 'form'%>

  <%= link_to(t(:destroy, attr: model_name(Post)), council_post_path(@council,@post),
                                                   method: :delete) %><br>
  <% if can? :modify, PermissionPost %>
    <%= link_to(t(:edit, attr: models_name(Permission)), post_admin_permissions_path(@post)) %><br>
  <% end %>
  <%= link_to(t(:show, attr: models_name(Post)), council_posts_path(@council)) %><br>
  <%= link_to(t(:show, attr: model_name(Council)), @council) %><br>
</div>
