<div class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3 reg-page">
			<%= label_tag 'Redigera post',nil, :class => 'reg-header'%>			
			<%= render 'form'%>
			<%= link_to 'Radera post', council_post_path(@council,@post),method: :delete %><br>			
			<%= link_to 'Visa post', council_post_path(@council,@post) %><br>
			<%= link_to 'Visa utskott', @council %><br>
			<%= link_to 'Tillbaka till startsida', root_url %>
		</div>
	</div>
</div>