<% title('Poster') %>
<div class="container">
	<%if @council%>	
		<div class="row margin-bottom-20">
	        <%= link_to "Lägg till post", new_council_post_path(@council) ,class:"btn btn-u"%>
	        <%= link_to "Visa utskott", council_path(@council),class:"btn btn-u"%>
	        <%= link_to "Redigera utskott", edit_council_path(@council),class:"btn btn-u"%>
	    </div>
    <%end%>
	<div class="col-md-12">
		<%= grid(@post_grid) do |g|			
			  g.column name: "Titel",attribute: "title",filter: false  do |post|			    
			    link_to(post.title,edit_council_post_path(post.council,post))
			    link_to(post.title,"#mer-"+post.id.to_s,class: "",data: {toggle: "collapse"})
			  end
			  g.column name: "Gräns",attribute: "limit",filter: false do |post|
			  	(post.limit) && (post.limit > 0) ? post.limit : "Ingen"
			  end			
			  			  
			  g.column name: "Utskott", attribute: "council_id",filter: false do |post|
			    link_to(post.council.title,council_path(post.council))
			  end
			  g.column name: "Styrelsepost?", attribute: "styrelse" , filter: false do |post|
			  	(post.styrelse) ? "Ja" : "Nej"
			  end
		  
			  g.column name: "Väljs av:", attribute: "elected_by",filter: false
			    
			  g.column name: "HT/VT?",attribute: "elected_at",filter: false		  
			  if can? :edit, @post
				  g.column do |post|
				    link_to('Redigera', edit_council_post_path(post.council,post))
				  end
			  end
		end -%>
	</div>
	<div class="col-md-12">
		<%for @post in @posts%>
            <div id="mer-<%=@post.id%>" class="collapse">
                <div class="funny-boxes funny-boxes-left-orange">                	
                	<h2><%=@post.title%></h2>
                	<div class="col-md-12">	                    
	                    <% if can? :edit, @post %>					        
                  <%= link_to 'Ändra posten', edit_council_post_path(@post.council, @post) %>
					         <% if @post.profiles.size > 0 %>
					         <p>Ta bort någon från posten.</p>
				        	<%= form_tag remove_profile_council_post_path(@post.council,@post), :method => :patch do%>
									<%= hidden_field_tag :id, @post.id%>							
									<% profileList = [] %>
									<% @post.profiles.each do  |profile|%>														
												<%profileList << [profile.name.to_s + " - " + profile.user.username,profile.id]%>
										<% end %>
										<%= select_tag :profile_id,  options_for_select(profileList)%>
									<%= submit_tag 'Ta bort', class: "btn btn-u",data: { confirm: "Den valda profilen kommer att bli av med vald post."} %>
									<% end %><br>
					        <%end%>
					        	<p>Lägg till någon på posten: (Skriv in användarnamn)</p>
					        	<%= form_tag add_profile_username_council_post_url(@post.council,@post), :method => :patch do%>
									<%= hidden_field_tag :id, @post.id%>
									<%= text_field_tag :username %>							
									<%= submit_tag "Spara", class: "btn-u btn",data: { confirm: 'Dubbelkollat användarnamnet?' }%>
									<%end%>
					        
					        <%end%>
					      <p>Beskrivning:</p>
					      <%if @post.description%>
					      	<%=simple_format(@post.description)%>
					      <%end%>  
	                    	                    
                    </div>
                </div>
            </div>                                        
        <%end%>
	</div>
</div>		
