<% title(Post.model_name.human(count: 2)) %>
<% if @council %>
  <div class="row margin-bottom-20">
    <%= link_to(t(:add, attr: Post.model_name.human), new_council_post_path(@council), class: "btn btn-u") %>
    <%= link_to(t(:show, attr: Council.model_name.human), council_path(@council), class: "btn btn-u") %>
    <%= link_to(t(:edit, attr: Council.model_name.human), edit_council_path(@council), class: "btn btn-u") %>
  </div>
<% end %>

<div class="col-md-12">
  <div class="margin-bottom-20">
    <%= simple_form_for(@post_user, url: add_user_posts_path) do |f| %>
      <%= f.association :user, collection: User.all_firstname, label_method: :print_id %>
      <%= f.association :post, collection: @posts %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

<% if @post_grid.present? && @posts.count > 0 %>
  <div class="col-md-12">
    <%= render '/posts/index_table', post_grid: @post_grid, councils: @councils %>
  </div>
<% end %>

<div class="col-md-12">
  <% @posts.each do |post| %>
    <div id="<%= dom_id(post) %>" class="collapse">
      <div class="funny-boxes funny-boxes-left-orange">
        <%= content_tag(:h2, post) %>
        <div class="col-md-12">
          <% if can? :edit, post %>
            <%= link_to(t(:edit, attr: Post.model_name.human), edit_council_post_path(post.council, post), class: 'btn default') %>
            <% if post.users.size > 0 %>
              <p><%= t('posts.remove_user') %></p>
              <div class="panel-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <%= content_tag(:th, model_name(Post)) %>
                      <%= content_tag(:th, model_name(User)) %>
                      <%= content_tag(:th, PostUser.human_attribute_name(:created_at))%>
                      <%= t(:destroy, attr: nil ) %>
                    </tr>
                    <% PostUser.from_post(post.id).each do |pu| %>
                      <tr>
                        <%= content_tag(:td, link_to(pu.user, pu.user)) %>
                        <%= content_tag(:td, pu.post) %>
                        <%= content_tag(:td, pu.created_at) %>
                        <%= content_tag(:td, link_to(t(:destroy, attr: nil), remove_user_posts_path(pu), method: :delete)) %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          <% end %>
          <% if post.description %>
            <p><%= Post.human_attribute_name(:description) %>:</p>
            <%= simple_format(post.description) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
