<% title('Poster') %>
<div class="container">
	<div class="row">
		<div class="col-md-11">
			<table class="table">
			  <thead>
			    <tr>			      
			      <th>Titel:</th>
			      <th>Gr채ns:</th>
			      <th>Beskrivning:</th>
			      <th>Ta bort:</th>
			      <th>L채gg till: (anv채ndarnamn)</th>
			    </tr>
			  </thead>
			
			  <tbody>
			    <% @posts.each do |post| %>
			      <tr>			        
			        <td><%= link_to post.title,edit_council_post_path(@council,post) %></td>
			        <td><%= post.limit %></td>
			        <td><%= post.description %></td>
			        <% if current_user.has_role?(:poster,:edit) %>
			        <td>
			         <% if post.profiles.size > 0 %>
		        	<%= form_tag remove_profile_council_post_path(@council,post), :method => :patch do%>
							<%= hidden_field_tag :id, post.id%>							
							<% profileList = [] %>
							<% post.profiles.each do  |profile|%>
									<% if User.find(profile).profile == profile%>
									 	<%profileList << [profile.name.to_s + " - " + User.find(profile).username,profile.id]%>
									<% end %>
								<% end %>
								<%= select_tag :profile_id, options_for_select(profileList)%>								
							
							
							<%= submit_tag 'Ta bort', data: { confirm: "Den valda profilen kommer att bli av med vald post."} %>
							<% end %>
			        <%end%>
			        </td>
			        <td>	<%= form_tag add_profile_username_council_post_url(@council,post), :method => :patch do%>
							<%= hidden_field_tag :id, post.id%>
							<%= text_field_tag :username %>							
							<%= submit_tag "Spara", data: { confirm: 'Dubbelkollat anv채ndarnamnet?' }%>
							<%end%>
			        </td>
			        <%end%>  
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
		<% if user_signed_in? %>
 	 	<% if current_user.has_role?(:poster,:edit)  %>
		<div class="col-md-1">
			    <div class="headline headline-md"><h2>Verktyg</h2></div>
      			<ul class="list">
        		<li><%= link_to "Skapa post", new_council_post_url %></li>
      			</ul>
		</div>
		  <% end %>
  		<% end %>
	</div>
</div>

 	




