<% if @candidates.count > 0 %>
  <%= grid(@candidates_grid) do |g|
    g.column name: model_name(Post), attribute: 'post_id', filter: false do |candidate|
      link_to(candidate.post.title, %(##{dom_id(candidate.post)}), data: { toggle: 'collapse' })
    end

    g.column name: t('candidates.count'), filter: false do |candidate|
      candidate.election.candidate_count(candidate.post) || '*'
    end

    g.column name: Candidate.human_attribute_name(:created_at),
      attribute: 'created_at', filter:false do |candidate|
      candidate.created_at
    end
  end -%>

  <% @candidates.each do |cand| %>
    <div id='<%=dom_id(cand.post)%>' class='collapse'>
      <div class='funny-boxes funny-boxes-left-orange left-text-align'>
        <%= link_to(t(:hide), dom_id(cand.post), class: 'btn btn-u pull-right', data: { toggle: 'collapse' })%>
        <h2><%= cand.post %></h2>

        <div class='col-md-12'>
          <%=simple_format(cand.post.description)%>
          <ul class='list-unstyled'>
            <li>
              <%= fa_icon('briefcase') %>
              <%=%(#{Candidate.human_attribute_name(:limit)}: #{cand.post.limit}) %>
            </li>
            <li>
              <%= fa_icon('users') %>
              <%= model_name(Council) %>
              <%= link_to(cand.post.council, cand.post.council) %>
            </li>
          </ul>

          <% if cand.editable? %>
            <%= link_to(t(:edit, attr: nil), candidate_path(cand), class: 'btn-u btn-u-small')%>
            <%= link_to(t(:remove, attr: nil), candidate_path(cand), method: :delete, class: 'btn-u btn-u-small') %>
          <% else %>
            <%= t('candidates.not_editable') %>
          <% end %>
        </div>
      </div>
    </div>
  <%end%>
<%end%>
