<%= simple_form_for(@candidate) do |f| %>
  <% if @candidate.new_record? %>
    <%= f.association :post, collection: @election.current_posts.title %>
    <%= f.association :user, collection: [ current_user ] %>
    <%= f.button :submit, id: 'candidate-submit' %>
  <% else %>
    <h4><%= @candidate.post.title%></h4>
    <%= simple_format(t('candidates.cannot_change_post')) %>
  <% end %>
<% end %>
<br>

<%= simple_format(t('candidates.user_attributes')) %>
<p>
<%= t('candidates.user_update') %>
<%= link_to(t(:here), edit_own_user_path, target: :blank) %>
</p>

<table class="table">
  <tbody>
    <tr>
      <td><%= fa_icon('user') %></i></td>
      <td><%= current_user %></td>
    </tr>
    <tr>
      <td>
        <%= fa_icon('envelope') %>
        <%= User.human_attribute_name(:email)%>
      </td>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <td>
        <%= fa_icon('phone') %>
        <%= User.human_attribute_name(:phone) %>
      </td>
      <td><%= current_user.phone %></td>
    </tr>
    <tr>
      <td>
        <%= fa_icon('tag') %>
        <%= User.human_attribute_name(:stil_id) %>
      </td>
      <td><%= current_user.stil_id %></td>
    </tr>
  </tbody>
</table>
