<%= form_for(@candidate) do |f| %>
  <%= render 'shared/form_errors',current: @candidate %>
  <div class="margin-bottom-20 center">
    <h4>Post</h4>
    <% if @candidate.new_record?%>
      <%= f.select :post_id,
        options_from_collection_for_select(@election.current_posts, :id, :title, @candidate.post_id),
        include_blank: true,
        class:  "form-control listBox" %>
    <%else%>
      <h4><%= @candidate.post.title%></h4>
      <p>Det g책r inte att byta post, har du valt fel f책r du ta bort kandidaturen och skapa en ny.</p>
    <%end%>
  </div>
  <div class="row center margin-bottom-20">
    <% if @candidate.new_record? %>
      <%= f.submit class:  'btn btn-u' %>
    <% end %>
  </div>
<% end %>
<p>Se till att dina uppgifter 채r uppdaterade, annars kan din nominering inte antas.</p>
<p>Dina uppgifter uppdaterar du <%=link_to('h채r', edit_user_path(current_user)) %>.</p>
<% user = @candidate.new_record? ? current_user : @candidate.user %>
<table class="table">
  <tbody>
    <tr>
      <td><%= fa_icon('user') %></i></td>
      <td><%= user %></td>
    </tr>
    <tr>
      <td><%= fa_icon('envelope') %> E-post</td>
      <td><%= user.email %></td>
    </tr>
    <tr>
      <td><%= fa_icon('phone') %> Telefon</td>
      <td><%= user.phone %></td>
    </tr>
    <tr>
      <td><%= fa_icon('tag') %> Stil-id</td>
      <td><%= user.stil_id %></td>
    </tr>
  </tbody>
</table>
