<% if candidate_view.present? %>
  <%= simple_form_for(candidate_view.current) do |f| %>
      <%= f.association :user, collection: [ current_user ], include_blank: false %>
    <% if candidate_view.current.new_record? %>
      <%= f.association(:post, collection: candidate_view.election.posts.title,
                               include_blank: false,
                               input_html: { class: 'select2' }) %>
      <%= f.button :submit, id: 'candidate-submit' %>
    <% else %>
      <h4><%= candidate_view.current.post %></h4>
      <%= simple_format(t('candidate.cannot_change_post')) %>
      <%= link_to(t('candidate.destroy'), candidate_path(candidate_view.current),
                                          method: :delete,
                                          class: 'btn danger') %>
    <% end %>
  <% end %>

  <hr>

  <%= simple_format(t('candidate.user_attributes')) %>
  <%= link_to(t('user.edit'), edit_own_user_path,
                              target: :blank,
                              class: 'btn secondary') %>

  <table class="table">
    <tbody>
      <%= render '/users/as_table', user: current_user, prot: true %>
    </tbody>
  </table>
<% end %>
