<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-2 col-sm-12">
  <%= link_to(t('.new_candidate'), new_candidate_path, class: 'btn primary') %>
  <%= link_to(t('.show_election'), elections_path, class: 'btn primary') %>
</div>

<div class="col-md-10 col-sm-12 election">
  <% if @candidate_view.all.any? %>
    <div class="headline">
      <h3><%= t('.you_have_candidated') %></h3>
    </div>
    <% @candidate_view.all.each do |candidate| %>
      <div class="col-md-4 col-sm-6 col-xs-12 candidate">
        <h4><%= candidate.post %></h4>
        <ul class="list">
          <li>
            <%= Candidate.human_attribute_name(:count) %>:
            <%= @candidate_view.election.candidate_count(candidate.post) %>
          </li>
          <li>
            <%= Candidate.human_attribute_name(:closing) %>:
            <%= l(@candidate_view.election.post_closing(candidate.post),
                  format: :short) %>
          </li>
        </ul>
        <%= link_to(t('.edit_candidate'), candidate_path(candidate),
                                          class: 'btn secondary') %>
      </div>
    <% end %>
  <% else %>
    <h3><%= t('.no_candidates') %></h3>
  <% end %>
</div>
