<div class="modal-event-body row">
  <div class="col-sm-8 col-xs-12">
    <h4 class="modal-title"><%= %(#{event.title} #{event.short}) %></h4>
    <span class="time"><%= event.p_time %></span>
    <span class="location"><%= event.location %></span>
    <span class="description">
      <%= simple_format(event.description) %>
    </span>
    <span class="reminder">
    </span>
  </div>
  <div class="col-sm-4 col-xs-12">
    <span class="symbols">
      <%= render("symbols", event: event) %>
      <br>
      <ul class="symbol-list">
        <% if event.signup %>
          <li><%= t('nollning.signup') %></li>
        <% end %>
        <% if event.food %>
          <li><%= t('nollning.food') %></li>
        <% end %>
        <% if event.drink %>
          <li><%= t('nollning.drink') %></li>
        <% end %>
        <% if event.cash %>
          <li><%= t('nollning.cash') %></li>
        <% end %>
      </ul>
    </span>
  </div>
</div>
<hr>
