<div class="headline">
  <h1>En Ridderlig Nollning</h1>
</div>

<%= render 'images' %>

<% if @news.present? %>
  <div class="col-md-7 nollning-news">
    <div class="headline">
      <h3><%= t('news.title') %></h3>
    </div>

    <% @news.each do |n| %>
      <%= render '/news/news', news: n %>
    <% end %>

    <%= link_to news_index_path(category: :nollning) do%>
      <%= fa_icon('plus') %> <%= t('news.more') %>
    <% end %>
  </div>
<% end %>

<div class="col-md-7">
  <% if @constant.present? %>
    <div class="headline">
      <h3><%= t('nollning.movie') %></h3>
    </div>
    <iframe width="560" height="315" src="<%= @constant.value %>" frameborder="0" allowfullscreen></iframe>
  <% end %>
</div>
