<% description(t('.description')) %>
<% keywords(t('.keywords')) %>
<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>
<div class="col-md-12 nollning nollning-grid">
  <% cache([@dates, @events]) do %>
    <% @dates.each do |date| %>
      <%= link_to(nollning_event_path(date), data: { toggle: 'modal',
                                                     target: '#ajax-modal'},
                                             remote: true) do %>
        <div class="col-md-1 col-xs-4 matrix-grid">
          <% cache(@events[date]) do %>
            <%= render 'matrix_day', date: date, events: @events[date] %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<p class="nollning-matrix-footer"><%= t('.click_day_to_read_more') %></p>
<%= render 'modal' %>
