<p>Bokningens uppgifter (ID: <%= rent.id %>).</p>
<table class="table">
  <tbody>
    <tr>
      <%= content_tag(:td, User.human_attribute_name(:firstname)) %>:
      <%= content_tag(:td, rent.user) %>
    </tr>
    <tr>
      <%= content_tag(:td, User.human_attribute_name(:email)) %>:
      <%= content_tag(:td, rent.user.email) %>
    </tr>
    <tr>
      <%= content_tag(:td, User.human_attribute_name(:phone)) %>:
      <%= content_tag(:td, rent.user.phone) %>
    </tr>
    <tr>
      <%= content_tag(:td, Rent.human_attribute_name(:d_from)) %>:
      <%= content_tag(:td, rent.p_time) %>
    </tr>
    <% if rent.purpose.present? %>
      <tr>
        <%= content_tag(:td, Rent.human_attribute_name(:purpose)) %>:
        <%= content_tag(:td, simple_format(rent.purpose)) %>
      </tr>
    <% end %>
    <% if rent.council.present? %>
      <tr>
        <%= content_tag(:td, model_name(Council)) %>:
        <%= content_tag(:td, link_to(rent.council, rent.council.p_url)) %>
      </tr>
    <% end %>
    <tr>
      <%= content_tag(:td, t(:link)) %>:
      <%= content_tag(:td, link_to(rent.p_url, rent.p_url)) %>
    </tr>
  </tbody>
</table>
