<%= provide(:header_title, t('.header_title')) %>

<h3><%= t('rent_mailer.mailer.hello', user: @rent.user) %></h3>

<% if @rent.aktiv %>
  <%= simple_format(t('.marked_active_text'), class: 'lead') %>
<% else %>
  <%= simple_format(t('.marked_inactive_text'), class: 'lead') %>
<% end %>

<%= render 'attributes', rent: @rent %>

<br>
<hr>
<br>

<%= simple_format(t('rent_mailer.mailer.answer_with_questions')) %>
<p><%= t('rent_mailer.mailer.sincerely') %>,<br>
<%= t('rent_mailer.mailer.car_foreman') %></p>
