<%= provide(:header_title, t('.header_title')) %>

<h3><%= t('rent_mailer.mailer.hello', user: @rent.user) %></h3>

<p class="lead"><%= t('.booking_status') %> <%= t(%(model.rent.#{@rent.status})) %>.</p>
<% if @rent.status == 'denied' %>
  <%= simple_format(Rent.human_attribute_name(:comment)) %>
  <%= simple_format(@rent.comment) %>
  <%= t('.denied_appeal') %>
<% end %>

<%= render 'attributes', rent: @rent %>

<br>
<hr>
<br>

<%= simple_format(t('rent_mailer.mailer.answer_with_questions')) %>
<p><%= t('rent_mailer.mailer.sincerely') %>,<br>
<%= t('rent_mailer.mailer.car_foreman') %></p>
