<% provide(:title, t('.welcome')) %>

<%= content_for(:greeting) do %>
  <h1><%= t('.hello', user: @user.to_s) %></h1>
<% end %>

<%= content_for(:main_content) do %>
  <%= simple_format(t('.registered')) %>
  <%= simple_format(t('.before_starting')) %>

  <p>
    <%= link_to(t('.please_confirm'), user_confirmation_url(confirmation_token: @token)) %>
  </p>
<% end %>

<%= content_for(:bottom_signature) do %>
  <%= simple_format(t('.enjoy')) %>
  <%= simple_format(t('.problem')) %>
<% end %>
