<% provide(:header_title, t('.title')) %>

<h3><%= t('.hello', user: @user.to_s) %></h3>

<%= simple_format(t('.reset_requested')) %>
<%= simple_format(t('.reset_until', time: l(6.hours.from_now))) %>

<%= link_to(t('.change_password'),
            edit_password_url(@resource, reset_password_token: @token),
            class: 'btn primary') %>

<%= simple_format(t('.reset_not_you')) %>
<%= simple_format(t('.reset_problem')) %>
