<% ratio = adventure_group.points.fdiv(max) %>
<% title ||= adventure_group.group.name %>
<div class="col-md-1 col-sm-2 col-xs-3 block">
  <div class="text">
    <% if defined?(do_link) == 'local-variable' %>
      <%= link_to(title, introduction_adventure_path(adventure_group.introduction,
                                                     adventure_group.group)) %>
    <% else %>
      <%= title %>
    <% end %>
  </div>
  <% if ratio > 0.90 %>
    <%= image_tag('round-table/mission4.svg', class: 'part') %>
    <%= image_tag('round-table/mission3.svg', class: 'part') %>
    <%= image_tag('round-table/mission2.svg', class: 'part') %>
  <% elsif ratio > 0.75 %>
    <%= image_tag('round-table/mission3.svg', class: 'part') %>
    <%= image_tag('round-table/mission2.svg', class: 'part') %>
  <% elsif ratio > 0.45 %>
    <%= image_tag('round-table/mission2.svg', class: 'part') %>
  <% end %>
  <%= image_tag('round-table/mission1.svg', class: 'part') %>
  <div class="text"><%= "#{adventure_group.points.to_s} / #{max.to_s}" %></div>
</div>
