<% ratio = adventure_group.points.fdiv(max) %>
<div class="col-md-1 col-sm-2 col-xs-3 block">
  <div class="text"><%= adventure_group.group.name %></div>
  <% if ratio > 0.75 %>
    <%= image_tag('round-table/mission4.svg', class: 'part') %>
    <%= image_tag('round-table/mission3.svg', class: 'part') %>
    <%= image_tag('round-table/mission2.svg', class: 'part') %>
  <% elsif ratio > 0.5 %>
    <%= image_tag('round-table/mission3.svg', class: 'part') %>
    <%= image_tag('round-table/mission2.svg', class: 'part') %>
  <% elsif ratio > 0.25 %>
    <%= image_tag('round-table/mission2.svg', class: 'part') %>
  <% end %>
  <%= image_tag('round-table/mission1.svg', class: 'part') %>
  <div class="text"><%= adventure_group.points.to_s + ' / ' + max.to_s %></div>
</div>
