<%= form_for(@email, :html => {  :autocomplete => 'off' }) do |f| %>
	<% if @email.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@email.errors.count, "error") %> gör att meddelandet inte kan skickas:</h2>	
	      <ul>
	      <% @email.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
  	<% end %>
  	  	<%= f.label 'Till', :class => "reg-label"%>		  
  	<div class="input-group margin-bottom-20">					
		<%= f.text_field :receiver, :class => 'form-control',:placeholder => 'Till'%>		
  	</div>
  	<%= f.label 'Ämne', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">		  	  		 		  	
  		<%= f.text_field :subject, :class => 'form-control',:placeholder => 'Ämne' %>
  	</div>		  
  	<%= f.label 'Meddelande', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">		  	  		 		  	
  		<%= f.text_area :message, :class => 'form-control',:placeholder => 'Meddelande', size: "60x20" %>
  	</div>
  	<%= f.label 'Kopia', :class => 'reg-label'%>
  	<div class="input-group margin-bottom-20">
  		Skicka en kopia till din egen adress.  		
  		<%= f.check_box :copy,checked: @email.copy%>
  	</div>   	
  	<div class="row">
  			<%= f.submit "Skicka",:class => 'btn-u pull-right btn-u-small' %> 			  			  			
			  			
  	</div>
<% end %>