<% title(models_name(User)) %>
<div class="col-md-12 user">
  <div class="panel panel-orange margin-bottom-40">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= fa_icon('tasks') %> <%= models_name(User) %>
        <span id="test"></span>
      </h3>
    </div>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <%= content_tag(:th, '#') %>
            <%= content_tag(:th, User.human_attribute_name(:name)) %>
            <%= content_tag(:th, User.human_attribute_name(:username)) %>
            <%= content_tag(:th, User.human_attribute_name(:email)) %>
            <%= content_tag(:th, User.human_attribute_name(:program)) %>
            <%= content_tag(:th, User.human_attribute_name(:start_year)) %>
            <%= content_tag(:th, t('user.member')) %>
            <%= content_tag(:th, t('user.membership?')) %>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr id="<%= dom_id(user) %>">
              <%= content_tag(:td, user.id) %>
              <%= content_tag(:td, user) %>
              <%= content_tag(:td, user.username) %>
              <%= content_tag(:td, user.email) %>
              <%= content_tag(:td, user.program) %>
              <%= content_tag(:td, user.start_year) %>
              <%= content_tag(:td, class: 'member_tag') do %>
                <% if user.member? %>
                  <%= fa_icon('check-square-o') %>
                <% else %>
                  <%= fa_icon('square-o') %>
                <% end %>
              <% end %>
              <%= content_tag(:td, class: 'member_action') do %>
                <% if user.member? %>
                  <%= link_to(t('user.unmake_member'), unmember_admin_user_path(user),
                             class: 'btn danger', remote: true, method: :post) %>
                <% else %>
                  <%= link_to(t('user.make_member'), member_admin_user_path(user),
                             class: 'btn secondary', remote: true, method: :post) %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
