<% title('Användare') %>
<div class ="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Namn</th>
            <th>Användarnamn</th>
            <th>Email</th>
            <th>Program</th>
            <th>År</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user %></td>
              <td><%= user.username %></td>
              <td><%= user.email %></td>
              <td><%= user.program %></td>
              <td><%= user.start_year %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


