<div class="work-post">
  <div class="headline">
    <h1><%= title(@work_post.to_s) %></h1>
  </div>

  <div class="col-md-4 col-sm-12 bottom">
    <div class="col-md-12 col-sm-6 col-xs-12 margin-bottom-20">
      <%= image_tag(@work_post.image.large.url, class: 'image img-responsive') %>
    </div>
    <div class="col-md-12 col-sm-6 col-xs-12 margin-bottom-20">
      <%= render 'info', work_post: @work_post, show_link: true %>
    </div>
  </div>

  <div class="col-md-8 col-sm-12">
    <div class="headline">
      <h4><%= WorkPost.human_attribute_name(:description) %></h4>
    </div>
    <%= simple_format(@work_post.description) %>
  </div>

  <div class="col-xs-12 work-post updated-at">
    <%= WorkPost.human_attribute_name(:updated_at) %>:
    <%= l(@work_post.updated_at.to_date) %>,
    <%= user_link(@work_post.user) %>
    <hr>
    <%= link_to(t('.back_to_posts'), work_posts_path, class: 'btn secondary') %>
    <% if can_administrate?(:manage, @work_post) %>
      <%= link_to(t('.edit_post'), edit_admin_work_post_path(@work_post),
                                   class: 'btn secondary') %>
    <% end %>
  </div>
</div>
