<div class="col-md-12">
  <h1><%= t('.title') %></h1>
   <ul class="list-group">
      <li class="list-group-item">
          <h3><%= @adventure_mission_group.adventure_mission.title %> </h3>
        </li>
        <li class="list-group-item">
          <span class="badge"><%= @adventure_mission_group.adventure_mission.max_points %></span>
          <%= AdventureMission.human_attribute_name(:max_points) %>
        </li>
        <li class="list-group-item">
          <%= simple_form_for([:admin, @group, @adventure_mission_group]) do |f| %>
            <%= f.input :points %>
            <%= f.input :adventure_mission_id, as: :hidden, input_html: { value: @adventure_mission_group.adventure_mission.id }%>
            <%= f.button :submit, value: t('.save') %>
          <% end %>
        </li>
      </ul>
    <%= link_to t('.destroy'), admin_group_adventure_mission_group_path(@group, @adventure_mission_group), method: :delete, class: 'btn danger'%>
</div>
