<div class="headline">
  <h1 class="adventure-missions-groups-heading"><%= t('.accept_missions_for') %>: <span><%= @adventure.title %></span></h1>
</div>

<div class="col-md-3 col-sm-12">
  <%= link_to model_name(AdventureMission), admin_adventure_adventure_missions_path(@adventure), class: 'btn secondary' %>
</div>

<div class="col-md-9 col-sm-12">
  <div class= "headline">
    <h4><%= t('.await_acceptance') %></h4>
  </div>
  <%= grid @grid_pending do |g|
    g.column(name: model_name(Group), attribute: 'name', assoc: :group, filter: false)

    g.column(name: model_name(AdventureMission), attribute: 'title', assoc: [:adventure_mission, :translations], filter: false) do |amg|
      amg.adventure_mission.title.truncate(40)
    end

    g.column(name: AdventureMissionGroup.human_attribute_name(:points), attribute: 'points', filter: false)

    g.column(name: AdventureMission.human_attribute_name(:max_points), attribute: 'max_points', assoc: :adventure_mission, filter: false)

    g.column(name: '', attribute: 'pending', filter: false) do |amg|
      link_to t('.accept'), admin_adventure_adventure_mission_group_accept_path(@adventure, amg), method: :patch
    end
  end -%>

  <div class= "headline">
    <h4><%= t('.accepted') %></h4>
  </div>
  <%= grid @grid_accepted do |g|
    g.column(name: model_name(Group), attribute: 'name', assoc: :group, filter: false)

    g.column(name: model_name(AdventureMission), attribute: 'title', assoc: [:adventure_mission, :translations], filter: false) do |amg|
      amg.adventure_mission.title.truncate(40)
    end

    g.column(name: AdventureMissionGroup.human_attribute_name(:points), attribute: 'points', filter: false)

    g.column(name: AdventureMission.human_attribute_name(:max_points), attribute: 'max_points', assoc: :adventure_mission, filter: false)

    g.column(name: '', attribute: 'pending', filter: false) do |amg|
      link_to t('.decline'), admin_adventure_adventure_mission_group_decline_path(@adventure, amg), method: :patch
    end
  end -%>
</div>
