<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-2 col-sm-12">
  <%= link_to(t('.new'), new_admin_menu_path, class: 'btn primary') %>
  <%= link_to t('.main_menus'), admin_main_menus_path, class: 'btn primary' %>

  <button class="wg-external-submit-button btn secondary" data-grid-name="grid">
    <%= t('.filter') %>
  </button>

  <button class="wg-external-reset-button btn secondary" data-grid-name="grid">
    <%= t('.reset_filter') %>
  </button>
</div>

<div class="col-md-10 col-sm-12">
  <%= grid(@menus_grid, hide_submit_button: true, hide_reset_button: true) do |g|
    g.column(name: Menu.human_attribute_name(:name), attribute: 'name', assoc: :translations) do |menu|
      if menu.name.present?
        link_to menu, edit_admin_menu_path(menu)
      end
    end
    g.column(name: Menu.human_attribute_name(:main_menu_id)) do |menu|
      menu.main_menu.name
    end
    g.column(name: Menu.human_attribute_name(:visible), attribute: 'visible') do |menu|
      yes_no(menu.visible)
    end
    g.column(name: Menu.human_attribute_name(:index), attribute: 'index', filter: false)
    g.column(name: Menu.human_attribute_name(:turbolinks), attribute: 'turbolinks') do |menu|
      yes_no(menu.turbolinks)
    end
    g.column(name: Menu.human_attribute_name(:blank_p), attribute: 'blank_p') do |menu|
      yes_no(menu.blank_p)
    end
    g.column(name: Menu.human_attribute_name(:link), filter: false, attribute: 'link') do |menu|
      link_to(truncate(menu.link, length: 10), menu.link)
    end
    g.column(name: Menu.human_attribute_name(:updated_at), filter: false, attribute: 'updated_at')
  end -%>
</div>
