<div class="headline">
  <h3><%= notice.title %></h3>
</div>

<div class="col-sm-12 margin-bottom-20">
  <% if notice.image? %>
    <div class="col-md-5 col-xs-12">
      <%= image_tag(image_notice_path(notice, style: 'large'),
                    class: 'img-responsive') %>
    </div>
    <div class="col-md-7 col-xs-12">
      <%= markdown(notice.description) %>
    </div>
  <% else %>
    <div class="col-md-12 col-xs-12">
      <%= markdown(notice.description) %>
    </div>
  <% end %>
  <% if can?(:modify, notice) %>
    <%= link_to(edit_notice_path(notice)) do %>
      <%= fa_icon('cog') %> <%= t(:edit) %>
    <% end %>
  <% end %>
</div>
