<div class="headline notice">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-2 col-sm-12">
  <%= link_to(t('.new_notice'), new_admin_notice_path, class: 'btn primary') %>
  <hr>
  <button class="wg-external-submit-button btn secondary" data-grid-name="grid">
    <%= t('wice_grid.filter') %>
  </button>
  <button class="wg-external-reset-button btn secondary" data-grid-name="grid">
    <%= t('wice_grid.reset_filter') %>
  </button>
</div>

<div class="col-md-10 col-sm-12">
  <%= grid(@notice_grid, hide_submit_button: true,
           hide_reset_button: true, html: { class: 'notice' }) do |g|
    g.row_attributes do |notice|
      if notice.published?
        {class: 'published'}
      end
    end
    g.column(name: Notice.human_attribute_name(:title),
             attribute: 'title') do |notice|
      link_to(notice, edit_admin_notice_path(notice))
    end
    g.column(name: Notice.human_attribute_name(:public),
             attribute: 'public') do |notice|
      yes_no(notice.public)
    end
    g.column(name: Notice.human_attribute_name(:d_publish),
             attribute: 'd_publish')
    g.column(name: Notice.human_attribute_name(:d_remove),
             attribute: 'd_remove')
    g.column(name: Notice.human_attribute_name(:sort),
             attribute: 'sort')
    g.column(name: t('global.edit')) do |notice|
      link_to(t('global.edit'), edit_admin_notice_path(notice))
    end
  end -%>
</div>
