<div id="admin-pages-form">
  <%= simple_form_for([:admin, page, page_element]) do |f| %>
    <%= f.input(:element_type, collection: page_element_types,
                               include_blank: false,
                               input_html: { id: 'element-type-btn' }) %>

    <%= f.input :text_sv, as: :pagedown,
                          input_html: { preview: true, rows: 10 },
                          wrapper_html: { class: 'text-element' } %>

    <%= f.input :text_en, as: :pagedown,
                          input_html: { preview: true, rows: 10 },
                          wrapper_html: { class: 'text-element' } %>

    <%= f.association :page_image, collection: page.page_images,
                                   hint: t('.images_hint'),
                                   wrapper_html: { class: 'image-element' } %>
    <%= f.input :visible %>
    <%= f.input :sidebar, hint: t('.sidebar_hint') %>
    <%= f.input :headline_sv %>
    <%= f.input :headline_en %>
    <%= f.input :index %>
    <%= f.button :submit %>

    <% if page_element.persisted? %>
      <%= link_to(t('.destroy_element'),
                  admin_page_page_element_path(page, page_element),
                  method: :delete, class: 'btn danger pull-right') %>

    <% end %>
  <% end %>
</div>
