<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-2 col-sm-12 margin-bottom-20">
  <button class="wg-external-submit-button btn primary" data-grid-name="grid">
    <%= t('wice_grid.filter') %>
  </button>

  <button class="wg-external-reset-button btn secondary" data-grid-name="grid">
    <%= t('wice_grid.reset_filter') %>
  </button>

  <hr>

  <%= link_to(t('.new_element'), new_admin_page_page_element_path(@page),
                                 class: 'btn primary') %>
  <%= link_to(t('.show_page'), page_path(@page),
                               class: 'btn secondary') %>
  <%= link_to(t('.edit_page'), edit_admin_page_path(@page),
                               class: 'btn secondary') %>
</div>

<div class="col-md-10 col-sm-12">
  <%= grid(@element_grid, hide_submit_button: true, hide_reset_button: true) do |g|
    g.column(name: PageElement.human_attribute_name(:headline),
             attribute: 'headline',
             assoc: :translations) do |page_element|
      page_element.headline
    end
    g.column(name: PageElement.human_attribute_name(:visible), attribute: 'visible') do |page_element|
      yes_no(page_element.visible)
    end
    g.column(name: PageElement.human_attribute_name(:element_type),
             attribute: 'element_type') do |page_element|
      t("model.page_element.#{page_element.element_type}")
    end
    g.column(name: PageElement.human_attribute_name(:updated_at), attribute: 'updated_at',
             filter: false)
    g.column(name: t('global.edit'), filter: false) do |page_element|
      link_to(t('global.edit'), edit_admin_page_page_element_path(@page, page_element))
    end
  end -%>
</div>
