<div class="col-md-6 col-md-offset-3 col-xs-12 reg-page">
  <div class="headline">
    <h1><%= title(t('.nominate_for', election: @election_view.election.title)) %></h1>
  </div>

  <div id="nomination-form">
    <div class="margin-bottom-20">
      <%= simple_format(t('.a_fitting_person')) %>
      <%= simple_format(t('.mail_will_be_sent')) %>
    </div>

      <%= simple_form_for(@election_view.nomination) do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.association(:post, collection: @election_view.election.searchable_posts,
                                 include_blank: false,
                                 input_html: {class: 'select2'})%>
        <%= f.input :motivation %>
        <%= f.button :submit, id: 'nomination-submit' %>
      <% end %>
      <hr>
  </div>

  <%= link_to t('.show_election'), elections_path, class: 'btn secondary' %>
</div>
