.col-md-6
  .panel.panel-orange.margin-bottom-20
    %table.table.table-striped
      %thead
        %tr
          %th= ExLink.human_attribute_name(:attribute)
          %th= ExLink.human_attribute_name(:value)
      %tbody
        %tr
          %td= ExLink.human_attribute_name(:label)
          %td= @ex_link.label
        %tr
          %td= ExLink.human_attribute_name(:url)
          %td= link_to @ex_link.url, @ex_link.url
        %tr
          %td= ExLink.human_attribute_name(:tags)
          %td= tags2labs @ex_link.get_tagnames
        %tr
          %td= ExLink.human_attribute_name(:test_availability)
          %td= bool2icon @ex_link.test_availability
        %tr
          %td= ExLink.human_attribute_name(:note)
          %td= @ex_link.note
        %tr
          %td= ExLink.human_attribute_name(:active)
          %td= bool2icon @ex_link.active
        %tr
          %td= ExLink.human_attribute_name(:expiration)
          %td= @ex_link.expiration

  .row.margin-bottom-40.col-md-6
    %p
      = link_to ExLink.human_attribute_name(:edit), edit_admin_ex_link_path(@ex_link),class: 'btn-u btn-secondary'
      = link_to ExLink.human_attribute_name(:back), admin_ex_links_path, class: 'btn-u btn-secondary'
      = link_to ExLink.human_attribute_name(:destroy), admin_ex_link_path(@ex_link), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn-u btn-u-red'

.col-md-6
  %p
    = image_tag @ex_link.image.url(:medium, :align=> 'middle')

