<p id="notice"><%= notice %></p>

<br />
<%= render 'upload' %>
<br />

<%= link_to (content_tag(:i, nil, class: "fa fa-edit") + " Redigera bild"), edit_image_path(@image), class: "btn-u btn-u-small" %>
<%= link_to (content_tag(:i, nil, class: "fa fa-edit") + " Tillbaka"), images_path, class: "btn-u btn-u-small" %>      
<% if current_user.has_role?(:galleri, :edit) %>
	<%= link_to (content_tag(:i, nil, class: "fa fa-trash-o") + " Förinta"), @album, method: :delete, data: {confirm: "Är du säker?"}, class: "btn-u btn-u-small" %>
<% end %>
