<li class="dropdown right">
  <%= link_to('#', class: 'dropdown-toggle', data: { toggle: 'dropdown', 'close-others' => 'false' }) do %>
    <%= fa_icon('cog') %>
    <span>
      <%= t('.administrate') %>
    </span>
  <% end %>
  <ul class="dropdown-menu">
    <% if can_administrate?(:index, User) %>
      <li class="dropdown-submenu">
        <%= link_to(models_name(User), admin_users_path) %>
      </li>
    <% end %>

    <% if can_administrate?(:index, Menu) %>
      <li class="dropdown-submenu">
        <%= link_to(models_name(Menu), admin_menus_path) %>
      </li>
    <% end %>

    <% if can_administrate?(:index, Constant) %>
      <li class="dropdown-submenu">
        <%= link_to(models_name(Constant), constants_path) %>
      </li>
    <% end %>

    <% if can_administrate?(:index, Permission) %>
      <li class="dropdown-submenu">
        <%= link_to(models_name(Permission), admin_permissions_path) %>
      </li>
    <% end %>

    <% if can_administrate?(:index, Category) %>
      <li class="dropdown-submenu">
        <%= link_to(models_name(Category), admin_categories_path) %>
      </li>
    <% end %>


    <% if can_administrate? :manage, Contact %>
      <li class="dropdown-submenu">
        <%= link_to(model_name(Contact), admin_contacts_path) %>
      </li>
    <% end %>

    <% if can_administrate? :manage, Album %>
      <li class="dropdown-submenu">
        <%= link_to(model_name(Album), admin_gallery_albums_path)%>
      </li>
    <% end %>

    <% if can_administrate? :manage, Page %>
      <li class="dropdown-submenu">
        <%= link_to(model_name(Page), admin_pages_path)%>
      </li>
    <% end %>

    <% if can_administrate? :index, ShortLink %>
      <li class="dropdown-submenu">
        <%= link_to(models_name(ShortLink), short_links_path) %>
      </li>
    <% end %>

    <% if can_administrate? :index, MailAlias %>
      <li class="dropdown-submenu">
        <%= link_to(models_name(MailAlias), mail_aliases_path) %>
      </li>
    <% end %>

    <% if can_administrate? :index, Rent %>
      <li class="dropdown-submenu">
        <%= link_to(model_name(Rent), admin_rents_path)%>
      </li>
    <% end %>

    <% if can_administrate? :index, Tool %>
      <li class="dropdown-submenu">
        <%= link_to(model_name(Tool), admin_tools_path)%>
      </li>
    <% end %>

    <% if can_administrate? :index, Election %>
      <li class="dropdown-submenu">
        <%= link_to(model_name(Election), admin_elections_path)%>
      </li>
    <% end %>

    <% if can_administrate? :index, Event %>
      <li class="dropdown-submenu">
        <%= link_to(model_name(Event), admin_events_path) %>
      </li>
    <% end %>

    <% if can_administrate? :index, News %>
      <li class="dropdown-submenu">
        <%= link_to(model_name(News), admin_news_index_path) %>
      </li>
    <% end %>

    <% if can_administrate? :index, Notice %>
      <li class="dropdown-submenu">
        <%= link_to(models_name(Notice), admin_notices_path)%>
      </li>
    <% end %>

    <% if can_administrate? :index, Document %>
      <li class="dropdown-submenu">
        <%= link_to(model_name(Document), admin_documents_path) %>
      </li>
    <% end %>

    <% if can_administrate? :index, Council %>
      <li class="dropdown-submenu">
        <%= link_to(model_name(Council), admin_councils_path) %>
      </li>
    <% end %>

    <% if can_administrate? :manage, Council %>
      <li class="dropdown-submenu">
        <%= link_to(models_name(Post), '#') %>
        <ul class="dropdown-menu">
          <% Council.titles.each do |council| %>
            <% if can_administrate? :manage, council %>
              <li><%= link_to(council, admin_council_posts_path(council)) %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>

    <% if can_administrate?(:index, CafeShift) %>
      <li class="dropdown-submenu">
        <%= link_to(t('.cafe'), admin_cafe_shifts_path)%>
      </li>
    <% end %>

    <% if can_administrate?(:index, WorkPost) %>
      <li class="dropdown-submenu">
        <%= link_to(t('.work_post'), admin_work_posts_path)%>
      </li>
    <% end %>

    <% if can_administrate?(:index, Faq) %>
      <li class="dropdown-submenu">
        <%= link_to(model_name(Faq), admin_faqs_path)%>
      </li>
    <% end %>
  </ul>
</li>
