
<%# Privilegies to check for each menu category %>
<% anvandare = [[User], [MailAlias], [Group], [Permission]] %>
<% post = [[Election], [Council], [Document]] %>
<% info = [[Notice], [Event], [News], [BlogPost]] %>
<% spindel = [[Menu], [ShortLink], [Constant], [Category]] %>
<% pryl = [[Rent], [Tool]] %>
<% ovrigt = [[CafeShift], [Introduction], [WorkPost], [Faq], [Page], [Album, admin_gallery_albums_path], [Contact], [Meeting], [Song]] %>
<% all_privilegies = [anvandare, post, info, spindel, pryl, ovrigt] %>

<li class="dropdown right large-menu">
  <%= link_to('#', class: 'dropdown-toggle', data: { toggle: 'dropdown', 'close-others' => 'false' }) do %>
    <%= fa_icon('cog') %>
    <span>
      <%= t('.administrate') %>
    </span>
  <% end %>
  <ul class="dropdown-menu megamenu row">
  <% all_privilegies.each do |c| %>
    <li class="admin-menu-category">
      <ul class="">
        <% privilegies = checkPrivilegies(c) %>
        <% if privilegies[0][0] != nil %>
          <li class="menu-header">
            Användare
          </li>
        <% end %>
        <% privilegies.each do |privilegie| %>
          <li class="menu">
            <% if privilegie.length == 1 %>
              <%= link_to models_name(privilegie[0]), [:admin, privilegie[0]] %>
            <% else %>
              <%= link_to models_name(privilegie[0]), privilegie[1] %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
</li>
