<div class="footer navbar" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="headline">
          <%= content_tag(:h2, t('footer.about')) %>
        </div>
        <p class="margin-bottom-25 md-margin-bottom-40">
        <%= t('footer.about_start') %>
        <ul class="list">
          <li>Teknisk Fysik</li>
          <li>Teknisk Matematik</li>
          <li>Teknisk Nanovetenskap</li>
        </ul>
        <br>
        <%= t('footer.about_end') %>
        </p>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="headline">
          <%= content_tag(:h2, t('vecktorn.title')) %>
        </div>
        <%= simple_format(t('vecktorn.subscribe_footer')) %>
        <%= link_to(t(:subscribe), :vecktorn_signup,
                    class: 'btn primary', target: '_blank')%>
        <p>
        <%= t('vecktorn.contribute_start') %>
        <%=render 'contacts/contact', name: 'Sanningsministeriet' %>
        <%= t('vecktorn.contribute_end') %>
        </p>
        <hr>
        <div class="headline">
          <%= content_tag(:h3, t('footer.stay_connected')) %>
        </div>
        <ul class="social-icons">
          <%= content_tag(:li, link_to('', :facebook,
                                       'data-original-title': 'Facebook',
                                       class: 'social-facebook'))%>
          <%= content_tag(:li, link_to('', :twitter,
                                       'data-original-title': 'Twitter',
                                       class: 'social-twitter'))%>
          <%= content_tag(:li, link_to('', :youtube,
                                       'data-original-title': 'YouTube',
                                       class: 'social-youtube'))%>
        </ul>
        <br>
        <br>
      </div>

      <div class="col-md-3 col-sm-12">
        <div class="headline">
          <%= content_tag(:h2, t('footer.contact')) %>
        </div>
        <p>
        <%= fa_icon 'phone' %> 046 - 14 47 22
        <br>
        <%= render 'contacts/contact', name: 'Ordförande' %>
        <br>
          <div class="headline">
            <%= content_tag(:h3, t('footer.address_visit')) %>
          </div>
          <address class="md-margin-bottom-40">
            C/o Hilbert Älg <br>
            Matematikhuset <br>
            Sölvegatan 18, <br>
            22362 Lund <br><br><br>
          </address>
        </p>
      </div>
    </div>
  </div>
</div>
