<div class="row footer" id="footer">
  <div class="container">
    <div class="col-md-5 col-xs-12 margin">
      <div class="headline">
        <h2><%= t('.short_about_guild') %></h2>
      </div>
      <p class="margin-bottom-25 md-margin-bottom-40">
      <%= t('.non_profit_with_programs') %>
      <ul class="list">
        <li><%= t('.physics') %></li>
        <li><%= t('.mathmatics') %></li>
        <li><%= t('.nanoscience') %></li>
      </ul>
      <br>
      <%= t('.purpose_members') %>
      </p>
    </div>

    <div class="col-md-4 col-xs-12 margin">
      <div class="headline">
        <h2><%= t('.weektorn') %></h2>
      </div>
      <%= simple_format(t('.weektorn_subscribe')) %>
      <%= link_to(t('.subscribe'), vecktorn_signup_path,
                  class: 'btn primary', target: '_blank')%>
      <p>
      <%= t('.weektorn_send_in') %>
      <%= contact_from_slug(slug: 'sanningsminister') %>
      <%= t('.weektorn_before_deadline') %>
      </p>
      <div class="headline">
        <h3><%= t('.about_webpage') %></h3>
      </div>
        <%= t('.we_use_cookies') %>
        <%= link_to(t('.read_more_cookies'), cookies_path) %>
    </div>

    <div class="col-md-3 col-xs-12">
      <div class="headline">
        <h2><%= t('.contact_us') %></h2>
      </div>

      <span class="phone">
        <%= fa_icon 'phone' %> 046 - 14 47 22
      </span>
      <span class="contact">
        <%= contact_from_slug(slug: 'ordf') %><br>
        <%= contact_from_slug(slug: 'inspektor') %>
      </span>

      <div class="headline">
        <h3><%= t('.visit_address') %></h3>
      </div>

      <address class="md-margin-bottom-40">
        Matematikhuset <br>
        Sölvegatan 18, 223 62 Lund
      </address>

      <div class="headline">
        <h3><%= t('.post_address') %></h3>
      </div>
      <address class="md-margin-bottom-40">
        F-teknologsektionen inom TLTH<br>
        Box 118, 221 00 Lund
      </address>
    </div>
  </div>
</div>
