             <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                	<li><a href="/nollning">
                            Introduktion <%= fa_icon('angle-down') %>
                        </a></li>                	
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Sektionen <%= fa_icon('angle-down') %>
                        </a>
                        <ul class="dropdown-menu">  
                          <li><%= link_to 'Om oss', :om %></li>   
                          <li><%= link_to 'Utskott', :councils %></li>
                          <li><%= link_to 'FAQ', :faq%></li>   
                          <li><%= link_to 'Dokument', documents_path%></li>
                          <li><%= link_to 'Nollning', :nollning%></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            För medlemmar <%= fa_icon('angle-down') %>
                        </a>
                        <ul class="dropdown-menu">
                    	  <li><%= link_to 'Bildgalleri', :albums %></li>
                          <li><%= link_to 'Kalender', :kalender %></li>
                          <li><%= link_to 'Bilbokning', 'https://docs.google.com/spreadsheet/ccc?key=0AlFJsQziMBrLdFA4RFlqcmlqbHczLWNud3JnS2FxUWc&usp=drive_web#gid=0',:data => { :confirm => 'Du länkas nu till ett Google Doc för bilbokning :)'},target: '_blank' %></li>
                          <li><%= link_to 'Jobba i Hilbert Cafe', 'http://www.tinyurl.com/hilbertcafelp1',:data => { :confirm => 'Du länkas nu till ett Google Doc för att jobba i Hilbert Café :)'},target: '_blank' %></li>                      
                          <!--<li><%= link_to 'Engagera dig', :engagemang %></li>-->
                          <!--<li><%= link_to 'Multimedia', :multimedia %></li>-->
                          <li><%= link_to 'Länkar', :lankar %></li>
                          
                        </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                        För företag <%= fa_icon('angle-down') %>
                      </a>
                      <ul class="dropdown-menu">
                        <!--<li><%= link_to 'Vår organisation', :organisation %></li>-->
                        <!--<li><%= link_to 'Vad vi erbjuder', :erbjudande %></li>-->
                        <li><%= link_to 'Om F-sektionen', '#' %></li>
                        <li><%= link_to 'Varför F-sektionen?', '#' %></li>
                        <li><%= link_to 'Vad vi erbjuder', '#' %></li>
                        <li><%= link_to 'Kontakt', '#' %></li>
                        <li><%= link_to 'Arbetsmarknadsdagar', 'http://www.farad.nu' %></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                        <a href='/kontakt' class="dropdown-toggle">
                            Kontakt <%= fa_icon('angle-down') %>
                        </a>
                    </li>
                    
                </ul>          
            </div>
