            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Sektionen <%= fa_icon('angle-down') %>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to 'Styrelsen', :styrelse %></li>
                            <li><%= link_to 'Utskott', :utskott%></li>                                                       
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Student <%= fa_icon('angle-down') %>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                            <li><%= link_to 'Kurslänkar', :kurslankar %></li>
                            <li><%= link_to 'Bane', :bane%></li>                                                       
                        </ul>

                    </li>
                   <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Vill studera <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                        	<li><%= link_to 'Styrelsen', '/styrelse' %></li>
                            <li><%= link_to 'Utskott','/utskott'%></li> 
                        </ul>
                    </li> -->
                    <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Företag <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to 'Styrelsen', '/styrelse'%></li>
                            <li><%= link_to 'Utskott','/utskott'%></li> 
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Alumn <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to 'Styrelsen', '/styrelse' %></li>
                            <li><%= link_to 'Utskott','/utskott'%></li> 
                        </ul>
                    </li>-->
                    <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
								Kontakt <%= fa_icon('angle-down') %>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="mailto:ordf@fsektionen.se">Ordf&ouml;rande</a></li>
				<li><a href="mailto:styrelsen@fsektionen.se">Styrelsen</a></li>
				<li><a href="mailto:spindelman@fsektionen.se">Spindelman/Webmaster</a></li>
				<li><%=link_to 'Likabehandlingsombud', 'libo'%></li>
                            </ul>                      
                        </li>

            <li class="hidden-sm"><a class="search"><i class="fa fa-search search-btn"></i></a></li>
                </ul>
                <div class="search-open">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Sök på hela sidan...">
                    </div><!-- /input-group -->
                </div>                
            </div><!-- /navbar-collapse -->

