          
          <div class="project-section margin-bottom-30">
            <div class="headline headline-md"><h2>Har du en ball idé?</h2></div>
              <p>Vill du genomföra någon aktivitet eller dra igång något projekt på sektionen men tycker att det känns stort och läskigt eller kanske inte vet hur du ska gå till väga? Kontakta då Fabian på viceordf@fsektionen.se.</p>
          </div>
          
          <!-- Quick Links -->
          <div class="magazine-sb-categories">
                <div class="headline headline-md"><h2>Snabblänkar</h2></div>
                <div class="row">
                    <ul class="list-unstyled col-xs-6">
                        <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AlFJsQziMBrLdFA4RFlqcmlqbHczLWNud3JnS2FxUWc&usp=drive_web#gid=11">Bilbokning</a></li>
                        <li><a href="#">Kalender</a></li>
                        <li><a href="http://tinyurl.com/hilbertcafelp4">Jobba i caféet</a></li>
                        <li><a href="#">Bildarkivet</a></li>
                        <li><%=link_to "Nyheter", :news%></li>
                        <li><a href="#">Porriga bilder</a></li>
                    </ul>                        
                    <ul class="list-unstyled col-xs-6">
                        <li><a href="#">Mög</a></li>
                        <li><a href="#">#spindelman</a></li>
                        <li><a href="#">#swag</a></li>
                        <li><a href="#">Ruby on Rails</a></li>
                        <li><a href="#">Baccus öppettider</a></li>
                        <li><a href="#">TLTH</a></li>
                    </ul>                        
                </div>
            </div>
            <!-- End Quick Links -->

            <!-- Photo Stream -->
            <% if user_signed_in? %>        	
     		
            <div class="headline headline-md"><h2>Sett i bildarkivet</h2></div>            
            <ul class="list-unstyled blog-photos margin-bottom-30">
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/6.jpg", class: "hover-effect" %></a></li>
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/8.jpg", class: "hover-effect" %></a></li>
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/10.jpg", class: "hover-effect" %></a></li>
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/11.jpg", class: "hover-effect" %></a></li>
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/1.jpg", class: "hover-effect" %></a></li>
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/2.jpg", class: "hover-effect" %></a></li>
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/7.jpg", class: "hover-effect" %></a></li>
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/3.jpg", class: "hover-effect" %></a></li>
            </ul>
            <% end %>
            <!-- End Photo Stream -->

