<ul class="list-inline list-unstyled" style="margin-top: 10px; text-align: left">
	<li><strong><%= link_to "Startsida",:root %></strong></li>
	<li><%= link_to "Om oss",:om %></li>
	<li><%= link_to "Utskott",:utskott %></li>
	<li><%= link_to "FAQ",:faq %></li>
	<li><%= link_to "Dokument",:dokument %></li>
</ul>