        <ul class="loginbar pull-right">
          <li><a href="/"><%= fa_icon("home") %></a></li>
          
          <li class="devider"></li>
          <% if user_signed_in? %>
          <li><%= link_to fa_icon("calendar"),:kalender %></li>          	
          
            <% if current_user.role_id != nil && Role.find_by_id(current_user.role_id) != Role.find_by_id(2)%>            	 
            <li class="devider"></li>            
            <li class="dropdown">              
             	<%= link_to current_user.role.title, "#", class: "dropdown-toggle", data: {toggle: "dropdown", delay: "0", :'close-others' => "false"}%>
             	<ul class="dropdown-menu">
              		<% if current_user.admin? %>
              		<li class="dropdown-submenu">
          				<a href="">Admin</a>
              			<ul class="dropdown-menu pull-left"> 
		              	  <li><%= link_to "Roller", :admin_roles %></li>		              	  
		                  <li><%= link_to "Hantera användare", :users%></li>
		                  <li><%= link_to "Menyer", :menus%></li>
               			</ul>
               		</li>
               		<% end %>
              		<% if current_user.moderator?(:event) %>
              		<li class="dropdown-submenu">
          				<a href="">Event</a>
              			<ul class="dropdown-menu pull-left"> 
		              	  <li><%= link_to "Snabbvy av alla event", :events %></li>
		                  <li><%= link_to "Nytt event", :new_event%></li>
               			</ul>
               		</li>
               		<% end %>
               		<% if current_user.moderator?(:nyheter) %>
              		<li class="dropdown-submenu">
          				<a href="">Nyheter</a>
              			<ul class="dropdown-menu pull-left">		              	  
		                  <li><%= link_to "Ny nyhet", :new_news%></li>
               			</ul>
               		</li>
               		<% end %>               		
               		<% if current_user.moderator?(:utskott) %>
              		<li class="dropdown-submenu">
          				<a href="">Utskott</a>
              			<ul class="dropdown-menu pull-left">
              				<%for @utskott in Council.all%>             			  		              	  
		                  		<% if current_user.moderator?(@utskott.url)%>
			                  		<li><%= link_to @utskott.title,edit_council_path(@utskott) %></li>
		                  		<%end%>
	                  		<%end%>
      		   			</ul>
               		</li>
               		<% end %>
           		</ul>               
            </li>        	
        	<% end %>
        	<li class="devider"></li>
            <li class="dropdown">              
              <%= link_to fa_icon("user") + (current_user.profile.print), current_user.profile, class: "dropdown-toggle", data: {toggle: "dropdown", delay: "0", :'close-others' => "false"}%>
              <ul class="dropdown-menu pull-right">
                <li><%= link_to "Profil", current_user.profile %></li>                
                <li><%= link_to "Kontoinställningar", :edit_user_registration%></li>                
                <li><%= link_to "Logga ut", :destroy_user_session, method: :delete %></li>                
               </ul>               
            </li>
          <% else %>
            <li>
              <%= link_to fa_icon("sign-in") + ' Logga in', new_user_session_path %>
            </li>
            <li class="devider"></li>
            <li>
              <%= link_to fa_icon("plus") + ' Ny användare', new_user_registration_path %>
            </li>
          <% end %>
        </ul>

