<div class="top">
  <div class="container">
    <ul class="loginbar pull-right">
      <li><%= link_to(fa_icon('calendar'), calendars_path, data: { no_turbolink: false }) %></li>
      <li class="devider"></li>
      <% if user_signed_in? %>
        <% if current_user.permissions.count > 0 %>
          <%= render 'layouts/admin_dropdown' %>
          <li class="devider"></li>
        <% end %>

        <li class="dropdown">
          <%= link_to(current_user, class: 'dropdown-toggle', data: { toggle: 'dropdown', delay: '0' }) do %>
            <%= fa_icon("user") %> <%= current_user %>
          <% end %>
          <ul class="dropdown-menu pull-right">
            <li><%= link_to t('user.settings'), :own_user %></li>
            <li><%= link_to t('devise.sign_out'), :destroy_user_session, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to(new_user_session_path) do %>
            <%= fa_icon('sign-in') %> <%= t('devise.sign_in') %>
          <% end %>
        </li>
        <li class="devider"> </li>
        <li>
          <%= link_to(new_user_registration_path) do %>
            <%= fa_icon('plus') %> <%= t('devise.sign_up') %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
