        <ul class="loginbar pull-right">
          <li><a href="#"><%= fa_icon("home") %></a></li>
          <li class="devider"></li>
          <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-delay="0" data-close-others="false">
                            <i class="fa fa-bars"></i>Kurslänkar 
                        </a>
                        <ul class="dropdown-menu pull-right">
                        	<li><%= link_to 'Teknisk Fysik', 'http://kurser.lth.se/lot/?val=program&prog=F' ,:target =>'_blank'%></li>
                            <li><%= link_to 'Teknisk Matematik','http://kurser.lth.se/lot/?val=program&prog=Pi',:target =>'_blank'%></li>
                            <li><%= link_to 'Teknisk Nanovetenskap','http://kurser.lth.se/lot/?val=program&prog=N',:target =>'_blank'%></li>
                        </ul>
                    </li>
          <!--<li class="devider"></li>
          <li><a href="#"><%= fa_icon("bars") %> Snabblänkar</a></li>-->
          <li class="devider"></li>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#"><%= fa_icon("user") %></a> 
              <%= link_to current_user.username, "#", class: "dropdown-toggle", data: {toggle: "dropdown", delay: "0", :'close-others' => "false"}%>
              <ul class="dropdown-menu pull-right">
                <li><%= link_to "Profil", current_user.profile %></li>
                <li><%= link_to "Logga ut", destroy_user_session_path, method: :delete %></li>
               </ul>
            </li>
          <% else %>
            <li>
              <%= link_to fa_icon("sign-in") + ' Logga in', new_user_session_path %>
            </li>
            <li class="devider"></li>
            <li>
              <%= link_to fa_icon("plus") + ' Ny användare', new_user_registration_path %>
            </li>
          <% end %>
        </ul>

