<ul class="list-inline list-unstyled" style="margin-top: 10px; text-align: left">
	<li><strong><%= link_to "Utskott",:utskott %></strong></li>
	<li><%= link_to "Cafémästeriet",:cafe %></li>
	<li><%= link_to "Föset",:fos %></li>
	<li><%= link_to "Kultuminsteriet",:km %></li>
	<li><%= link_to "Näringslivsutskottet",:fnu %></li>
	<li><%= link_to "Prylmästeriet",:pryl %></li>
	<li><%= link_to "Sanningsministeriet",:sanning %></li>
	<li><%= link_to "Sexmästeriet",:sexmasteri %></li>
	<li><%= link_to "Studierådet",:studierad %></li>
	<li><%= link_to "Styrelsen",:styrelse %></li>
</ul>