<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
  <title>F-sektionen</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<!--=== Top ===-->    
<div class="top-v1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled top-v1-contacts">
          <li>
            <i class="fa fa-envelope"></i> Email: <a href="mailto:info@htmlstream.com">info@htmlstream.com</a>
          </li>
          <li>
            <i class="fa fa-phone"></i> Hotline: (1) 396 4587 99<br />
          </li>
        </ul>
      </div><!--/top-v1-contacts-->

      <div class="col-md-6">
        <ul class="list-unstyled top-v1-data">
          <li><a href="#"><i class="fa fa-home"></i></a><br/></li>
          <li><a href="#"><i class="fa fa-globe"></i></a></li>
          <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
          <li><a href="#"> Quicklinks</a></li>
          <li><a href="#">My Account</a></li>
        </ul>
      </div><!--/top-v1-data-->
    </div>        
  </div>
</div><!--/top-v1-->
<!--=== End Top ===-->    

<!--=== Header ===-->    
<div class="header margin-bottom-10">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                  <%= image_tag "unify/logo1-default.png", id: "logo-header" %>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Home
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Option 1: Default Page</a></li>
                            <li><a href="page_home1.html">Option 2: Layer Slider</a></li>
                            <li><a href="page_home2.html">Option 3: Revolution Slider</a></li>
                            <li><a href="page_home3.html">Option 4: Amazing Content</a></li>
                            <li><a href="page_home4.html">Option 5: Home Sidebar</a></li>
                            <li><a href="page_home5.html">Option 6: Home Flatty</a></li>
                            <li class="active"><a href="page_home6.html">Option 7: Home Magazine</a></li>
                            <li><a href="page_home7.html">Option 8: Home Portfolio</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Pages
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="page_about.html">About Us</a></li>
                            <li><a href="page_about1.html">About Us Option</a></li>
                            <li><a href="page_services.html">Services</a></li>
                            <li><a href="page_services1.html">Services Option</a></li>
                            <li><a href="page_pricing.html">Pricing Tables</a></li>
                            <li><a href="page_invoice.html">Invoice Page</a></li>
                            <li><a href="page_meet_our_team.html">Meet Our Team</a></li>
                            <li><a href="page_coming_soon.html">Coming Soon</a></li>
                            <li><a href="page_faq.html">FAQs Page</a></li>
                            <li><a href="page_search.html">Funny Boxes</a></li>
                            <li><a href="page_gallery.html">Gallery Page</a></li>
                            <li><a href="page_registration.html">Registration Page</a></li>
                            <li><a href="page_registration1.html">Registration Option</a></li>
                            <li><a href="page_login.html">Login Page</a></li>
                            <li><a href="page_login1.html">Login Option</a></li>
                            <li><a href="page_404_error.html">404 Error</a></li>
                            <li><a href="page_404_error1.html">404 Error Option</a></li>
                            <li><a href="page_clients.html">Clients Page</a></li>
                            <li><a href="page_privacy.html">Privacy Policy</a></li>
                            <li><a href="page_terms.html">Terms Of Service</a></li>
                            <li><a href="page_2_columns_left.html">2 Columns Page Left</a></li>
                            <li><a href="page_2_columns_right.html">2 Columns Page Right</a></li>
                            <li><a href="page_3_columns.html">3 Columns Page</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Features
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="feature_grid.html">Grid Layout</a></li>
                            <li><a href="feature_boxes.html">Content Boxes</a></li>
                            <li><a href="feature_typography.html">Typography</a></li>
                            <li><a href="feature_tagline_boxes.html">Tagline Boxes</a></li>
                            <li><a href="feature_buttons.html">Buttons</a></li>
                            <li><a href="feature_icons.html">Icons</a></li>
                            <li><a href="feature_thumbails.html">Thumbails</a></li>
                            <li><a href="feature_components.html">Components</a></li>
                            <li><a href="feature_accardion_and_tabs.html">Accardion and Tabs</a></li>
                            <li><a href="feature_navigations.html">Navigations</a></li>
                            <li><a href="feature_tables.html">Tables</a></li>
                            <li><a href="feature_forms.html">Forms</a></li>
                            <li><a href="feature_testimonials.html">Testimonials</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Portfolio
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="portfolio_text_blocks.html">Portfolio Text Blocks</a></li>
                            <li><a href="portfolio_2_column.html">Portfolio 2 Columns</a></li>
                            <li><a href="portfolio_3_column.html">Portfolio 3 Columns</a></li>
                            <li><a href="portfolio_4_column.html">Portfolio 4 Columns</a></li>
                            <li><a href="portfolio_item.html">Portfolio Item Option 1</a></li>
                            <li><a href="portfolio_item1.html">Portfolio Item Option 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Blog
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="blog_page.html">Blog Page</a></li>
                            <li><a href="blog_large.html">Blog Large</a></li>
                            <li><a href="blog_medium.html">Blog Medium</a></li>
                            <li><a href="blog_full_width.html">Blog Full Width</a></li>
                            <li><a href="blog_left_sidebar.html">Blog Left Sidebar</a></li>
                            <li><a href="blog_right_sidebar.html">Blog Right Sidebar</a></li>
                            <li><a href="blog_item_option1.html">Blog Item Option 1</a></li>
                            <li><a href="blog_item_option2.html">Blog Item Option 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Contacts
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="page_contact1.html">Contacts Default</a></li>
                            <li><a href="page_contact2.html">Contacts Option 1</a></li>
                            <li><a href="page_contact3.html">Contacts Option 2</a></li>
                        </ul>
                    </li>                    
                    <li class="hidden-sm"><a class="search"><i class="fa fa-search search-btn"></i></a></li>
                </ul>
                <div class="search-open">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Go</button>
                        </span>
                    </div><!-- /input-group -->
                </div>                
            </div><!-- /navbar-collapse -->
        </div>    
    </div>    
</div><!--/header-->
<!--=== End Header ===-->    


<!--=== Content Part ===-->
<div class="container">
    <div class="row magazine-page">
        <!-- Begin Content -->
        <div class="col-md-9">
            <!--Magazine Slider-->
            <div class="carousel slide carousel-v1 margin-bottom-40" id="myCarousel-1">
                <div class="carousel-inner">
                    <div class="item active">
                      <%= image_tag "unify/posts/2.jpg" %>
                        <div class="carousel-caption">
                            <p>Facilisis odio, dapibus ac justo acilisis gestinas. </p>
                        </div>
                    </div>
                    <div class="item">
                      <%= image_tag "unify/posts/1.jpg" %>
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                        </div>
                        </div>
                    <div class="item">
                      <%= image_tag "unify/posts/3.jpg" %>
                        <div class="carousel-caption">
                            <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel-1" class="left carousel-control">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#myCarousel-1" class="right carousel-control">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <!--End Magazine Slider-->


            <!--Magazine News-->
            <div class="magazine-news">
                <div class="row">
                    <div class="col-md-6">
                        <div class="magazine-news-img">
                            <a href="#"><%= image_tag "unify/main/9.jpg", class: "img-responsive" %></a>
                        </div>
                        <h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
                        <div class="by-author">
                            <strong>by Jack Villo</strong>
                            <span>/ September 19, 2013</span>
                        </div> 
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
                    </div>
                    <div class="col-md-6">
                        <div class="magazine-news-img">
                            <a href="#"><%= image_tag "unify/main/10.jpg", class: "img-responsive" %></a>
                        </div>
                        <h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
                        <div class="by-author">
                            <strong>by Admin</strong>
                            <span>/ September 19, 2013</span>
                        </div> 
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
                    </div>
                </div>
            </div>
            <!--End Magazine News-->

            <hr>
            
 
            <!--Magazine Mini News & Info Block-->
            <div class="row">
                <!--Mini News-->
                <div class="col-md-4">
                    <div class="magazine-mini-news">
                        <h3><a href="#">Blanditiis Praesentium Volupeto</a></h3>
                        <div class="post-author">
                            <strong>by Adam Bvio</strong> 
                            <span>/ September 19, 2013</span>
                        </div>
                        <p>At vero eos et accusamus et iusto odiodig nissimos ducimus usce condimentum eleifend enim a feugiat.</p>
                    </div>
                    <hr>
                    <div class="magazine-mini-news">
                        <h3><a href="#">Blanditiis Praesentium Volupeto</a></h3>
                        <div class="post-author">
                            <strong>by Kate Baur</strong> 
                            <span>/ September 19, 2013</span>
                        </div>
                        <p>At vero eos et accusamus et iusto odiodig nissimos ducimus usce condimentum eleifend enim a feugiat.</p>
                    </div>
                    <hr>
                    <div class="magazine-mini-news">
                        <h3><a href="#">Blanditiis Praesentium Volupeto</a></h3>
                        <div class="post-author">
                            <strong>by Admin</strong> 
                            <span>/ September 19, 2013</span>
                        </div>
                        <p>At vero eos et accusamus et iusto odiodig nissimos ducimus usce condimentum eleifend enim a feugiat.</p>
                    </div>
                    <div class="news-read-more">
                        <i class="fa fa-plus"></i>
                        <a href="#">Read More News</a>
                    </div>
                </div>
                <!--End Mini News-->

                <!--Info Block-->
                <div class="col-md-8">
                    <div class="search-blocks search-blocks-top-sea">
                        <div class="row">
                            <div class="col-md-4 search-img">
                                <%= image_tag "unify/new/img5.jpg", class: "img-responsive" %>
                                <ul class="list-unstyled">
                                   <li><i class="fa fa-briefcase"></i> Dell, Google</li>
                                   <li><i class="fa fa-map-marker"></i> New York, US</li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="#">Sea Bordered Box</a></h2>
                                <ul class="list-unstyled search-rating">
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                </ul>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                    <div class="search-blocks search-blocks-top-yellow">
                        <div class="row">
                            <div class="col-md-4 search-img">
                                <%= image_tag "unify/new/img5.jpg", class: "img-responsive" %>
                                <ul class="list-unstyled">
                                   <li><i class="fa fa-briefcase"></i> Dell, Google</li>
                                   <li><i class="fa fa-map-marker"></i> New York, US</li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="#">Yellow Bordered Box</a></h2>
                                <ul class="list-unstyled search-rating">
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                </ul>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Info Block-->
            </div>

            <hr>

            <!--Magazine News-->
            <div class="magazine-news">
                <div class="row">
                    <div class="col-md-4">
                        <div class="magazine-news-img">
                            <a href="#">
                                <%= image_tag "unify/main/1.jpg", class: "img-responsive" %>
                            </a>
                        </div>
                        <h3><a href="#">Simelque Untine Culpaqui Officia Deserunt</a></h3>
                        <div class="by-author">
                            <strong>by Jack Villo</strong>
                            <span>/ September 19, 2013</span>
                        </div> 
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
                    </div>
                    <div class="col-md-4">
                        <div class="magazine-news-img">
                              <a href="#">
                                <%= image_tag "unify/main/2.jpg", class: "img-responsive" %>
                              </a>
                        </div>
                        <h3><a href="#">Simelque Untine Culpaqui Officia Deserunt</a></h3>
                        <div class="by-author">
                            <strong>by Ann Diwver</strong>
                            <span>/ September 19, 2013</span>
                        </div> 
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
                    </div>
                    <div class="col-md-4">
                        <div class="magazine-news-img">
                              <a href="#">
                                <%= image_tag "unify/main/3.jpg", class: "img-responsive" %>
                              </a>
                        </div>
                        <h3><a href="#">Simelque Untine Culpaqui Officia Deserunt</a></h3>
                        <div class="by-author">
                            <strong>by Admin</strong>
                            <span>/ September 19, 2013</span>
                        </div> 
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
                    </div>
                </div>
            </div>
            <!--End Magazine News-->
        </div>
        <!-- End Content -->
    
        <!-- Begin Sidebar -->
        <div class="col-md-3">
            <!-- Magazine Posts -->
            <div class="row">
                <div class="magazine-posts col-md-12 col-sm-">
                    <h3><a href="#">Bootstrap 3 Template</a></h3>
                    <span>September 19, 2013</span>
                    <div class="magazine-posts-img">
                        <a href="#"><%= image_tag "unify/main/10.jpg", class: "img-responsive" %></a>
                        <span class="magazine-badge magazine-badge-red">Unify</span>                                    
                    </div>
                </div>
                <div class="magazine-posts col-md-12 col-sm-6">
                    <h3><a href="#">Parralax One Page</a></h3>
                    <span>September 19, 2013</span>
                    <div class="magazine-posts-img">
                        <a href="#"><%= image_tag "unify/main/1.jpg", class: "img-responsive" %></a>
                        <span class="magazine-badge magazine-badge-green">Bootstrap 3</span>                                    
                    </div>
                </div>                
            </div>
            <!-- End Magazine Posts -->

            <!-- Social Icons -->
            <div class="magazine-sb-social margin-bottom-20">
                <div class="headline headline-md"><h2>Social</h2></div>
                <ul class="social-icons social-icons-color">
                    <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
                    <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                    <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
                    <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                    <li><a href="#" data-original-title="Dropbox" class="social_dropbox"></a></li>
                    <li><a href="#" data-original-title="Picasa" class="social_picasa"></a></li>
                    <li><a href="#" data-original-title="Spotify" class="social_spotify"></a></li>
                    <li><a href="#" data-original-title="Jolicloud" class="social_jolicloud"></a></li>
                    <li><a href="#" data-original-title="Wordpress" class="social_wordpress"></a></li>
                    <li><a href="#" data-original-title="Github" class="social_github"></a></li>
                    <li><a href="#" data-original-title="Xing" class="social_xing"></a></li>
                </ul>
                <div class="clearfix"></div>                
            </div>
            <!-- End Social Icons -->

            <!-- Quick Links -->
            <div class="magazine-sb-categories">
                <div class="headline headline-md"><h2>Quick Links</h2></div>
                <div class="row">
                    <ul class="list-unstyled col-xs-6">
                        <li><a href="#">Revolution Slider</a></li>
                        <li><a href="#">Parralax Page</a></li>
                        <li><a href="#">Backgrounds</a></li>
                        <li><a href="#">Parralax Slider</a></li>
                        <li><a href="#">Responsive</a></li>
                        <li><a href="#">Bootstrap 3x</a></li>
                    </ul>                        
                    <ul class="list-unstyled col-xs-6">
                        <li><a href="#">50+ Valid Pages</a></li>
                        <li><a href="#">Layer Slider</a></li>
                        <li><a href="#">Bootstrap 2x</a></li>
                        <li><a href="#">Fixed Header</a></li>
                        <li><a href="#">Best Template</a></li>
                        <li><a href="#">And Many More</a></li>
                    </ul>                        
                </div>
            </div>
            <!-- End Quick Links -->

            <!-- Photo Stream -->
            <div class="headline"><h3>Photo Stream</h3></div>            
            <ul class="list-unstyled blog-photos margin-bottom-30">
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/6.jpg", class: "hover-effect" %></a></li>
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/8.jpg", class: "hover-effect" %></a></li>
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/10.jpg", class: "hover-effect" %></a></li>
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/11.jpg", class: "hover-effect" %></a></li>
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/1.jpg", class: "hover-effect" %></a></li>
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/2.jpg", class: "hover-effect" %></a></li>
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/7.jpg", class: "hover-effect" %></a></li>
                <li><a href="#"><%= image_tag "unify/sliders/elastislide/3.jpg", class: "hover-effect" %></a></li>
            </ul>
            <!-- End Photo Stream -->

            <!-- Blog Twitter -->
            <div class="blog-twitter">
                <div class="headline"><h3>Latest Tweets</h3></div>
                <div class="blog-twitter-inner">
                    <i class="fa fa-twitter"></i>
                    <a href="#">@htmlstream</a> 
                    At vero seos etodela ccusamus et iusto odio dignissimos. 
                    <a href="#">http://t.co/sBav7dm</a> 
                    <span>5 hours ago</span>
                </div>
                <div class="blog-twitter-inner">
                    <i class="fa fa-twitter"></i>
                    <a href="#">@htmlstream</a> 
                    At vero eos et accusamus et iusto odio dignissimos. 
                    <a href="#">http://t.co/sBav7dm</a> 
                    <span>5 hours ago</span>
                </div>
                <div class="blog-twitter-inner">
                    <i class="fa fa-twitter"></i>
                    <a href="#">@htmlstream</a> 
                    At vero eos et accusamus et iusto odio dignissimos. 
                    <a href="#">http://t.co/sBav7dm</a> 
                    <span>5 hours ago</span>
                </div>
                <div class="blog-twitter-inner">
                    <i class="fa fa-twitter"></i>
                    <a href="#">@htmlstream</a> 
                    At vero eos et accusamus et iusto odio dignissimos. 
                    <a href="#">http://t.co/sBav7dm</a> 
                    <span>5 hours ago</span>
                </div>
            </div>
            <!-- End Blog Twitter -->

        </div>
        <!-- End Sidebar -->

  </div>
</div><!--/container-->     
<!-- End Content Part -->




<!--=== Footer ===-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 md-margin-bottom-40">
        <!-- About -->
        <div class="headline"><h2>About</h2></div>  
        <p class="margin-bottom-25 md-margin-bottom-40">Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals.</p>    
        <!-- Monthly Newsletter -->
        <div class="headline"><h2>Monthly Newsletter</h2></div> 
          <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
          <form class="footer-subsribe">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Email Address"> 
              <span class="input-group-btn">
                <button class="btn-u" type="button">Subscribe</button>
              </span>
            </div><!-- /input-group -->                    
          </form>                         
        </div><!--/col-md-4-->  
          
        <div class="col-md-4 md-margin-bottom-40">
          <div class="posts">
            <div class="headline"><h2>Recent Blog Entries</h2></div>
              <dl class="dl-horizontal">
                <dt><a href="#"><%= image_tag "unify/sliders/elastislide/6.jpg" %></a></dt>
                <dd>
                  <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt><a href="#"><%= image_tag "unify/sliders/elastislide/10.jpg" %></a></dt>
                <dd>
                  <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt><a href="#"><%= image_tag "unify/sliders/elastislide/11.jpg" %></a></dt>
                <dd>
                  <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                </dd>
              </dl>
           </div>
         </div><!--/col-md-4-->

    <div class="col-md-4">
      <!-- Monthly Newsletter -->
      <div class="headline"><h2>Contact Us</h2></div> 
      <address class="md-margin-bottom-40">
        25, Lorem Lis Street, Orange <br />
        California, US <br />
        Phone: 800 123 3456 <br />
        Fax: 800 123 3456 <br />
        Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
      </address>

      <!-- Stay Connected -->
      <div class="headline"><h2>Stay Connected</h2></div> 
        <ul class="social-icons">
          <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
          <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
          <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
          <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
          <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
          <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
          <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
        </ul>
      </div><!--/col-md-4-->
    </div><!--/row-->   
  </div><!--/container--> 
</div><!--/footer-->    
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">                      
                <p class="copyright-space">
                    2013 &copy; Unify. ALL Rights Reserved. 
                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                </p>
            </div>
            <div class="col-md-6">  
                <a href="index.html">
                    <img id="logo-footer" src="assets/img/logo2-default.png" class="pull-right" alt="" />
                    <%= image_tag "unify/logo2-default.png", class: "pull-right", id: "logo-footer" %>
                </a>
            </div>
        </div><!--/row-->
    </div><!--/container--> 
</div><!--/copyright--> 
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->           
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
    });
</script>
<!--[if lt IE 9]>
  <script src="assets/plugins/respond.js"></script>
<![endif]-->    
</body>
</html> 
