<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="sv"> <!--<![endif]-->  
<head>
  <title><%=full_title(yield(:title))%></title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico?1' %>  
  <!--
  <link rel=“shortcut icon” href=“/assets/images/favicon/favicon.ico”>
  <link rel=“apple-touch-icon” sizes=“57x57” href=“/assets/images/favicon/apple-touch-icon-57x57.png”>
  <link rel=“apple-touch-icon” sizes=“114x114” href=“/assets/images/favicon/apple-touch-icon-114x114.png”>
  <link rel=“apple-touch-icon” sizes=“72x72” href=“/assets/images/favicon/apple-touch-icon-72x72.png”>
  <link rel=“apple-touch-icon” sizes=“144x144” href=“/assets/images/favicon/apple-touch-icon-144x144.png”>
  <link rel=“apple-touch-icon” sizes=“60x60” href=“/assets/images/favicon/apple-touch-icon-60x60.png”>
  <link rel=“apple-touch-icon” sizes=“120x120” href=“/assets/images/favicon/apple-touch-icon-120x120.png”>
  <link rel=“apple-touch-icon” sizes=“76x76” href=“/assets/images/favicon/apple-touch-icon-76x76.png”>
  <link rel=“apple-touch-icon” sizes=“152x152” href=“/assets/images/favicon/apple-touch-icon-152x152.png”>
  <link rel=“icon” type=“image/png” href=“/assets/images/favicon/favicon-196x196.png” sizes=“196x196”>
  <link rel=“icon” type=“image/png” href=“/assets/images/favicon/favicon-160x160.png” sizes=“160x160”>
  <link rel=“icon” type=“image/png” href=“/assets/images/favicon/favicon-96x96.png” sizes=“96x96”>
  <link rel=“icon” type=“image/png” href=“/assets/images/favicon/favicon-16x16.png” sizes=“16x16”>
  <link rel=“icon” type=“image/png” href=“/assets/images/favicon/favicon-32x32.png” sizes=“32x32”>
  <meta name=“msapplication-TileColor” content=“#2b5797”>
  <meta name=“msapplication-TileImage” content=“/assets/images/favicon/mstile-144x144.png”>
  <meta name=“msapplication-square70x70logo” content=“/assets/images/favicon/mstile-70x70.png”>
  <meta name=“msapplication-square144x144logo” content=“/assets/images/favicon/mstile-144x144.png”>
  <meta name=“msapplication-square150x150logo” content=“/assets/images/favicon/mstile-150x150.png”>
  <meta name=“msapplication-square310x310logo” content=“/assets/images/favicon/mstile-310x310.png”>
  <meta name=“msapplication-wide310x150logo” content=“/assets/images/favicon/mstile-310x150.png”>-->
  <!-- JS Global Compulsory -->           
<script type="text/javascript">
var bottom;
   bottom = function() {
   App.init(); 
   var docHeight = $(window).height();
   var footerHeight =  $('#copyright').height()
   var footerTop = $('#copyright').position().top + footerHeight;

   if (footerTop < docHeight) {
    $('#footer').css('margin-top', 22+ (docHeight - footerTop) + 'px');
   }
  }; 

$(document).ready(bottom)
</script>
</head>

<body>
<!--=== Top ===-->    
<div class="top">
  <div class="container">
    <%= render "layouts/topbar" %>
  </div>
</div>
<!--=== End Top ===-->    


<!--=== Header ===-->    
<div class="header header-start">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Logo and toggle-menu button for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path do %>
          <div class="navbar-brand">
            <%= image_tag("layout/f.svg", id: "logo-header", height: "60") %>
          </div>
          <div class="navbar-brand-text pull-left">
            <span>&mdash;</span>TEKNOLOGSEKTIONEN<br />INOM TLTH
          </div>
        <% end %>
      </div>
    
      <%= render "layouts/menu" %>
    </div>    
  </div>    
</div><!--/header-->
<!--=== End Header ===-->

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs" style="border-bottom: 0px solid #333;">
  <div class="container">
	
  </div>
</div>
<!--=== End Breadcrumbs ===-->

<% if yield(:title) == 'Utskott' %>
  <div class="container">
    <%= render "layouts/utskottmenu" %>
  </div>
<% end %>


<!--=== Content Part ===-->
<%= yield :pre_content %>

<div class="container content">
  <div class="row magazine-page">    	
    <!-- Begin Content -->
    <div class="col-md-12">
      <% if notice %>
		    <div class="alert alert-info">
		      <button type="button" class="close" data-dismiss="alert">&times;</button>
		      <%= notice %>
		    </div> 
      <% end %>

			<% if alert %>
				<div class="alert alert-danger fade-in">
				  <button type="button" class="close" data-dismiss="alert">&times;</button>
				  <strong>Fel:</strong> <%= alert %>
			  </div> 
			<% end %> 
      
			<%= yield %>

      <%= yield :role_sidebar %>
      <%= yield :role_main %>

    </div>
  </div><!-- /row -->
</div><!--/container-->     
<!-- End Content Part -->

<!--=== Footer ===-->
<div class="footer navbar" id="footer">
  <div class="container">
    <div class="row">
      <%= render "layouts/footer" %>
    </div> 
  </div>
</div>   
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright" id="copyright">
  <div class="container">
    <div class="row">
      <%= render "layouts/bottombar" %>    
    </div>
  </div> 
</div> 
<!--=== End Copyright ===-->

<!--[if lt IE 9]>
  <script src="assets/plugins/respond.js"></script>
<![endif]-->    
</body>
</html> 
