<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title><%= yield :title %></title>
    <style>
      <% # Inlines css from 'email.scss', inline by Roadie. %>
      <%= inline_css('email.scss') %>
    </style>
  </head>

  <body bgcolor="#FFFFFF">
    <%= render 'layouts/email/header' %>

    <%= render 'layouts/email/body' %>

    <%= render 'layouts/email/footer' %>
  </body>
</html>
