<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
  <title>-sektionen</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  
</head>

<body>

<!--=== Top ===-->    
<div class="top">
  <div class="container">
    <%= render "layouts/topbar" %>
  </div>
</div>
<!--=== End Top ===-->    

<!--=== Header ===-->    
<div class="header header-start">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Logo and toggle-menu button for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to image_tag("layout/f.svg", id: "logo-header", height: "60"), root_path, class: "navbar-brand" %>
				<div class="navbar-brand-text pull-left">
					<span>&mdash;</span>TEKNOLOGSEKTIONEN<br>INOM TLTH.
				</div>
            </div>
        
            <!-- Menus -->
            <%= render "layouts/menu" %>
       </div>    
    </div>    
</div><!--/header-->
<!--=== End Header ===-->

<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left"><%= yield(:title) || "CALL title('title') IN VIEW TO SET TITLE" %></h1>
    <ul class="pull-right breadcrumb">
    </ul>
  </div>
</div>


<!--=== Content Part ===-->
	<div class="carousel slide carousel-v1 margin-bottom-20 margin-top-20" id="myCarousel-1">
                <div class="carousel-inner">
                    <div class="item active">
						<div class="start-background"></div>
                    </div>
                </div>
                
               <!-- <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel-1" class="left carousel-control">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#myCarousel-1" class="right carousel-control">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div> -->
            </div>

<div class="container">
    <div class="row magazine-page">    	
        <!-- Begin Content -->
        <div class="col-md-12"> 
            <!--Magazine Mini News & Info Block-->
            <div class="row">
                <!--Mini News-->
                <div class="col-md-4">
                	<div class="search-blocks-top-orange">
                		<h3>Nyheter</h3>
                		<hr>                		
                	</div>
                	<% @news.sort_by{|news|news.created_at}.reverse.slice(0,3).each do |news| %>
									<div class="row">
											<div class ="col-md-12">
												<h4><%= news.title %></h4>
												<ul class="list-unstyled blog-info">
    											<li><%= fa_icon("user") %> <%= link_to (User.find(news.author).profile.name)+' - ('+ Role.find(User.find(news.author).role_id).title+')' ,User.find(news.author).profile %></li>    	
      											<li><i class="fa fa-calendar"></i> <%= news.created_at.in_time_zone("Berlin").to_formatted_s(:short) %></li>      
    											</ul>														
									      		
								      		</div>
						   			</div>							   			
						   			<div class="row">
							   			<div class ="col-md-12">							   				
							   				<%= simple_format(news.content) %>
							   			</div>
							   			</div>
						    		<hr>						    			    		
					<% end %>
				   <div class="news-read-more">
                        <i class="fa fa-plus"></i>
                        <%= link_to 'Fler nyheter','/nyhet'%>
                    </div>
                </div><!-- col-md-4 -->

                <!--Info Block-->
				<%=yield%>
                <!--End Info Block-->
            </div> <!-- row -->
        </div>
  </div>
  </div>
<!--/container-->     
<!-- End Content Part -->




<!--=== Footer ===-->
<div class="footer">
  <div class="container">
    <div class="row">
      <%= render "layouts/footer" %>
    </div> 
  </div>
</div>   
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
  <div class="container">
    <div class="row">
      <%= render "layouts/bottombar" %>    
    </div>
  </div> 
</div> 
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->           
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
    });
</script>
<!--[if lt IE 9]>
  <script src="assets/plugins/respond.js"></script>
<![endif]-->    
</body>
</html> 
