<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
  <title>F-sektionen</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<!--=== Top ===-->    
<div class="top">
  <div class="container">
    <%= render "layouts/topbar" %>
  </div>
</div>
<!--=== End Top ===-->    

<!--=== Header ===-->    
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Logo and toggle-menu button for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to image_tag("layout/f-60.png", id: "logo-header", height: "60"), root_path, class: "navbar-brand" %>
				<div class="navbar-brand-text pull-left">
					<span>&mdash;</span>TEKNOLOGSEKTIONEN<br>INOM TLTH.
				</div>
            </div>
        
            <!-- Menus -->
            <%= render "layouts/menu" %>
       </div>    
    </div>    
</div><!--/header-->
<!--=== End Header ===-->  


<!--=== Content Part ===-->

	<div class="carousel slide carousel-v1 margin-bottom-20" id="myCarousel-1">
                <div class="carousel-inner">
                    <div class="item active">
                      <%= image_tag "img/bg.jpg" %>
                    </div>
                </div>
                
               <!-- <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel-1" class="left carousel-control">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#myCarousel-1" class="right carousel-control">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div> -->
            </div>


<div class="container">
    <div class="row magazine-page">
        <!-- Begin Content -->
        <div class="col-md-12"> 
            <!--Magazine Mini News & Info Block-->
            <div class="row">
                <!--Mini News-->
                <div class="col-md-4">
                	<% @news.sort_by{|news|news.created_at}.reverse.slice(0,10).each do |news| %>
                    <div class="magazine-mini-news">            <!--Mini-news-->
				    <h2><%= news.title %></h2>					
				    <ul class="list-unstyled list-inline blog-info">
				      <li><i class="fa fa-calendar"></i> <%= news.created_at.in_time_zone("Berlin").to_formatted_s(:db) %></li>      
				    </ul>					
				    <p><%= news.content %></p>
				    <hr>
				  </div>     <!--End Mini News-->
				  <% end %> 
                </div><!-- col-md-4 -->

                <!--Info Block-->
				<%=yield%>
                <!--End Info Block-->
            </div> <!-- row -->
        </div>
  </div>
  </div>
<!--/container-->     
<!-- End Content Part -->




<!--=== Footer ===-->
<div class="footer">
  <div class="container">
    <div class="row">
      <%= render "layouts/footer" %>
    </div> 
  </div>
</div>   
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
  <div class="container">
    <div class="row">
      <%= render "layouts/bottombar" %>    
    </div>
  </div> 
</div> 
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->           
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
    });
</script>
<!--[if lt IE 9]>
  <script src="assets/plugins/respond.js"></script>
<![endif]-->    
</body>
</html> 
